.ReactNativeAppDevelopmentbannermainbox {
  height: 100vh;
  width: 99.6%;
  background-image: url("/Images/ReactNativeDevelopement/reactnative.webp");
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-evenly;
  background-size: cover;
  background-position: center;
  margin-top: 120px;
}
.reactfileIcon{
  width: 40%;
  margin: auto;
 margin-left: 20%;
 margin-bottom: 20%;
 /* border: 2px solid yellow; */
}

.ReactNativeAppDevelopmentbannermainboxinnertextdiv {
  height: 50%;
  width: 40%;
  margin-top: 8%;
  margin-left: 3%;
}

.ReactNativeAppDevelopmentbannermainboxinnertextdiv > h1 {
  color: white;
  font-size: 40px;
}
.ReactNativeAppDevelopmentbannermainboxinnertextdiv > p {
  color: white;
  margin-top: 7%;
  font-size: 16px;
  text-align: justify;
}

.ReactNativeAppDevelopmentbannerbutton {
  padding: 10px 50px;
  border-radius: 10px;
  width: 220px;
  background-color: #3380f2;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-top: 22px;
}

.ReactNativeAppDevelopmentbannerbutton:hover {
  background-color: white;
  color: #3380f2;
}
@media only screen and (min-width:0px) and (max-width:480px){

  .ReactNativeAppDevelopmentbannermainbox {
    height: 100vh;
    width: 100%;
    background-image: url("/Images/ReactNativeDevelopement/Component 68 1.webp");
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: top;
    margin-top: 0px;
  }
  
  .ReactNativeAppDevelopmentbannermainboxinnertextdiv {
    height: 50%;
    width: 80%;
    text-align: center;
  }
  
  .ReactNativeAppDevelopmentbannermainboxinnertextdiv > h1 {
    font-size: 30px;

  }
  .ReactNativeAppDevelopmentbannermainboxinnertextdiv > p {
    margin-top: 7%;
    font-size: 16px;
  }
  
  .ReactNativeAppDevelopmentbannerbutton {
    padding: 10px 50px;
    border-radius: 10px;
    width: 220px;
    background-color: #3380f2;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-top: 22px;
  }
  
  .ReactNativeAppDevelopmentbannerbutton:hover {
    background-color: white;
    color: #3380f2;
  }
}




