.newfeaturemainboxes {
    padding-top: 1%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.newfeaturemainboxes>span {
    width: 40%;
    height: fit-content;
}

.newfeaturemainboxes>div {
    width: 50%;
}

.newfeaturemainboxes>div>h1 {
    font-size: 28px;
}

.newfeaturemainboxes>div>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
    align-items: center;
    width: 100%;
}

.newsfeaturesContent {
    height: fit-content;
    width: 40%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 200ms linear;
}

.newsfeaturesContent:hover {
    background-color: #ffe2db;
    transform: translateY(-2%);
}

.newsfeaturesContent>div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.newsfeaturesContent>div>span {
    height: 30px;
    width: fit-content;
}

.newsfeaturesContent>div>h1 {
    font-size: 20px;
}

.newsfeaturesContent>p {
    font-size: 16px;
    text-align: justify;
}