.ionicDevelopmentExpertiseMainDiv {
  /* border: 2px solid red; */
  margin-top: 3%;
  margin-bottom: 3%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.ionicDevelopmentExpertiseIconContainer {
  /* border: 2px solid red; */
  width: 48%;
  margin-left: 4%;
  border-right: 1px solid gray;
}
.ionicDevelopmentExpertiseContent {
  /* border: 2px solid red; */
  width: 48%;
}
.ionicDevelopmentExpertiseContent>p{
  text-align: justify;
}



.ionicDevelopmentExpertiseContentHeading {
  /* border: 2px solid red; */
  margin-top: 8%;
  margin-left: 5%;
}
.ionicDevelopmentExpertiseContentText {
  margin-top: 3%;
  margin-left: 5%;
  width: 80%;
  /* border: 2px solid red; */
}
.ionicDevelopmentExpertiseIconOuterBox {
  /* border: 2px solid red; */
  width: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
}
.ionicDevelopmentExpertiseContainerDiv {
  /* border: 2px solid green; */
  width: 45%;
  display: flex;
  flex-direction: row;
  margin-left: 4%;
}

.ionicDevelopmentExpertiseContainerDiv:hover {
  cursor: pointer;
  /* margin-top: 0; */
  transition: all 0.2s linear;
  /* transform: scale(1.1); */
  transform: translateY(-15px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ionicDevelopmentExpertiseIcon {
  width: 60px;
  height: 60px;
  margin-top: 10%;
  /* border: 2px solid blue; */
}
.ionicDevelopmentExpertiseIcon > img {
  width: 100%;
  height: 100%;
}
.ionicDevelopmentExpertiseIconHeading {
  width: 75%;
  /* border: 2px solid salmon; */
  padding-top: 4%;
  margin-left: 4%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.ionicDevelopmentExpertiseIconHeading h4{
  margin: 0%;
}
.ionicDevelopmentExpertiseIconHeading p{
  /* border: 2px solid green; */
  margin: 0%;
  text-align: justify;
}
@media only screen and (min-width:0px) and (max-width:1024px){
  .ionicDevelopmentExpertiseMainDiv {
    /* border: 2px solid red; */
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  .ionicDevelopmentExpertiseIconContainer {
    /* border: 2px solid red; */
    width: 95%;
  margin: auto;
    border-right: none;
  }
  .ionicDevelopmentExpertiseContent {
    /* border: 2px solid red; */
    width: 95%;
    margin: auto;
    text-align: center;
  }
  .ionicDevelopmentExpertiseContentHeading {
    /* border: 2px solid red; */
    margin: auto;
  }
  .ionicDevelopmentExpertiseContentText {
   margin: auto;
    width: 100%;
  text-align: justify;
    /* border: 2px solid red; */
  }
  .ionicDevelopmentExpertiseIconOuterBox {
    /* border: 2px solid red; */
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
  }
  .ionicDevelopmentExpertiseContainerDiv {
    /* border: 2px solid green; */
    width: 70%;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 3%;
  }
  
  .ionicDevelopmentExpertiseContainerDiv:hover {
    cursor: pointer;
    /* margin-top: 0; */
    transition: all 0.2s linear;
    /* transform: scale(1.1); */
    transform: translateY(-15px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .ionicDevelopmentExpertiseIcon {
    width: 60px;
    height: 60px;
    margin-top: 10%;
    /* border: 2px solid blue; */
  }
  .ionicDevelopmentExpertiseIcon > img {
    width: 100%;
    height: 100%;
  }
  .ionicDevelopmentExpertiseIconHeading {
    width: 75%;
    /* border: 2px solid salmon; */
    padding-top: 1%;
    margin: 0%;
    /* margin-left: 4%; */
    display: flex;
    flex-direction: column;
  }
  .ionicDevelopmentExpertiseIconHeading p{
    margin-top: 0%;
    /* border: 2px solid yellow; */
  }
}
