.andriodUserCentricMainDiv{
width: 100%;
display: flex;
flex-direction: row;
margin-top: 2%;
}
.andriodUserCentricIconContainer{
width: 48%;
margin-left: 4%;
border-right: 1px solid black;
}
.andriodUserCentricContent{
width: 48%;
}
.andriodUserCentricContentHeading{
 margin-top: 8%;
margin-left: 5%;
}
.andriodUserCentricContentText{
margin-top: 3%;
margin-left: 5%;
width: 80%;
text-align: justify;
}
.andriodUserCentricIconOuterBox{
width: 100%;
margin-top: 5%;
display: flex;
flex-direction: row;
}
.andriodUserCentricContainerDiv{
width: 45%;
display: flex;
flex-direction:row;
margin-left: 4%;
}
.andriodUserCentricIcon{
width: 70px;
height: 70px;
margin-top: 5%;
}
.andriodUserCentricIconHeading{
width: 75%;
padding-top: 4%;
margin-left: 4%;
display: flex;
flex-direction: column;
}
.andriodUserCentricIconHeading>p{
text-align: justify;
}
.mobileappactionbutton{
margin-left: 200px;
font-size: 18px;
border-radius: 15px;
width: 220px;
height: 50px;
font-weight: 550;
background-color: #ef4c23;
color: white;
border: 1px solid lightgrey;
}
.mobileappactionbutton:hover{
background: white;
color: black;
}
.mobileappactionbuttondiv{
margin-top: 5%;
}

@media only screen and ( min-width:0px) and (max-width:1024px){
.andriodUserCentricMainDiv{
width: 100%;
display: flex;
flex-direction: column-reverse;
margin-top: 5%;
}
.andriodUserCentricIconContainer{
width: 100%;
margin: auto;
border: none;
}
.andriodUserCentricContent{
width: 100%;
margin: auto;
text-align: center;
}
.andriodUserCentricContentHeading{
margin: auto;
width: 90%;
}
.andriodUserCentricContentText{       
width: 90%;
margin: auto;
margin-top: 2%;
text-align: justify;
}
.andriodUserCentricIconOuterBox{
width: 100%;
margin-top: 5%;
display: flex;
flex-direction: column;
}
.andriodUserCentricContainerDiv{
width:70%;
display: flex;
flex-direction:row;
margin: auto;
}
.andriodUserCentricIconHeading>p{
text-align: justify;
}
.andriodUserCentricIcon{
width: 70px;
height: 70px;
margin-top: 9%;
}
   
    .andriodUserCentricIconHeading{
        width: 75%;
        /* border: 2px solid salmon; */
        padding-top: 4%;
        margin-left: 4%;
        display: flex;
        flex-direction: column;
    }
    .andriodUserCentricIconHeading p{
        margin: 4%;
    }
    .andriodUserCentricIconHeading h4{
    margin: 0%;
    }
    .mobileappactionbutton{
        margin-left: 1px;
        /* border: 2px solid green; */
        font-size: 18px;
        border-radius: 15px;
        width: 220px;
        height: 50px;
        font-weight: 550;
        background-color: #ef4c23;
        color: white;
        border: 1px solid lightgrey;
        
        
        }
        .mobileappactionbutton:hover{
            background: white;
            color: black;
        }
        .mobileappactionbuttondiv{
            /* border: 2px solid red; */
            margin-top: 5%;
            /* width: 20px; */
            /* text-align: center; */
            
            
        }
}



