.carpoolSolutions {
  width: 97%;
}

.carpoolSolutionIntro {
  width: 60%;
  margin: auto;
  padding-top: 3%;
  text-align: center;
}

.solutionsFeatures {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 25px;
}

.solutionCards {
  width: 20%;
  height: 320px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.24);
}

.solutionCards:hover {
  cursor: pointer;
  transition: all 0.2s linear;
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.solutioncardIcon {
  width: 50px;
  height: 50px;
  padding: 2px 0;
}

.solutioncardIcon > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.solutionContent {
  width: 100%;
  margin-top: 10px;
}

.solutionContent > h5 {
  margin-top: 0%;
  margin-bottom: 0%;
}

/* Media query for the Mobile Device */
@media (max-width: 480px) {
  .carpoolSolutions {
    width: 100%;
  }

  .carpoolSolutionIntro {
    width: 85%;
    margin: auto;
    text-align: center;
  }

  .carpoolSolutionIntro > h1 {
    font-size: 14px;
    font-size: 500;
  }

  .carpoolSolutionIntro > p {
    font-size: 12px;
    font-weight: 400;
  }

  .solutionsFeatures {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
  }

  .solutionCards {
    width: 95%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    margin-bottom: 3%;
  }

  .solutionCards:hover {
    cursor: pointer;
    transition: all 0.2s linear;
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .solutioncardIcon {
    width: 50px;
    height: 50px;
    padding: 2px 0;
  }

  .solutioncardIcon > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .solutionContent {
    width: 100%;
    margin-top: 10px;
  }

  .solutionContent > h5 {
    margin-top: 0%;
    margin-bottom: 2%;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .carpoolSolutions {
    width: 100%;
    margin-top: 3%;
  }

  .carpoolSolutionIntro {
    width: 85%;
    margin: auto;
    text-align: center;
  }

  .carpoolSolutionIntro > h1 {
    font-size: 20px;
    font-size: 600;
  }

  .carpoolSolutionIntro > p {
    font-size: 14px;
    font-weight: 400;
  }

  .solutionsFeatures {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    column-gap: 60px;
  }

  .solutionCards {
    width: 92%;
    height: fit-content;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 3%;
  }

  .solutionCards:hover {
    cursor: pointer;
    transition: all 0.2s linear;
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .solutioncardIcon {
    width: 50px;
    height: 50px;
    padding: 2px 0;
  }

  .solutioncardIcon > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .solutionContent {
    width: 100%;
    margin-top: 10px;
  }

  .solutionContent > h5 {
    margin-top: 0%;
    margin-bottom: 3%;
  }
}
