.carpoolingRide {
width: 100%;
height: 400px;
background: url("/Images/carpoolingpage/bannersbackgrounds/rideback.webp");
background-repeat: no-repeat;
background-size: 100%;
position: relative;
}
.carpoolingRide > div {
width: 60%;
position: absolute;
transform: translate(-50%, -50%);
top: 66%;
left: 36%;
}
.carpoolingRide > div > h1 {
margin-bottom: 25px;
}

.bottomButton {
padding: 10px 60px;
border-radius: 25px;
background-color: #ef4c23;
border: none;
color: white;
font-size: 18px;
font-weight: 600;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.bottomButton:hover {
color: #ef4c23;
background-color: white;
}

/* Media query for the Mobile Device */

@media (max-width: 480px) {
.carpoolingRide {
width: 100%;
height: 130px;
background: url("/Images/carpoolingpage/bannersbackgrounds/MobileImageComp.webp");
background-repeat: no-repeat;
background-size: 100%;
position: relative;
margin-left: 6%;
 
}

.carpoolingRide > div {
width: 70%;
margin-top: 0%;
position: absolute;
transform: translate(-50%, -50%);
top: 55%;

}

.carpoolingRide > div > h1 {
font-size: 11px;
color: white;
font-weight: 500;
margin-left: 3%;
 
}

.bottomButton {
padding: 8px 30px;
border-radius: 25px;
background-color: #ef4c23;
border: none;
color: white;
font-size: 12px;
font-weight: 600;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
display: none;
}

.bottomButton:hover {
color: #ef4c23;
background-color: white;
}
}

@media (min-width: 481px) and (max-width: 1024px) {
.carpoolingRide {

width: 100%;
height: 200px;
background: url("/Images/carpoolingpage/bannersbackgrounds/MobileImageComp.webp");
background-repeat: no-repeat;
background-size: 100%;
position: relative;
margin-left: 6%;
margin-top: 0%;

}

.carpoolingRide > div {

width: 70%;
margin-top: 0%;

position: absolute;
transform: translate(-50%, -50%);

}

.carpoolingRide > div > h1 {

font-size: 20px;
color: white;
font-weight: 500;
margin-left: 3%;

}

.bottomButton {
padding: 8px 30px;
border-radius: 25px;
background-color: #ef4c23;
border: none;
color: white;
font-size: 12px;
font-weight: 600;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
display: none;
}

.bottomButton:hover {
color: #ef4c23;
background-color: white;
}
}
