.socialmedialowerbannermainboxes {
  margin-top: 5%;
  background: url("/Images/socialmedia/bannesbackground/Group 339983.webp");
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  margin-bottom: 5%;
}

.socialmediaflexboxlowerbanner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90%;
  width: 80%;
  margin: auto;
}

.medialowerbannerimagedivflexing {
  width: 100px;
  text-align: center;
  /* border: 2px solid r   ed; */
  /* margin-left: 5%; */
}

.medialowerbannerimagedivflexing > h5 {
  color: white;
  margin-top: 3%;
  font-size: 18px;
}
