.consultingQuestionParentDiv {
position: relative;
margin-top: 4%;
}
.consultingQuestionBackImage > img {
width: 100%;
object-fit: cover;
}
.consultingQuestionContentMainDiv {
position: absolute;
display: flex;
flex-direction: row;
width: 100%;
top: 0;
}
.consultingQuestionContentTextDiv {
width: 50%;
align-items: center;
justify-content: center;
margin-left: 5%;
padding: 1%;
}
.consultingQuestionContentTextDiv > div {
border: 2px solid #ef4c23;
background-color: #ef4c23;
width: 50%;
}
.consultingQuestionContentTextDiv > p {
margin-top: 1%;
}
.consultingQuestionContentButtonDiv {
width: 40%;
text-align: center;
margin-top: 4%;
}
.consultingQuestionContentButtonDiv button {
padding: 10px 50px;
border-radius: 10px;
background-color: #ef4c23;
border: none;
color: white;
font-size: 18px;
font-weight: 600;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.consultingQuestionContentButtonDiv button:hover {
color: #ef4c23;
background-color: white;
}