.RGroundIconsBoxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.RGroundIconsBoxContainer>span {
  width: 50%;
  height: 10px;
  background-color: #ef4c23;
  border: none;
  border-style: none;
  border-width: none;
  color: #ef4c23;
  outline: none;
  margin: 0;
}

.RGroundIconsBoxContainer>span:first-child {
  align-self: flex-start;
}

.RGroundIconsBoxContainer>span:last-child {
  align-self: flex-end;
  margin-bottom: 20px;
}

.roundIconsTextTitleDiv {
  width: 80%;
  text-align: center;
  margin: 10px 0;
}

.roundIconsTextTitleDiv>h1 {
  font-size: 32px;
}

.roundIconsTextTitleDiv>p {
  font-size: 16px;
}

.roundIconsTextCardsDiv {
  width: 95%;
  margin: 10px 0;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.roundIconsTextCardsDiv>div {
  width: 22%;
  padding: 10px;
  border-radius: 20px;
  cursor: default;
  transition: all 300ms linear;
}

.roundIconsTextCardsDiv>div:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.roundIconsTextCardsDiv>div>p {
  font-size: 16px;
  text-align: justify;
}

.roundIconTitleDiv {
  color: white;
  background: #ef4c23;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  aspect-ratio: 1/1;
  padding: 15px;
  border-radius: 100%;
  margin-bottom: 10px;
}

.roundIconTitleDiv>h2 {
  font-size: 16px;
  text-align: center;
}

.roundIconTitleDiv>span {
  width: 30%;
  margin-bottom: 10px;
}