.positionss{
    width: 100%;
    height: 100%;
    position: absolute;
}

.newYorkLocation {
    position: absolute;
    top: 30%;
    left: 25%;
    width: 20px;
    height: 20px;
    z-index: 1;
  }
  .zambiaLocation {
    position: absolute;
    top: 62%;
    left: 54%;
    width: 20px;
    height: 20px;
    z-index: 1;

  }
  .germanyLocation {
    position: absolute;
    top: 25%;
    left: 49%;
    width: 20px;
    height: 20px;
    z-index: 1;

  }
  .indiaLocation {
    position: absolute;
    top: 41%;
    left: 67%;
    width: 20px;
    height: 20px;
    z-index: 1;

  }
  .uaeLocation {
    position: absolute;
    top: 40%;
    left: 62%;
    width: 20px;
    height: 20px;
    z-index: 1;

  }



  .tooltipCustomised {
    background-color: #ef4c23;
    width: 130px;
    /* height: 80px; */
    box-sizing: border-box;
    padding: 8px;
    border-radius: 5px;
    color: white;
    margin-top: 3%;
    margin-left: -1.5%;
    position: relative;
  }
  
  .tooltipCustomised > p {
    font-size: 10px;
    margin: 0;
  }
  
  .indicate {
    width: 10px;
    height: 10px;
    position: absolute;
    top: -5px;
    left: 15px;
    transform: rotate(45deg);
    background-color: #ef4c23;
  }