.yanbalmainboxes{
    height: 85vh;
    /* border: 2px solid red; */
    background: url("/Images/portfolio/yanbal/Background/Group\ 770953.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    display: flex;
   justify-content: space-around;
}

.portfolioyanballeftbox{
    width: 50%;
    /* border: 5px solid green; */
    margin-left: 3%;
    margin-top: 5%;
}

.portfolioyanbalrightbox{
    width: 50%;
    height: 100%;

}

.portfolioyanbalrightboximage{
    width: fit-content;
}

.portfolioyanbelrightinnerimages{
    height: 80%;
    width: 35%;
    /* border: 1px solid white; */
    margin-top: 8%;
    margin-left: 2%;
}
.portfolioyanbelrightinnerimages>img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}


.nextholidayrighttbox{
    height: fit-content;
    width: 45%;
    margin-right: 2%;
    
}

.portfolioyanballeftbox>p{
    font-size: smaller;
    text-align: justify;
}

.yanbalrightinsideflexbox{
    /* border: 1px solid red; */
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.yanbalwrapbox1{
/* border: 1px solid green; */
width: 40%;
margin: 3%;
padding: 5px;
}

.yanbalwrapbox1>h5{
    font-weight: 900;
    font-size: 20px;
    text-align: center;

}

.yanbalwrapbox1>p{
    font-size: 17px;
    text-align: center;
    margin-top: -0%;

}

.portfolioavailableonicon{
    display: flex;
  margin: auto;
  width: 40%;

}

.porfolionextholidayicon{

margin: 5% ;
height: 25%;
width: 35%;
border-right: 1px solid white;
}

.porfolionextholidayicon:last-child{
    border-right: none;
}





.porfolionextholidayicon>img{
    height: 100%;
    width: 80%;
    object-fit: contain;
}

.yanbalwrapboximages{
    width: 25%;
 

}
.yanbalwrapbox1>img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.yanbalviewcasebutton{
    padding: 10px 20px;
  border-radius: 100px;
  width: 150px;
  background-color: transparent;
  border: #ef4c23;
  outline: none;
  box-shadow: white 0px 0px 3px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  margin-top: 5%;

}

.yanbalviewcasebutton:hover{
    background-color: white;
    color: black;
}
