.RGadminPannelContainer {
  position: relative;
  margin-top: 10%;
  display: flex;
  align-items: center;
}

.RGadminPannelTextDiv {
  position: absolute;
  height: fit-content;
  left: 4%;
  bottom: 100%;
  width: 36%;
}

.RGadminPannelMobileRightDiv {
  height: 400px;
  width: 50%;
  position: relative;
  background: url("/Images/Car-Rental-Page-Images/Rectangle 4790.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.RGadminPannelMobileRightDivFrameForImages {
  position: absolute;
  height: 100%;
  width: 100%;
}

.RGadminPannelMobileRightDivFrameForImages > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.RGadminPannelLeftDiv {
width: 45%;
height: 100%;
display: flex;
flex-wrap: wrap;
margin: auto;
gap: 20px;
}

.RGadminPannelLeftDivBoxex {
padding: 10px 10px 10px 10px;
height: 220px;
width: 45%;
border-radius: 18px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
border-radius: 10px;
background-color: white;
cursor: pointer;
}

.RGadminPannelLeftDivBoxex:hover {
  cursor: pointer;
  transition: all 0.2s linear;
  transform: translateY(-10px);
  background-color: rgb(228, 252, 254);
}
.RGadminPannelLeftDivicon{
  height: 22%;
  width: 15%;
}
.RGadminPannelLeftDivBoxex > div > h4 {
  margin-top: 1%;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  vertical-align: baseline;
  margin-bottom: 1%;
  margin-top: 1%;
}

.RGadminPannelLeftDivBoxex > div > p {
  margin-top: 0%;
  font-size: 15px;
  line-height: 20px;
  vertical-align: baseline;
  font-weight: 400;
}

.RGadminPannelSpan {
  color: #ef4c23;
}
