.appbuildersolutionbannermainboxes {
  height: 100vh;
  border: 1px solid white;
  /* background: url("/Images/Appbuildersolutions/Bannersbackgrounds/Component 97.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.appbuildersolutionboxfortextenter {
  height: fit-content;
  width: 45%;
  margin-left: 5%;
  color: black;
  margin-top: 18%;
}

.appbuildersolutionboxfortextenter>h1 {
  font-size: 37px;
  font-weight: 700;
}

.appbuildersolutionbannerbutton {
  padding: 10px 50px;
  border-radius: 100px;
  width: 250px;
  background-color: #3380f2;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-top: 5%;
}

.appbuildersolutionbannerbutton:hover {
  background-color: white;
  border: 2px solid #3380f2;
  color: black;
}

.appBuilderSolutionBannerAnimationDiv {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 50%;
  height: fit-content;
}

.appBuilderSolutionsBannerAnimation {
  /* border: 1px solid red; */
  width: 90%;
}