.laundrypageadminmainbox {
  height: fit-content;
  width: 100%;
  display: flex;
  margin-top: 4%;
}

.laundryadminleftbox {
  height: fit-content;
  width: 50%;

  margin-left: 5%;
}

.laundryadminmappingbox {
  height: fit-content;
  width: 100%;

  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
}

.laundryadmindatamappingindi {
  width: 44%;
  height: 160px;
  margin: 1%;
  border-radius: 10px;
  padding: 10px;
  text-align: justify;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.laundryadmindatamappingindi:hover {
  transform: scale(1.02);
  background-color: #efeae1;
}

.laundryadminrightbox {
  width: 40%;
  height: 450px;
  margin-top: 5%;
  margin-left: 3%;
}

.laundryadminrightbox > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.laundryadmindatamappingindi > h4 {
  /* border: 1px solid red; */
  margin-top: 2%;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  vertical-align: baseline;
  margin-bottom: 1%;
}

.laundryadmindatamappingindi > p {
  margin-top: 2%;
  font-size: 15px;
  line-height: 20px;
  vertical-align: baseline;
  font-weight: 400;
}
