.bannerlaundrypage {
  position: relative;
}

.bannerlaundrypagebanner {
  height: 100%;
  width: 100%;
  padding: 20px;
  object-fit: contain;
  margin-top: 5%;
}

.bannertext {
  position: absolute;
  height: 45%;
  width: 35%;
  top: 30%;
  left: 5%;
  margin: auto;
  padding: 10px;
}

.laundrypagebannerbutton {
  padding: 10px 50px;
  border-radius: 100px;
  width: fit-content;
  background-color: #3380f2;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 18px;
  font-weight: 600;
}

.laundrypagebannerbutton:hover {
  background-color: white;
  color: #3380f2;
}

.laundryapplicationmaindiv {
  margin-top: 3%;
}

.laundryapplicationtxtdiv {
  height: 150px;
  text-align: center;
  width: 70%;
  margin-left: 190px;
}


.laundryapplicationtxtdiv > h5 {
  color: green;
}

.laundryapplicationtxtdiv > h1 {
  font-size: 32px;
  font-weight: 600;
}

.laundryapplicationflexbox {
  display: flex;
  margin-left: 25%;
}

.laundryflexboxno1 {
  height: fit-content;
  width: 30%;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.laundryflexboxno2 {
  height: 400px;
  width: 350px;

  margin-left: 10%;
  border-radius: 20%;
}

.laundrypageflexboxno1imagediv {
  height: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 40px;
}

.laundrypageflexboxno2imagediv {
  height: 50%;
}

.laundrypageflexboxno1imagedivimage1 {
  height: 100%;
  width: 100%;
}

.laundrypageflexboxno1imagedivimage2 {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.laundryflexbox1imagetxt1 {
  text-align: center;
  padding: 10px;
}
.laundryflexbox1imagetxt {
  padding: 10px;
}
.laundryflexbox1imagetxt2 {
  text-align: justify;
}
.laundryflexboximageboxgreentxt {
  text-align: center;
  color: green;
}

.laundryflexboxno2 {
  height: fit-content;
  width: 30%;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.laundrydeliveryappflexboxright {
  width: 50%;
  height: auto;
}

.laundrydeliveryappflexboxleftimagesof1 {
  position: absolute;
  z-index: 0;
  height: 100%;
}

.laundrydeliveryappflexboxleftimagesof2 {
  position: absolute;
  z-index: 1;
}

.laundryfleximage1o1 {
  position: absolute;
  width: 100%;
  z-index: 0;
  right: 10%;
}





.adminpannelLaundrydivmainbox {
  margin-top: 10%;
  margin-bottom: 10%;
}
.marketplaceadmin2ndchildlaundrypage {
  position: absolute;
  width: 100%;
  height: fit-content;
  left: -1%;
  top: 50%;
  display: flex;
  flex-wrap: wrap;
}

.flexboxadminagainlaundrypage {
  display: flex;
  align-items: center;
  height: fit-content;
  width: 45%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  padding: 2%;
  background-color: white;
  margin: 2%;
}

.imageboxflexboxinsiderimagelaundry {
  width: 15%;
  margin-right: 3%;
  margin-top: -55px;
}

.laundrypageadmindisplayfleximage2 {
  width: 70%;
  position: relative;
  z-index: 1;
  left: -15%;
}

.laundrypageflexboximage2 {
  width: 130%;
  height: 150%;
  position: relative;
  top: -26%;
  object-fit: contain;
  z-index: 1;
  display: block;
}

.laundrypagefooterdivspecial {
  height: 50%;
  width: 75%;
  position: relative;
  top: 5%;
  left: 12%;
}

.laundrypagefooterinnerbox {
  display: flex;
  position: relative;
  height: 125px;
  width: 220px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  left: 3%;
  margin-top: 3%;
  background-color: white;
  margin: 2%;
}
.solutionsFeatures {
  display: flex;
}











.laundryadmindatamappingindi > h4 {
  margin-top: 1%;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  vertical-align: baseline;
  margin-bottom: 1%;
  margin-top: 0%;
}

.laundryadmindatamappingindi > p {
  margin-top: 0%;
  font-size: 15px;
  line-height: 20px;
  vertical-align: baseline;
  font-weight: 400;
}
