.bannerlaundrypage {
  position: relative;
}

.bannerlaundrypagebanner {
  height: 100%;
  width: 100%;
  padding: 20px;
  object-fit: contain;
  margin-top: 5%;
}

.bannertext {
  position: absolute;
  height: 45%;
  width: 35%;
  top: 30%;
  left: 5%;
  margin: auto;
  padding: 10px;
}

.laundrypagebannerbutton {
  padding: 10px 50px;
  border-radius: 100px;
  width: fit-content;
  background-color: #3380f2;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 18px;
  font-weight: 600;
}

.laundrypagebannerbutton:hover {
  background-color: white;
  color: #3380f2;
}

.laundryapplicationmaindiv {
  margin-top: 3%;
}

.laundryapplicationtxtdiv {
  height: 150px;
  text-align: center;
  width: 70%;
  margin-left: 190px;
}


.laundryapplicationtxtdiv > h5 {
  color: green;
}

.laundryapplicationtxtdiv > h1 {
  font-size: 32px;
  font-weight: 600;
}

.laundryapplicationflexbox {
  display: flex;
  margin-left: 25%;
}

.laundryflexboxno1 {
  height: fit-content;
  width: 30%;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.laundryflexboxno2 {
  height: 400px;
  width: 350px;

  margin-left: 10%;
  border-radius: 20%;
}

.laundrypageflexboxno1imagediv {
  height: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 40px;
}

.laundrypageflexboxno2imagediv {
  height: 50%;
}

.laundrypageflexboxno1imagedivimage1 {
  height: 100%;
  width: 100%;
}

.laundrypageflexboxno1imagedivimage2 {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.laundryflexbox1imagetxt1 {
  text-align: center;
  padding: 10px;
}
.laundryflexbox1imagetxt {
  padding: 10px;
}
.laundryflexbox1imagetxt2 {
  text-align: justify;
}
.laundryflexboximageboxgreentxt {
  text-align: center;
  color: green;
}

.laundryflexboxno2 {
  height: fit-content;
  width: 30%;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.laundrycustomerapptxtfront {
  text-align: center;
  width: 47%;

  margin-left: 30%;
}

.laundrycutomermaindiv {
  margin-top: 5%;
}

.laundrycustomerflexboxmaindiv {
  display: flex;
  margin-top: 5%;
}

.laundryflexboxleftdiv {
  height: fit-content;
  width: 60%;
  margin-left: 3%;
  display: flex;
  flex-wrap: wrap;
}

.laundryflexboxleftdivflexbox {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 45%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 240px;
  margin: 1%;
  border-radius: 10px;
  padding: 10px;
}

.laundryflexboxleftdivflexbox:hover {
  transform: scale(1.02);
  background-color: #efebe6;
}

.laundryflexboxleftdivflexboxicon {
  /* border: 1px solid red; */
  height: 45px;
  width: 45px;
  margin-top: 5%;
  margin-bottom: 0%;
}

.laundryflexboxleftdivflexboxicontxt {
  /* border: 1px solid red;  */
  margin-top: 4%;
}

.laundryflexboxleftdivflexboxicontxt > h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  vertical-align: baseline;
  margin-bottom: 1%;
  margin-top: 0%;
}

.laundryflexboxleftdivflexboxicontxt > p {
  margin-top: 4%;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  vertical-align: baseline;
}

.laundryflexboxleftdivflexboxx {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 5%;
  height: fit-content;
}

.laundryflexboxleftdivinsidertxt {
  /* border: 1px solid black; */
  margin-left: 2%;
  width: 100%;
}

.laundryflexboxleftdivinsidertxt > h1 {
  /* border: 1px solid red; */
  font-size: 35px;
  font-weight: 600;
}

.laundryflexboxleftdivinsidertxt > p {
  /* border: 1px solid red; */
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.laundryflexboxrightdiv {
  /* border: 1px solid red; */
  height: 580px;
  margin-top: 15%;
  margin-left: 5%;
  background: url("/Images/Laundrypage/backgrounds/Background3.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 55%;
}

.laundryPageOuterDiv {
  /* border: 1px solid red; */
  width: 40%;
}


.laundryflexboxrightdiv > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.laundryflexboxrightdivimage {
  position: absolute;
  height: 150px;
  width: 100%;
}

.laundrydeliveryappflexbox {
  margin-top: 10%;
  display: flex;
}

.laundrydeliveryappflexboxleft {
  /* border: 1px solid red; */
  width: 40%;
  height: 550px;
  margin-left: 5%;
  margin-top: 7%;
  background: url("/Images/Laundrypage/backgrounds/Background3.png");
}

.laundrydeliveryappflexboxright {
  width: 50%;
  height: auto;
}

.laundrydeliveryappflexboxleftimagesof {
  /* border: 1px solid red; */
  position: relative;
  height: 100%;
}

.laundrydeliveryappflexboxleftimagesof1 {
  position: absolute;
  z-index: 0;
  height: 100%;
}

.laundrydeliveryappflexboxleftimagesof2 {
  position: absolute;
  z-index: 1;
}

.laundryfleximage1o1 {
  position: absolute;
  width: 100%;
  z-index: 0;
  right: 10%;
}

.laundryfleximage1o2 {
  position: absolute;
  height: 100%;
  left: 20%;
  z-index: 1;
  top: 3%;
}

.laundryflexboxleftdivfordelivery {
  height: fit-content;
  width: 65%;
  margin-top: 0px;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
}

.laundryflexboxleftdivflexboxfordelivery {
  display: flex;
  flex-wrap: wrap;
  width: 44%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 260px;
  margin: 1%;
  position: relative;
  border-radius: 10px;
  padding: 10px;
  text-align: justify;
}

.laundryflexboxleftdivflexboxfordelivery:hover {
  transform: scale(1.02);
  background-color: #efebe6;
}

.laundryflexboxleftdivflexboxxdelivery {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 2%;
  height: fit-content;
}

.bannerlowerlaundrypageapp {
  height: 500px;
  background-image: url("/Images/Laundrypage/Bannersbackgrounds/Component 45 1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.bannerlowerlaundrypageappinsiderimagetxt {
  color: white;
  position: absolute;
  top: 40%;
  width: 60%;
  left: 5%;
}

.bannerlowerlaundrypageappinsiderimagetxt > p {
  font-size: 17px;
}

.laundrydeliverymaindiv {
  height: fit-content;
  /* border: 1px solid red; */
}

.adminpannelLaundrydivmainbox {
  margin-top: 10%;
  margin-bottom: 10%;
}
.marketplaceadmin2ndchildlaundrypage {
  position: absolute;
  width: 100%;
  height: fit-content;
  left: -1%;
  top: 50%;
  display: flex;
  flex-wrap: wrap;
}

.flexboxadminagainlaundrypage {
  display: flex;
  align-items: center;
  height: fit-content;
  width: 45%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  padding: 2%;
  background-color: white;
  margin: 2%;
}

.imageboxflexboxinsiderimagelaundry {
  width: 15%;
  margin-right: 3%;
  margin-top: -55px;
}

.laundrypageadmindisplayfleximage2 {
  width: 70%;
  position: relative;
  z-index: 1;
  left: -15%;
}

.laundrypageflexboximage2 {
  width: 130%;
  height: 150%;
  position: relative;
  top: -26%;
  object-fit: contain;
  z-index: 1;
  display: block;
}

.laundrypagefooterdivspecial {
  height: 50%;
  width: 75%;
  position: relative;
  top: 5%;
  left: 12%;
}

.laundrypagefooterinnerbox {
  display: flex;
  position: relative;
  height: 125px;
  width: 220px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  left: 3%;
  margin-top: 3%;
  background-color: white;
  margin: 2%;
}
.solutionsFeatures {
  display: flex;
}
.laundrypagefooterbanner {
  height: fit-content;
  margin-top: 5%;
}

.laundryfooterbannertxt {
  height: fit-content;
  margin: auto;
  width: 70%;
}

.laundrylowerbannermapperbox {
  height: 200px;
  width: 90%;
  margin: 5% 5% 0% 5%;

  display: flex;
}

.laundryfooterbanmappeindi {
  width: 20%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: auto;
  height: 150px;
  border-radius: 10px;
  justify-content: center;
}

.cardiconlaundry {
  height: 50px;
  width: 50px;
  text-align: center;
  margin: auto;
  margin-top: 7%;
}

.cardiconlaundry > img {
  height: 100%;
  width: 100%;
  text-align: center;
}

.cardtitlelaundry {
  text-align: center;
}

.laundryadmindatamappingindi > h4 {
  margin-top: 1%;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  vertical-align: baseline;
  margin-bottom: 1%;
  margin-top: 0%;
}

.laundryadmindatamappingindi > p {
  margin-top: 0%;
  font-size: 15px;
  line-height: 20px;
  vertical-align: baseline;
  font-weight: 400;
}
