/* banner */

.laundrypagebannercontainer {
  width: 100%;
  height: 100vh;
}

.laundryPagebannersubcontainer {
  width: 100%;
  height: 100%;
  /* background: url("/Images/Laundrypage/Bannersbackgrounds/Component46.png"); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.laundrypagebannerleft {
  /* border: 1px solid black; */
  width: 45%;
  height: fit-content;
  margin-top: 20%;
  position: absolute;
  margin-left: 5%;
  text-align: justify;
}

.laundrypagebannerbutton {
  padding: 10px 60px;
  font-weight: 600;
  font-size: 18px;
  border: none;
  margin-top: 2%;
  background-color: #3380f2;
  color: white;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.laundrypagebannerbutton:hover {
  color: #3380f2;
  background-color: white;
}


.laundaryPageBannerAnimationDiv{
  /* border: 1px solid red; */
  position: absolute;
  width: 50%;
  top: 15%;
  right: 0%;
}