/* for any type of laptop and wide range of screns */
@media only screen and (min-width:900px){
.CareerOpeningcontainer {
  background: white;
  padding-top: 2%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.CareerOpengingsearchbar {
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  width: 95%;
  margin: 1% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5%;
}

.CareerOpengingsearchbar > input {
  font-size: 18px;
  font-weight: 600;
  color: #393939;
  padding: 5px;
  width: 95%;

  border: none;
  outline: none;
}

.CareerOpengingsearchbar > input::placeholder {
  color: #393939;
}

.CareerOpengingsearchbar > button {
  color: #393939;
  background: transparent;
  width: 5%;

  border: none;
  outline: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.CareerOpengingsearchbar > button > svg {
  width: 20px;
  height: 20px;
}

.CareerOpeningfilterbutton {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.CareerOpeningfilterbutton > h2 {
  font-size: 20px;
  width: 80%;
}

.CareerOpeningfilterbutton > button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 10%;
  padding: 5px 10px;
  background: none;
  border: 2px solid #d9d9d9;
}

.CareerOpeningfilterbutton > button > p {
  font-size: 18px;
  margin: 0;
}

.CareerOpeningfilterbutton > button > svg {
  width: 20px;
  height: 20px;
  transform: rotate(90deg);
  transition: transform 200ms linear;
}

.CareerOpeningfilterbutton > button:hover svg {
  transform: rotate(0deg);
}

.CareerOpengingmain {
  height: 105vh;
  padding: 0 1% 0 1%;
  overflow-y: scroll;
}

.CareerOpengingmain::-webkit-scrollbar {
  width: 15px;
}

.CareerOpengingmain::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 30px;
}

.CareerOpengingmain::-webkit-scrollbar-thumb:hover {
  background: #393939;
}

.CareerOpengingmain::-webkit-scrollbar-track {
  background-color: transparent;
}

.CareerOpengingmain > div {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 1px solid #d9d9d9;
}

.CareerOpengingmain > div > h2 {
  font-size: 25px;
  width: 90%;
}

.CareerOpengingmain > div > svg {
  width: 25px;
  height: 25px;
  visibility: hidden;
}

.CareerOpengingmain > div:hover {
  background: #f5f5f5;
}

.CareerOpengingmain > div:hover svg {
  visibility: visible;
}

}


/* for any type of mobile screens responsive */
@media only screen and (min-width:0px) and (max-width:480px){

  .CareerOpeningcontainer {
    background: white;
    padding-top: 2%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  
  .CareerOpengingsearchbar {
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    width: 95%;
    margin: 1% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5%;
   
  }
  
  .CareerOpengingsearchbar > input {
    font-size: 18px;
    font-weight: 600;
    color: #393939;
    padding: 5px;
    width: 95%;
   
    border: none;
    outline: none;
  }
  
  .CareerOpengingsearchbar > input::placeholder {
    color: #393939;
  }
  
  .CareerOpengingsearchbar > button {
    color: #393939;
    background: transparent;
    width: 5%;
  
    border: none;
    outline: none;
    cursor: pointer;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .CareerOpengingsearchbar > button > svg {
    width: 20px;
    height: 20px;
  }
  
  .CareerOpeningfilterbutton {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .CareerOpeningfilterbutton > h2 {
    font-size: 20px;
    width: 80%;
  }
  
  .CareerOpeningfilterbutton > button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: fit-content;
    padding: 5px 10px;
    background: none;
    border: 2px solid #d9d9d9;
  }
  
  .CareerOpeningfilterbutton > button > p {
    font-size: 14px;
    margin: 0;
  }
  
  .CareerOpeningfilterbutton > button > svg {
    width: 20px;
    height: 20px;
    transform: rotate(90deg);
    transition: transform 200ms linear;
  }
  
  .CareerOpeningfilterbutton > button:hover svg {
    transform: rotate(0deg);
  }
  
  .CareerOpengingmain {
    height: 105vh;
    padding: 0 1% 0 1%;
    overflow-y: scroll;
  }
  
  .CareerOpengingmain::-webkit-scrollbar {
    width: 15px;
  }
  
  .CareerOpengingmain::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    border-radius: 30px;
  }
  
  .CareerOpengingmain::-webkit-scrollbar-thumb:hover {
    background: #393939;
  }
  
  .CareerOpengingmain::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  .CareerOpengingmain > div {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-bottom: 1px solid #d9d9d9;
  }
  
  .CareerOpengingmain > div > h2 {
    font-size: 25px;
    width: 90%;
  }
  
  .CareerOpengingmain > div > svg {
    width: 25px;
    height: 25px;
    visibility: hidden;
  }
  
  .CareerOpengingmain > div:hover {
    background: #f5f5f5;
  }
  
  .CareerOpengingmain > div:hover svg {
    visibility: visible;
  }
}


/* for any type of tablet screen responsive */

@media only screen and ( min-width:481px) and (max-width:900px){

  .CareerOpeningcontainer {
    background: white;
    padding-top: 2%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  
  .CareerOpengingsearchbar {
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    width: 95%;
    margin: 1% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5%;
  }
  
  .CareerOpengingsearchbar > input {
    font-size: 18px;
    font-weight: 600;
    color: #393939;
    padding: 5px;
    width: 95%;
  
    border: none;
    outline: none;
  }
  
  .CareerOpengingsearchbar > input::placeholder {
    color: #393939;
  }
  
  .CareerOpengingsearchbar > button {
    color: #393939;
    background: transparent;
    width: 5%;
  
    border: none;
    outline: none;
    cursor: pointer;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .CareerOpengingsearchbar > button > svg {
    width: 20px;
    height: 20px;
  }
  
  .CareerOpeningfilterbutton {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .CareerOpeningfilterbutton > h2 {
    font-size: 20px;
    width: 80%;
  }
  
  .CareerOpeningfilterbutton > button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: fit-content;
    padding: 5px 10px;
    background: none;
    border: 2px solid #d9d9d9;
    
  }
  
  .CareerOpeningfilterbutton > button > p {
    font-size: 18px;
    margin: 0;
  }
  
  .CareerOpeningfilterbutton > button > svg {
    width: 20px;
    height: 20px;
    transform: rotate(90deg);
    transition: transform 200ms linear;
  }
  
  .CareerOpeningfilterbutton > button:hover svg {
    transform: rotate(0deg);
  }
  
  .CareerOpengingmain {
    height: 100vh;
    padding: 0 1% 0 1%;
    overflow-y: scroll;
  }
  
  .CareerOpengingmain::-webkit-scrollbar {
    width: 15px;
  }
  
  .CareerOpengingmain::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    border-radius: 30px;
  }
  
  .CareerOpengingmain::-webkit-scrollbar-thumb:hover {
    background: #393939;
  }
  
  .CareerOpengingmain::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  .CareerOpengingmain > div {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-bottom: 1px solid #d9d9d9;
  }
  
  .CareerOpengingmain > div > h2 {
    font-size: 25px;
    width: 90%;
  }
  
  .CareerOpengingmain > div > svg {
    width: 25px;
    height: 25px;
    visibility: hidden;
  }
  
  .CareerOpengingmain > div:hover {
    background: #f5f5f5;
  }
  
  .CareerOpengingmain > div:hover svg {
    visibility: visible;
  }


}
