.educationMainContainer>h1 {
    text-align: center;
    font-size: 35px;
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
}

/* media query for mobile and tablet devices */
@media (max-width: 1024px) {
    .educationMainContainer>h1 {
        font-size: 25px;
    }
}