.anandamgreensmainboxes{
    height: 80vh;
    /* border: 1px solid red; */
    background: url("/Images/portfolio/Anandam greens/background/Group 770956.png");
    background-size: 100% 100%;
    display: flex;
    color: white;
}

.portfolioanandamgreensleftbox{
    height: 80%;
    width: 50%;
    margin-left: 3%;
    margin-top: 5%;
    /* border: 1px solid green; */
    
}

.portfolioanandamgreensleftbox>img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.portfolioanandamgreensrightbox{
    height: fit-content;
    width: 45%;
    margin-right: 2%;
    margin-left: 3%;
}

.portfolioanandamgreensrightbox>p{
    font-size: smaller;
    text-align: justify;
}

.nextholidayrightinsideflexbox{
    /* border: 1px solid red; */
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.nextholidaywrapbox1{
    /* border: 1px solid green; */
    width: 40%;
    margin: 3%;
    padding: 5px;
    }
    
    .nextholidaywrapbox1>h5{
        font-weight: 900;
        font-size: 15px;
        text-align: center;
     
    }
    
    .nextholidaywrapbox1>p{
        font-size: 12px;
        text-align: center;
        margin-top: -0%;
    
    }

    .portfolioavailableonicon{
        display: flex;
      margin: auto;
      width: 40%;
    
    }
    
    .porfolionextholidayicon{
    
    /* margin: 2% ; */
    height: 20%;
    width: 20%;
    margin: auto;
    }
    
    .porfolionextholidayicon>img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    .nextholidaywrapboximages{
        width: 40%;
        height: 5%;
      
    
    }
    .nextholidaywrapboximages>img{
        height: 100%;
        width: 70%;
        object-fit: contain;
    }

    .nextholidayviewcasebutton{
        padding: 10px 50px;
      border-radius: 100px;
      width: 220px;
      background-color: transparent;
      border: #ef4c23;
      outline: none;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      font-size: 14px;
      font-weight: 600;
      color: white;
      margin-left: 25%;
      margin-top: 5%;
    }
    
    .nextholidayviewcasebutton:hover{
        background-color: #ef4c23;
        color: white;
    }