.CareerReasoncontainer {
  width: 100%;
  padding: 1% 0;
  background: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.CareerReasoncontainer > span {
  font-size: 12px;
  padding-left: 2%;
}

.CareerReasoncontainer > h1 {
  font-size: 35px;
  width: 96%;
  margin: 0 auto;
}

.CareerReasoncontainer > h1 > span {
  color: #ef4c23;
}

.CareerReasoncontainer > div {
  width: 95%;
  margin: 2% auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.CareerReasoncontent {
  width: 55%;
}

.CareerReasoncontent > p {
  font-size: 16px;
  text-align: justify;
}

.CareerReasoncontent > button {
  font-size: 18px;
  font-weight: 600;
  width: fit-content;
  height: fit-content;
  cursor: pointer;

  padding: 10px 50px;
  border-radius: 50px;
  border: 2px solid #ef4c23;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  background-color: #ef4c23;
  color: white;
}

.CareerReasoncontent > button:hover {
  color: #ef4c23;
  background-color: white;
}

.CareerReasonimage {
  width: 35%;
}

.CareerReasonimage > img {
  width: 100%;
}
