.yanbalmainboxes{
height: fit-content;
display: flex;
background: url("/Images/portfolio/Portfolio banners/Group 770992.png");
background-repeat: no-repeat;
background-size: 100% 100%;
display: flex;
color: white;
}
.yanballeftboxes{
width: 50%;
margin-top: 5%;
margin-left: 3%;
}
.yanballeftboxes>p{

text-align: justify;
}
.yanballeftboxinsiderflexbox{
width: 90%;
margin: auto;
height: fit-content;
display: flex;
flex-wrap: wrap;
padding-top: 5%;
}

.yanbalplusbold{
font-weight: 900;
}

.yanbalindibox{
width: 45%;
margin-left: 5%;
margin-top: 5%;
}

.yanbalindibox>h5{
font-weight: 800;

}

.yanbalindibox p{
width: 60%;
}

.yanbaliconflexbox{
   
width: 40%;
height: 40%;
display: flex;
margin-left: -0%;
}

.yanabaliconandeoid{
width: 30%;
height: 80%;
margin-left: 30%;
padding: 7px;
}

.androidappicon>img{
height: 90%;
width: 90%;
object-fit: contain;
}


.yanabaliconandeoid>img{
height: 100%;
width: 100%;
object-fit: contain;
}

.yanballogoboxingalongflex{
padding: 10px;
width: 35%;
margin-bottom: 10%;
}

.yanballogoboxingalongflex>img{
height: 100%;
width: 100%;
object-fit: contain;
}
.yanbalrightboxes{
width: 50%;
height: 100%;
margin: auto;
}

.yanabalbuttonalongflex{
padding: 10px 50px;
  border-radius: 100px;
  width: 220px;
  background-color: transparent;
  border: #ef4c23;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  margin-left: 35%;
  margin-top: 8%;
}

.yanabalbuttonalongflex:hover{
background-color: black;
color: white;
}

/* for any type of mobile screen responsive */

@media only screen and (min-width:0px) and (max-width:600px){
.yanbalmainboxes{
height: fit-content;
background: url("/Images/portfolio/Portfolio Mobile Responsive/18.png");
background-repeat: no-repeat;
background-size: 100% 100%;
display: flex;
flex-wrap: wrap;
flex-direction: column-reverse;
}
.yanballeftboxes{
width: 100%;
height: 50%;
}
.yanballeftboxes{
  width: 95%;
  height: 50%;
  margin:auto;
  }
  .yanballeftboxes>h1{
      text-align: center;
      font-weight: 700;
      font-size: 30px;
  
  }
.yanballeftboxinsiderflexbox{
width: 100%;
margin: auto;
height: fit-content;
display: flex;
flex-wrap: wrap;
padding-top: 5%;
}
.yanbalplusbold{
font-weight: 900;
}
.yanbalindibox{
width: 45%;
margin-left: 5%;
margin-top: 5%;
}
.yanbalindibox>h5{
font-weight: 800;
font-size: 20px;
}
.yanbalindibox p{
width: 60%;
font-size: 10px;
}
.yanbaliconflexbox{
width: 40%;
height: 40%;
display: flex;
margin-left: -0%;
}
.yanabaliconandeoid{
width: 50%;
height: 100%;
padding: 2px;   
}
.androidappicon>img{
height: 90%;
width: 90%;
object-fit: contain;
}
.yanabaliconandeoid>img{
height: 100%;
width: 100%;
object-fit: contain;
}
.yanballogoboxingalongflex{
width: 30%;
height: 20%;
}
.yanballogoboxingalongflex>img{
height: 100%;
width: 100%;
object-fit: contain;
}
.yanbalrightboxes{
width: 100%;
height:50%;
}
.yanabalbuttonalongflex{
padding: 10px 10px;
border-radius: 100px;
width: 120px;
background-color: transparent;
border: #ef4c23;
outline: none;
box-shadow: white 0px 0px 5px;
font-size: 10px;
font-weight: 600;
color: black;
margin-left: 65%;
margin-top: 15%;
margin-bottom: 25%;
}
.yanabalbuttonalongflex:hover{
background-color: white;
color: black;
}
}

