@media only screen and (min-width:900px){
.KotlinIntegrationMainDiv{
width: 100%;
}
.KotlinIntegrationContainer{
border: 3px dashed black;
width: 90%;
height: 80vh;
margin: auto;
margin-top: 5%;
display: flex;
flex-direction: column;
position: relative;
}
.KotlinIntegrationHeading{
background: linear-gradient(to left ,#FED200, #EF4c23);
position: absolute;
color: white;
width: 37%;
padding:1%;
height: 75px;
border-radius:15px;
top: -6%;
left: 32%;
}
.KotlinIntegrationHeading h2{
text-align: center;
}
.KotlinIntegrationBox{
width: 90%;
height: 70vh;
margin: auto;
margin-top: 4%;
display: flex;
flex-direction: row;
}
.kotlinIntegrationOptionsDiv{
width: 45%;
display: flex;
flex-direction: column;
margin-left: 2%;
}
.kotlinIntegrationOptionsDiv1{
width: 45%;
height: 70vh;
display: flex;
flex-direction: column;
margin-left: 6%;
}
.kotlinIntegrationOptions{
border: 3px solid #EF4c23;
width: 80%;
height: 80px;
border-radius: 15px;
margin: auto;
display: flex;
flex-direction: row;
}
.kotlinIntegrationIcon{
width: 15%;
padding: 3.5%;
}
.kotlinIntegrationText{
width: 85%;
padding-top: 5%;
}
}
@media only screen and ( min-width:481px) and (max-width:900px){
.KotlinIntegrationMainDiv{
width: 100%;
margin-top: 10%;
}
.KotlinIntegrationContainer{
border: 3px dashed black;
width: 90%;
height: 80vh;
margin: auto;
margin-top: 5%;
display: flex;
flex-direction: column;
position: relative;
}
.KotlinIntegrationHeading{
background: linear-gradient(to left ,#FED200, #EF4c23);
position: absolute;
color: white;
width: 55%;
padding:1%;
height: 110px;
border-radius:15px;
top: -6%;
left: 20%;
text-align: center;
padding-left: 3%;
}
.KotlinIntegrationBox{
width: 90%;
height: 70vh;
margin: auto;
margin-top: 4%;
display: flex;
flex-direction: row;
}
.kotlinIntegrationOptionsDiv{
width: 45%;
display: flex;
flex-direction: column;
margin-left: 2%;
}
.kotlinIntegrationOptionsDiv1{
width: 45%;
height: 70vh;
display: flex;
flex-direction: column;
margin-left: 6%;
}
.kotlinIntegrationOptions{
border: 3px solid #efd200;
width: 80%;
height: 100px;
border-radius: 15px;
margin: auto;
display: flex;
flex-direction: row;
justify-content: center;
text-align: center;
}
.kotlinIntegrationIcon{
width: 15%;
height: 78px;
padding: 3.5%;
padding-top: 20px;
}
.kotlinIntegrationText{
width: 85%;
height: 78px;
padding-top: -10px;
}
}

@media only screen and ( min-width:0px) and (max-width:480px){
.KotlinIntegrationMainDiv{
width: 100%;
margin-top: 15%;
}
.KotlinIntegrationContainer{
border: 3px dashed black;
width: 90%;
height: 80vh;
margin: auto;
margin-top: 5%;
display: flex;
flex-direction: column;
position: relative;
}
.KotlinIntegrationHeading{
background: linear-gradient(to left ,#FED200, #EF4c23);
position: absolute;
color: white;
width: 55%;
padding:1%;
height: 110px;
border-radius:15px;
top: -6%;
left: 20%;
text-align: center;
padding-left: 3%;
}
 .KotlinIntegrationHeading h2{
 font-size: 20px;
 }
.KotlinIntegrationBox{
width: 100%;
height: 70vh;
margin: auto;
margin-top: 25%;
display: flex;
flex-direction: row;
}
.kotlinIntegrationOptionsDiv{
display: flex;
flex-direction: column;
}
.kotlinIntegrationOptionsDiv1{
height: 70vh;
display: flex;
flex-direction: column;
}
.kotlinIntegrationOptions{
border: 3px solid #efd200;
width: 90%;
height: 140px;
border-radius: 15px;
margin: auto;
display: flex;
flex-direction: row;
justify-content: center;
text-align: center;
}
.kotlinIntegrationIcon{
width: 15%;
height: 78px;
padding: 3.5%;
padding-top: 20px;
}
.kotlinIntegrationText{
width: 85%;
height: 78px;
padding-top: -10px;
margin-left: 2%;
}
}