.sportasymainboxes{
    height: 85vh;
    /* border: 2px solid red; */
    background: url("/Images/portfolio/Sportasy/background/Group 770828.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  
    display: flex;
}

.portfolioyanballeftbox{
    width: 50%;
    /* border: 5px solid green; */
    margin-left: 3%;
    margin-top: 5%;
}



.portfoliosportasyrightbox{
    width: 50%;
    /* border: 1px solid yellow; */

}

.portfolioyanbelrightinnerimages{
    height: 80%;
    width: 35%;
    /* border: 1px solid white; */
    margin-top: 8%;
    margin-left: 2%;
}
.portfolioyanbelrightinnerimages>img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}


/* .nextholidayrighttbox{
    height: fit-content;
    width: 50%;
    margin-right: 2%;
    
} */

.portfoliosportasyleftbox{
    margin-left: 3%;
    margin-top: 5%;
     height: fit-content;
    width: 50%;
    margin-right: 2%;
}



.portfoliosportasyleftbox>p{
    font-size: smaller;
    text-align: justify;
}

.sportasyrightinsideflexbox{
    /* border: 1px solid red; */
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.sportasywrapbox1{
/* border: 1px solid green; */
width: 40%;
margin: 3%;
padding: 5px;
}

.sportasywrapbox1>h5{
    font-weight: 900;
    font-size: 20px;
    text-align: center;

}

.sportasywrapbox1>p{
    font-size: 15px;
    text-align: center;
    margin-top: -0%;

}

.portfolioavailableonicon{
    display: flex;
  margin: auto;
  width: 40%;

}

.porfolionextholidayicon{

margin: 5% ;
height: 25%;
width: 30%;
border-right: 1px solid black;
}

.porfolionextholidayicon:last-child{
    border-right: none;
}

.porfolionextholidayicon>img{
    height: 100%;
    width: 80%;
    object-fit: contain;
}


.sportviewcasebutton{
    padding: 10px 50px;
  border-radius: 100px;
  width: 220px;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 5px;
  font-size: 14px;
  font-weight: 600;
  color: #ef4c23;

}

.sportviewcasebutton:hover{
    background-color: #ef4c23;
    color: black;
}