.skillsbannermain {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.skillsbannercontent {
  width: 50%;
  text-align: left;
  height: fit-content;
}

.skillsbannercontent>h1 {
  font-size: 40px;
  margin: 0px;
}

.skillsbannercontent>h1>span {
  color: #ef4c34;
}

.skillsbannercontent>p {
  font-size: 20px;
  margin: 2% auto;
}

.skillsbannercontent>ul>li {
  font-size: 20px;
  font-weight: 500;
  margin: 5px 0;
}

.skillsbannercontent>button {
  margin-top: 2%;
  font-size: 18px;
  font-weight: 600;
  outline: none;
  border: 2px solid #ef4c34;
  padding: 10px 50px;
  border-radius: 100px;
  cursor: pointer;

  color: #ef4c34;
  background-color: transparent;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.skillsbannercontent>button:hover {
  background-color: #ef4c34;
  color: #fff;
}

.skillsbannermain>img {
  max-width: 30%;
  height: fit-content;
  max-height: 70%;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .skillsbannermain {
    margin-top: 100px;
    height: fit-content;
    padding: 20px 0;
  }

  .skillsbannercontent>h1 {
    font-size: 20px;
  }

  .skillsbannercontent>p {
    font-size: 12px;
    width: 95%;
  }

  .skillsbannercontent>button {
    font-size: 12px;
    padding: 5px 20px;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 1024px) {
  .skillsbannermain {
    margin-top: 100px;
    height: fit-content;
    padding: 20px 0;
  }

  .skillsbannercontent>h1 {
    font-size: 30px;
  }

  .skillsbannercontent>p {
    font-size: 16px;
    width: 95%;
  }

  .skillsbannercontent>button {
    font-size: 16px;
    padding: 5px 30px;
  }
}