.flutterDevelopmentExpertiseMainDiv {
width: 100%;
display: flex;
margin-bottom: 2%;
flex-direction: row;
}
.flutterDevelopmentExpertiseIconContainer {
width: 48%;
margin-left: 4%;
border-right: 1px solid gray;
}
.flutterDevelopmentExpertiseContent {
width: 48%;
}
.flutterDevelopmentExpertiseContentHeading {
margin-top: 3%;
margin-left: 5%;
/* border: 2px solid green; */
}
.flutterDevelopmentExpertiseContentText {
margin-left: 5%;
width: 80%;
text-align: justify;
}
.flutterDevelopmentExpertiseIconOuterBox {
width: 100%;
margin-top: 3%;
margin-bottom: 3%;
display: flex;
flex-direction: row;
/* border: 2px solid yellowgreen; */
}
.flutterDevelopmentExpertiseContainerDiv {
width: 45%;
display: flex;
flex-direction: row;
margin-left: 4%;
/* border: 2px solid red; */
}
.flutterDevelopmentExpertiseContainerDiv:hover {
cursor: pointer;
transition: all 0.2s linear;
transform: scale(1.1);
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.flutterDevelopmentExpertiseIcon {
width: 50px;
height: 50px;
/* margin-top: 2%; */
/* border: 2px solid green; */
margin-right:5% ;
}
.flutterDevelopmentExpertiseIconHeading {
width: 75%;
display: flex;
flex-direction: column;
}
.flutterDevelopmentExpertiseIconHeading>p{
margin: -0%;
text-align: justify;
font-size: 14px;
}
.FluterDevelopmentExpertisebutton{
border-radius: 10px;
width: 220px;
color: white;
background-color: #3380f2;
height: 40px;
font-size: 18px;
border: none;
margin-left: 30%;
margin-top: 3%;
}
.FluterDevelopmentExpertisebutton:hover{
background-color: white;
color: #3380f2;
border: 1px solid #3380f2;
}
@media only screen and (min-width:0px) and (max-width:1024px){
.flutterDevelopmentExpertiseMainDiv {
width: 100%;
display: flex;
flex-direction: column-reverse;
}
.flutterDevelopmentExpertiseIconContainer {
width: 100%;
margin: auto;
border:none;
}
.flutterDevelopmentExpertiseContent {
width: 95%;
text-align: center;
}
.flutterDevelopmentExpertiseContentHeading {
margin: auto;
}
.flutterDevelopmentExpertiseContentText {
width: 95%;
margin: auto;
text-align: justify;
}
.flutterDevelopmentExpertiseIconOuterBox {
width: 100%;
margin-top: 3%;
margin-bottom: 3%;
display: flex;
flex-direction: column;
}
.flutterDevelopmentExpertiseContainerDiv {
width: 70%;
display: flex;
flex-direction: row;
margin: auto;
margin-top: 3%;
}
.flutterDevelopmentExpertiseContainerDiv:hover {
cursor: pointer;
transition: all 0.2s linear;
transform: scale(1.1);
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.flutterDevelopmentExpertiseIcon {
width: 50px;
height: 50px;
margin-top: 10%;
}
.flutterDevelopmentExpertiseIconHeading {
width: 75%;
margin-left: 4%;
display: flex;
flex-direction: column;
}
.flutterDevelopmentExpertiseIconHeading p{
margin: -2%;
}
}