.flutterDevelopmentExpertiseMainDiv {
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  margin-bottom: 2%;
  flex-direction: row;
}
.flutterDevelopmentExpertiseIconContainer {
  /* border: 2px solid red; */
  width: 48%;
  margin-left: 4%;
  border-right: 1px solid black;
}
.flutterDevelopmentExpertiseContent {
  /* border: 2px solid red; */
  width: 48%;
}
.flutterDevelopmentExpertiseContentHeading {
  /* border: 2px solid red; */
  margin-top: 9%;
  margin-left: 5%;
}
.flutterDevelopmentExpertiseContentText {
  /* margin-top: 5%; */
  margin-left: 5%;
  width: 80%;
  text-align: justify;
  /* border: 2px solid red; */
}
.flutterDevelopmentExpertiseIconOuterBox {
  /* border: 2px solid red; */
  width: 100%;
  margin-top: 3%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: row;
}

.flutterDevelopmentExpertiseContainerDiv {
  /* border: 2px solid green; */
  width: 45%;
  display: flex;
  flex-direction: row;
  margin-left: 4%;
}

.flutterDevelopmentExpertiseContainerDiv:hover {
  cursor: pointer;
  /* margin-top: 0; */
  transition: all 0.2s linear;
  transform: scale(1.1);
  /* transform: translateY(-15px); */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.flutterDevelopmentExpertiseIcon {
  width: 50px;
  height: 50px;
  margin-top: 7%;
  /* border: 2px solid blue; */
}
.flutterDevelopmentExpertiseIcon img{
  width: 100%;
  height: 100%;
}
.flutterDevelopmentExpertiseIconHeading {
  width: 75%;
  /* border: 2px solid salmon; */
  /* padding-top: 4%; */
  display: flex;
  flex-direction: column;
}
.flutterDevelopmentExpertiseIconHeading>p{
  margin: -0%;
  text-align: justify;
  
}



@media only screen and (min-width:0px) and (max-width:1024px){


.flutterDevelopmentExpertiseMainDiv {
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}
.flutterDevelopmentExpertiseIconContainer {
  /* border: 2px solid red; */
  width: 100%;
  margin: auto;
  border:none;
}
.flutterDevelopmentExpertiseContent {
  /* border: 2px solid red; */
  width: 95%;
  text-align: center;
}
.flutterDevelopmentExpertiseContentHeading {
  /* border: 2px solid red; */
  margin: auto;
  /* margin-top: 9%;
  margin-left: 5%; */
}
.flutterDevelopmentExpertiseContentText {
  /* margin-top: 5%; */
  /* margin-left: 5%; */
  width: 95%;
  margin: auto;
  text-align: justify;
  /* border: 2px solid red; */
}
.flutterDevelopmentExpertiseIconOuterBox {
  /* border: 2px solid red; */
  width: 100%;
  margin-top: 3%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;
}

.flutterDevelopmentExpertiseContainerDiv {
  /* border: 2px solid green; */
  width: 70%;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 3%;
  /* margin-left: 4%; */
}

.flutterDevelopmentExpertiseContainerDiv:hover {
  cursor: pointer;
  /* margin-top: 0; */
  transition: all 0.2s linear;
  transform: scale(1.1);
  /* transform: translateY(-15px); */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.flutterDevelopmentExpertiseIcon {
  width: 50px;
  height: 50px;
  margin-top: 10%;
  /* border: 2px solid blue; */
}
.flutterDevelopmentExpertiseIcon img{
  width: 100%;
  height: 100%;
}
.flutterDevelopmentExpertiseIconHeading {
  width: 75%;
  /* border: 2px solid salmon; */
  margin-left: 4%;
  /* padding-top: 4%; */
  display: flex;
  flex-direction: column;
}
.flutterDevelopmentExpertiseIconHeading p{
  margin: -2%;
}
}