.nextholidaymainboxes{
    /* border: 1px solid red; */
    height: 85vh;
     display: flex;

     background: url("/Images/portfolio/Next holiday/Background/Group33.png");
     background-size: contain;
     background-repeat: no-repeat;
     margin-top: 0%;
}

.nextholidayleftbox{
    height: 100%;
    width: 50%;
    /* border: 1px solid red; */
  
}


.nextholidayleftboxforimages>img{
    height: 100%;
    width: 100%;
    object-fit: contain;
   
}


.nextholidayrighttbox{
    height: fit-content;
    width: 45%;
    margin-right: 2%;
    /* border: 5px solid; */
    margin-top: 5%;
    margin-left: 2%;
    
}

.nextholidayrighttbox>p{
    font-size: smaller;
}

.nextholidayrightinsideflexbox{
    /* border: 1px solid red; */
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.nextholidaywrapbox1{
/* border: 1px solid green; */
width: 40%;
margin: 3%;
padding: 5px;
}

.nextholidaywrapbox1>h5{
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    color: black;
}

.nextholidaywrapbox1>p{
    font-size: 17px;
    text-align: center;
    margin-top: -0%;
    color: black;
}

.portfolioavailableonicon{
    display: flex;
  /* margin: auto; */
  width: 90%;
/* border: 5px solid red; */
margin-left: 25%;
}

.porfolionextholidayicon{

margin: 5% ;
height: 30%;
width: 40px;
border-right: 1px solid black;

/* border: 1px solid red; */

}
.porfolionextholidayicon:last-child{
    border-right: none;
   
}

.porfolionextholidayicon:nth-child(2){
    margin-top: 1%;
    margin-left: -0%;
}

.porfolionextholidayicon:nth-child(3){
    margin-left: -2%;
}



.androidappicon>img{
    height: 50%;
    width: 70%;
    object-fit: contain;
    /* border: 5px solid red; */
}

.nextholidaywrapboximages{
    width: 40%;
    margin-left: 5%;

}
.nextholidaywrapboximages>img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.nextholidayviewcasebutton{
    padding: 10px 10px;
  border-radius: 100px;
  width: 150px;
  background-color: white;
  border: #D9242B;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 20px;
  font-size: 14px;
  font-weight: 600;
  color: #D9242B;
  margin-left: 60%;
  margin-top: 5%;
}

.nextholidayviewcasebutton:hover{
    background-color: #D9242B;
    color: white;
}

