.nextholidaymainboxes{
    height: 85vh;
     display: flex;
     background: url("/Images/portfolio/Next holiday/Background/Group33.png");
     background-size: 100% 100%;
     background-repeat: no-repeat;
     margin-top: 0%;
}

.nextholidayleftbox{
    height: 100%;
    width: 55%;
margin-left: 5%;
-webkit-animation: mover 1s infinite  alternate;
animation: mover 1s infinite  alternate;
-webkit-animation: mover 1s infinite  alternate;
animation: mover 1s infinite  alternate;

}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-30px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-30px); }
}



.nextholidayrighttbox{
    height: fit-content;
    width: 45%;
    margin-right: 2%;
    margin-top: 5%;
}

.nextholidayrighttbox>p{
    font-size: smaller;
}

.nextholidayrightinsideflexbox{
    /* border: 1px solid red; */
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.nextholidaywrapbox1{
/* border: 1px solid green; */
width: 40%;
margin: 3%;
padding: 5px;
}

.nextholidaywrapbox1>h5{
    font-weight: 900;
    font-size: 20px;
    text-align: left;
    color: black;
}

.nextholidaywrapbox1>p{
    font-size: 17px;
    text-align: left;
margin: 0;
    color: black;

}

.portfolioavailableonicon{
    display: flex;

  width: 60%;
/* border: 1px solid red; */
}

.porfolionextholidayicon{

margin: 5% ;
height: 15%;
width: 20%;
border-right: 1px solid black;

}

.porfolionextholidayicon:nth-child(2){
    width: 25%;
}


.porfolionextholidayicon:last-child{
    border-right: none;
}

.androidappicon>img{
    height: 50%;
    width: 50%;
    object-fit: contain;
}

.porfolionextholidayicon>img{
    height: 50%;
    width: 50%;
    object-fit: contain;
}


.nextholidaywrapboximages{
    width: 40%;
    height: 5%;
    margin-left: 5%;
  

}
.nextholidaywrapboximages>img{
    height: 100%;
    width: 70%;
    object-fit: contain;
}

.nextholidayviewcasebutton{
    padding: 10px 50px;
  border-radius: 100px;
  width: 220px;
  background-color: transparent;
  border: #ef4c23;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 14px;
  font-weight: 600;
  color: black;

  margin-top: 0%;
}

.nextholidayviewcasebutton:hover{
    background-color: #DA2A31;
    color: black;
}


/* for any type of mobile devices responsive */

@media only screen and (min-width:0px) and (max-width:600px){

    .nextholidaymainboxes{
height: fit-content;
 display: flex;
flex-wrap: wrap;
 background: url("/Images/portfolio/Portfolio Mobile Responsive/1.png");
 background-size: 100% 100%;
 background-repeat: no-repeat;
 padding: 20px;     
    }
    
.nextholidayleftbox{
 height: 100%;
 width: 100%;
}
    

    
.nextholidayrighttbox{
 height: fit-content;
 width: 100%;
 margin-top: 5%;
    }

.nextholidayrighttbox>h1{
 text-align: center;
 font-weight: 700;
 font-size: 30px;

}

.nextholidayrighttbox>p{
font-size: 14px;
text-align: justify;
margin: 2%;
}
.nextholidayrightinsideflexbox{
height: fit-content;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
    
.nextholidaywrapbox1{
width: 40%;
margin: 3%;
padding: 5px;
}
    
.nextholidaywrapbox1>h5{
font-weight: 900;
font-size: 20px;
text-align: center;
color: black;
}
.nextholidaywrapbox1>p{
font-size: 12px;
height: fit-content;
text-align: center;
margin-top: -0%;
margin-right: 2%;
color: black;
}
.portfolioavailableonicon{
display: flex;
margin: auto;
width: 70%;
}
.porfolionextholidayicon{
margin: 5% ;
height: 25%;
width: 30%;
border-right: 1px solid black;
}
.porfolionextholidayicon:last-child{
border-right: none;
}
.porfolionextholidayicon>img{
height: 100%;
width: 80%;
object-fit: contain;
}

.nextholidaywrapboximages{
width: 35%;
height: 8%;

}
.nextholidaywrapboximages>img{
height: 100%;
width: 100%;
object-fit: contain;
}
.nextholidayviewcasebutton{
padding: 5px 10px;
border-radius: 100px;
width: 150px;
background-color: transparent;
border: #ef4c23;
outline: none;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
font-size: 14px;
font-weight: 600;
color: black;
margin-left: -10%;
margin-top: -0%;
}
.nextholidayviewcasebutton:hover{
    background-color: #DA2A31;
    color: black;
}
}