.XamarinAppDevbannermainbox {
    height: 100vh;
    width: 99.7%;
    border: 1px solid white;
    /* margin-top: 120px; */
    background-image: url("/Images/Xamarin/Xamarian.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
  }
  .xamrinIcon{
    /* border: 2px solid yellow; */
    margin-top: 6%;
    margin-left: 5%;
  }
  
  .XamarinAppDevbannermainboxinnertextdiv {
    /* height: 50%; */
    width: 40%;
    margin-top: 20%;
    /* margin-left: 3%; */
    text-align: left;
    /* border: 2px solid red; */
  }
  
  .XamarinAppDevbannermainboxinnertextdiv > h1 {
    color: white;
    font-size: 40px;
  }
  .XamarinAppDevbannermainboxinnertextdiv > p {
    color: white;
    font-size: 18px;
  }
  
  .XamarinAppDevbannerbutton {
    padding: 10px 50px;
    border-radius: 10px;
    width: 220px;
    background-color: white;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 18px;
    font-weight: 600;
    color: #EF4C23;
  }
  
  .XamarinAppDevbannerbutton:hover {
    background-color: white;
    color: #3380f2;
  }
  
  .XamarinAppDevelopmentmobileimage{
    display: none;
  }

  @media only screen and (min-width:0px) and (max-width:1020px){
    .XamarinAppDevbannermainbox {
      height: fit-content;
      width: 100%;
      border: 1px solid red;
      /* margin-top: 120px; */
      background-image: none;
      /* background-repeat: no-repeat; */
      /* background-size: cover; */
      /* background-position: center; */
    }
    
    .XamarinAppDevbannermainboxinnertextdiv {
      /* height: 50%; */
      width: 90%;
      /* margin-top: 20%; */
      /* margin-left: 3%; */
      text-align: center;
      margin: auto;
      /* border: 2px solid red; */
    }
    
    .XamarinAppDevbannermainboxinnertextdiv > h1 {
      color: black;
    }
    .XamarinAppDevbannermainboxinnertextdiv > h1 > span {
         color: #EF4C23;
    }
    .XamarinAppDevbannermainboxinnertextdiv > p {
      color: black;
    }
    
    .XamarinAppDevbannerbutton {
      padding: 10px 50px;
      border-radius: 10px;
      width: 220px;
      background-color: white;
      border: none;
      outline: none;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      font-size: 18px;
      font-weight: 600;
      color: #EF4C23;
    }
    
    .XamarinAppDevbannerbutton:hover {
      background-color: white;
      color: #EF4C23;
    }
    
    .XamarinAppDevelopmentmobileimage{
      display: block;
      width: 100%;
    }
    .XamarinAppDevelopmentmobileimage img{
      width: 100%;
      height: 100%;
    }
  
  }