.politicalappetxtboxmainboxes{
    height: fit-content;
}

.politicstxtbox{
  width: 80%;
  margin: auto;  
}

.politicstxtbox>h2{
    text-align: center;
    margin-top: 3%;
}
.politicstxtbox>p{
    margin: 0;
    text-align: center;
}

.politicalapptxtdatamappingbox{
    height: 350px;

    margin-top: 5%;
    display: flex;
    width: 90%;
    margin: auto;
}

.politicsapptxtboxmappingind{
height: 250px;
 width: 25%;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
margin: 1%;
padding: 10px;
border-radius: 10px;
}
.politicsapptxtboxmappingind:hover{
transition: all 0.2s linear;
transform: translateY(-10px);
}

.politicsinditxtandiconboxflex{
    display: flex;
}
.politicsindiiconbox{
    height: 20%;
    width: 20%;
}

.politicsinditxtboxes{
    margin-top: 4%;
}

@media only screen and (min-width:0px) and (max-width:600px){

.politicalappetxtboxmainboxes{
    height: fit-content;
}

.politicstxtbox{
  width: 90%;
  margin: auto;  
}

.politicstxtbox>h2{
    text-align: center;
    margin-top: 3%;
}
.politicstxtbox>p{
    margin: 0;
    text-align: justify;
}

.politicalapptxtdatamappingbox{
    height: fit-content;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

.politicsapptxtboxmappingind{
height: fit-content;
 width: 100%;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
margin: 1%;
padding: 10px;
border-radius: 10px;
}
.politicsapptxtboxmappingind:hover{
transition: all 0.2s linear;
transform: translateY(-10px);
}

.politicsinditxtandiconboxflex{
    display: flex;
}
.politicsindiiconbox{
    height: 20%;
    width: 20%;
}

.politicsinditxtboxes{
    margin-top: 4%;
}
}

@media only screen and ( min-width:601px) and (max-width:900px){

.politicalappetxtboxmainboxes{
    height:75vh;

}

.politicstxtbox{
  width: 90%;
  margin: auto;  
}

.politicstxtbox>h2{
    text-align: center;
    margin-top: 3%;
}
.politicstxtbox>p{
    margin: 0;
    text-align: justify;
}

.politicalapptxtdatamappingbox{
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    margin-top: 5%;
}

.politicsapptxtboxmappingind{
height: 230px;
 width: 47%;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
margin: 1%;
padding: 10px;
border-radius: 10px;

}
.politicsapptxtboxmappingind:hover{
transition: all 0.2s linear;
transform: translateY(-10px);
}

.politicsinditxtandiconboxflex{
    display: flex;
}
.politicsindiiconbox{
    height: 20%;
    width: 20%;
}

.politicsinditxtboxes{
    margin-top: 4%;

}

.politicsapptxtboxmappingind>p{
    text-align: justify;
}
}