.politicsframeworkmainboxes{
    height: fit-content;

    margin-top: 5%;
}

.politicsframeworkmainboxes>h2{
    width: 80%;
    margin: auto;
    text-align: center;
}

.politicsframeworkmainboxes>p{
    width: 80%;
    margin: auto;
    text-align: center;
}

.politicsframeworkdatamapping{
    height: 300px;
    width: 90%;
    margin: auto;
    margin-top: 5%;
    display: flex;
}

.politicsframeworkdataindi{
    width: 25%;
    height: 200px;
    margin: 1%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  padding: 10px;
}

.politicsframeworkdataindi:hover{
    transition: all 0.2s linear;
transform: translateY(-10px);
background-color: #f7f3e6;
}

.politicsframeworkimagebox{
    height: 60px;
    width: 60px;
    margin: auto;
    margin-top: 5%;
}

.politicsframeworkhtxt{
    text-align: center;
    margin-top: 5%;
}