.ondemandHomeServices {
  width: 100%;
  height: 440px;
  position: relative;
}
.ondemandHomeServices > div {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  height: 400px;
}

.homeServices {
  width: 300px;
  height: 100%;
  padding: 20px;
}
.homeServices > div {
  width: 80%;
  border-radius: 10px;
  height: 100%;
  padding: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.homeServices > div:hover {
  transition: all 0.2s linear;
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.homeServices > div > img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  overflow: hidden;
}
.homeServices > div > h5 {
  margin-top: 5px;
}
.homeServices > div > h5 {
  margin-top: 5px;
}


@media (max-width:480px) {
  .ondemandHomeServices {
  height: fit-content;
  }

  .ondemandHomeServices > div {
    position: static;
    transform: none;
    height: fit-content;
  }

  .homeServices {
  
    padding: 0px;
  }

  .homeServices > div {
    width: 80%;
    border-radius: 10px;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

}