.cannabiesadminpannelmainboxes {
  height: fit-content;
}

.cannbiesadminpannelmainboxsometextupper {
  height: fit-content;
  margin-top: 10%;
  margin-left: 4%;
}

.cannabiesadminpannelmainflexboxclass {
  height: fit-content;
  display: flex;
}

.cannabieasadminpannelleftbox {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  width: 55%;
  margin-left: 3%;
}

.cannabiesadminpannelmapperboxindivisyal {
  height: 220px;
  width: 44%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 1%;
  text-align: justify;
  padding: 10px;
  border-radius: 10px;
}

.cannabiesadminpannelmapperboxindivisyal:hover {
  transform: scale(1.02);
  background-color: #abd96b;
}

.cannabiesamadminpannelrightbox {
  /* border: 1px solid red; */
  width: 45%;
  height: 460px;
  /* margin-left: 1%; */
  background: url("/Images/ondemand/onDemandBackground/Background2.png");
}

.cannbiesamadminpannelrightboxinnerimage {
  /* border: 1px solid green; */
  height: 460px;
  width: 90%;
  margin: 2% 3% 3% 5%;
  object-fit: cover;
}

.cannabieasadminpannelmapperboxindivisyalicon {
  height: 30%;
  width: 15%;
}

.cannabieasadminpannelmapperboxindivisyalicon > Image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  /* padding: 10px; */
}

.canabisadminpannelmapperboxindivisyaltxt > h4 {
  font-size: 22px;
  font-weight: 600;
  line-height: 21.6px;
  vertical-align: baseline;
  margin-top: 1%;
  margin-bottom: 1%;
}

.canabisadminpannelmapperboxindivisyaltxt > p {
  margin-top: 3%;
  font-size: 16px;
  line-height: 20px;
  vertical-align: baseline;
  font-weight: 400;
}
.cannabiesadminpannelmainboxes {
  height: fit-content;
}

.cannbiesadminpannelmainboxsometextupper {
  height: fit-content;
  margin-top: 10%;
  margin-left: 4%;
}

.cannabiesadminpannelmainflexboxclass {
  height: fit-content;
  display: flex;
}

.cannabieasadminpannelleftbox {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  width: 55%;
  margin-left: 3%;
}

.cannabiesadminpannelmapperboxindivisyal {
  height: 220px;
  width: 44%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 1%;
  text-align: justify;
  padding: 10px;
  border-radius: 10px;
}

.cannabiesadminpannelmapperboxindivisyal:hover {
  transform: scale(1.02);
  background-color: #f4721a;
  color: white;
  /* margin-top: 0; */
  transition: all 0.2s linear;
  /* transform: scale(1.1); */
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cannabiesamadminpannelrightbox {
  /* border: 1px solid red; */
  width: 45%;
  height: 460px;
  /* margin-left: 1%; */
  /* background: url("/Images/newcannabispage/bannesbackgrounds/Rectangle 4863.png"); */
}

.cannbiesamadminpannelrightboxinnerimage {
  /* border: 1px solid green; */
  height: 400px;
  width: 85%;
  margin: 4% 3% 3% 8%;
  object-fit: cover;
}

.cannabieasadminpannelmapperboxindivisyalicon {
  height: 30%;
  width: 15%;
}

.cannabieasadminpannelmapperboxindivisyalicon > Image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  /* padding: 10px; */
}

.canabisadminpannelmapperboxindivisyaltxt > h4 {
  font-size: 22px;
  font-weight: 600;
  line-height: 21.6px;
  vertical-align: baseline;
  margin-top: 1%;
  margin-bottom: 1%;
}

.canabisadminpannelmapperboxindivisyaltxt > p {
  margin-top: 3%;
  font-size: 16px;
  line-height: 20px;
  vertical-align: baseline;
  font-weight: 400;
}
