.ondemandHero {
  width: 100%;
  height: 85vh;
  display: flex;
  margin-top: 120px;
}

.textcontainer {
  width: 40%;
  height: 100%;
  position: relative;
}

.textcontainer > div {
  position: absolute;
  padding: 50px;
  text-align: left;
  width: 100%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 60%;
}

.textcontainer > div > button {
  padding: 10px 60px;
  border-radius: 25px;
  background-color: #ef4c23;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
 
.textcontainer > div > button:hover {
  color: #ef4c23;
  background-color: white;
}

.imageContainer {
  width: 70%;
  /* height: 95%; */
  background-repeat: no-repeat;
}

.imageContainer > img {
  margin-left: 30px;
  width: 95%;
  height: 100%;
  object-fit: contain;
}

.onDemandHomeServiceAnimation {
  /* border: 1px solid red; */
  width: 70%;
}
