.cannbiescustomerappmainboxes {
  height: fit-content;
}

.cannbiescustomerappmainboxes > h1 {
  text-align: center;
}

.cannbiesdeliveryappflexingbox {
  height: fit-content;
  margin-top: 2%;
  display: flex;
}

.cannabiesdeliveryappflexingboxleftbox {
  height: 480px;
  width: 45%;
  background: url("/Images/ondemand/onDemandBackground/Background1.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: contain;
}

.cannabiesdeliveryappleftboxinsiderupperimage {
  height: 480px;
  width: 55%;
  margin: 0% 0% 0% 10%;
}

.cannabiesdeliveryappleftboxinsiderupperimage > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.cannbiesdeliveryappflexingboxrightbox {
  height: fit-content;
  width: 60%;
  margin-left: 1%;
  margin-right: 3%;
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
}

.cannbiescustomerappmainboxes > h2 {
  text-align: center;
  margin-top: 3%;
}

.cannabiesdeliveryappindivisualbox {
  height: 220px;
  width: 45%;
  margin: 1%;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.cannabiesdeliveryappindivisualbox:hover {
  transform: scale(1.02);
  background-color: #f4721a;
  color: white;
  /* margin-top: 0; */
  transition: all 0.2s linear;
  /* transform: scale(1.1); */
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cannabisDeliveryTextDiv > h4 {
  font-size: 26px;
  font-weight: 600;
  line-height: 21.6px;
  vertical-align: baseline;
  margin-bottom: 1%;
  margin-top: 2%;
}

.cannabisDeliveryTextDiv > p {
  margin-top: 4%;
  font-size: 15px;
  line-height: 20px;
  vertical-align: baseline;
  font-weight: 400;
}

.cannbiesdeliveryappindivisualboxforlogo {
  height: 25%;
  width: 18%;
}

.cannbiesdeliveryappindivisualboxforlogo > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  padding: 5px;
}
