.yanbalmainboxes{
    height: 85vh;
    display: flex;
    background: url("/Images/portfolio/Younity/Background/Group 770828.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    display: flex;
}


.yanballeftboxes{
    width: 50%;

    margin-top: 5%;
    margin-left: 3%;
}

.androidappicon>img{
    height: 90%;
    width: 90%;
    object-fit: contain;
}

.yanballeftboxinsiderflexbox{

width: 90%;
margin: auto;
height: fit-content;
display: flex;
flex-wrap: wrap;
padding-top: 5%;
}

.yanbalplusbold{
    font-weight: 900;
}

.yanbalindibox{
    width: 45%;
    margin-left: 5%;
    margin-top: 5%;
}

.yanbalindibox>h5{
    font-weight: 800;

}

.yanbalindibox p{
    width: 60%;
}

.yanbaliconflexbox{
   
    width: 40%;
    height: 40%;
    display: flex;
    margin-left: -0%;
   

}

.yanabaliconandeoid{
    width: 30%;
    height: 80%;
border-right: 1px solid white;
    margin-left: 2%;
    padding: 7px;
}

.yanabaliconandeoid:last-child{
    border-right: none;

}



.yanabaliconandeoid>img{
    height: 100%;
    width: 100%;
    object-fit: contain;

}

.yanballogoboxingalongflex{
    padding: 15px;
    width: 35%;
}

.yanballogoboxingalongflex>img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}




.yanbalrightboxes{
    width: 50%;
  
}

.yanabalbuttonalongflex{
    padding: 10px 50px;
  border-radius: 100px;
  width: 220px;
  background-color: transparent;
  border: white;
  outline: none;
  box-shadow: white 0px 0px 2px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  margin-left: 35%;
  margin-top: 8%;
}

.yanabalbuttonalongflex:hover{
    background-color: white;
    color: black;
}