.EcommerceBookCallMain {
  padding: 10px 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4%;
  border: 3px solid #ef4c23;
  width: 85%;
  margin: auto;
  background: #fff8f6;
}

.EcommerceBookCallMain>div {
  width: 70%;
  text-align: left;
  height: fit-content;
}

.EcommerceBookCallMain>div>h1 {
  font-size: 32px;
  margin-bottom: 4%;
}

.EcommerceBookCallMain>div>button {
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: #ef4c23;
  border-radius: 100px;
  padding: 10px 60px;
  border: 2px solid #ef4c23;
  outline: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.EcommerceBookCallMain>div>button:hover {
  background-color: white;
  color: #ef4c23;
}

.EcommerceBookCallMain>span {
  margin-right: -5%;
  width: 35%;
  height: fit-content;
}

/* media query for mobiles and tablets devices */
@media (max-width: 1024px) {
  .EcommerceBookCallMain {
    flex-direction: column;
  }

  .EcommerceBookCallMain>div {
    width: 100%;
  }

  .EcommerceBookCallMain>span {
    width: 80%;
    margin: 0;
  }

  .EcommerceBookCallMain>div>h1 {
    font-size: 20px;
  }

  .EcommerceBookCallMain>div>button {
    font-size: 16px;
    padding: 8px 20px;
  }
}