.SeoTrusted {
display: flex;
padding: 50px 0;
background-color: white;
}
.SeoTrustedCarousel {
width: 68%;
text-align: center;
margin: auto;
}
.SeoTrustedtext {
width: 30%;
color: white;
font-size: 32px;
text-align: center;
box-sizing: border-box;
padding: 25px;
font-weight: 600;
background-color: #ef4c23;
position: relative;
}
.globalbrands {
width: 100%;
position: absolute;
transform: translate(-50%, -50%);
top: 45%;
font-size: 35px;
left: 50%;
}
.Seobrandimg {
height: 100px;
width: 147px;
position: relative;
}
.Seobrandimg > img {
width: 80%;
height: 70%;
object-fit: contain;
filter: grayscale(1);
position: absolute;
transform: translate(-50%, -50%);
top: 50%;
left: 50%;
}
.Seobrandimg > img:hover {
filter: none;
}
.mainlogoDiv {
height: 100px;
}
@media (max-width: 480px) {
.SeoTrusted {
display: flex;
height: fit-content;
background-color: white;
}
.SeoTrustedCarousel {
border: 1px solid red;
width: 60%;
height: 50%;
text-align: center;
margin: auto;
}
.SeoTrustedtext {
width: 100%;
height: 100px;
color: white;
font-size: 32px;
text-align: center;
box-sizing: border-box;
padding: 25px;
font-weight: 600;
background-color: #ef4c23;
position: relative;
}
.globalbrands {
width: 100%;
position: absolute;
transform: translate(-50%, -50%);
font-size: 15px;
margin-top: 20%;
top: 20%;
left: 50%;
}
.Seobrandimg {
border: 1px solid black;
height: 100px;
width: 70px;
position: relative;
}
.Seobrandimg > img {
width: 100%;
height: 100%;
object-fit: contain;
filter: grayscale(1);
position: absolute;
transform: translate(-50%, -50%);
top: 50%;
left: 50%;
}
.Seobrandimg > img:hover {
filter: none;
}
.mainlogoDiv {
height: 100px;
}
}

