.makeContentCountParentDiv {
  margin: auto;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
}

.makeContentCountContentMainDiv {
  width: 50%;
  margin-left: 3%;
}

.makeContentCountContentMainDiv h1 {
  margin-top: 3%;
  font-size: 35px;
  margin-left: 3%;
}

.makeContentCountContentMainDiv p {
  margin-top: 3%;
  margin-left: 3%;
}

.makeContentCountImageMainDiv {
  width: 50%;
}

.makeContentImageDivBackImage {
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: 1;
}

.makeContentImageDivBackImage img {
  object-fit: cover;
  width: 100%;
}

.makeContentImageDivTopImage {
  position: absolute;
  z-index: 2;
  top: 12%;
  left: 15%;
}

.makeContentImageDivTopImage img {
  width: 90%;
  object-fit: cover;
}

.makeContentCountOptionsDiv {
  margin-top: 6%;
  margin-left: 3%;
}

.makeContentCountOptionInnerDiv1 {
  display: flex;
  flex-direction: row;
}

.makeContentCountPopupButton {
  width: 30%;
  height: 40px;
  border: 1px solid lightgray;
  font-size: 20px;
  font-weight: 600;
  border-radius: 7px;
}

.makeContentCountPopupButton:hover {
  background-color: #ef4c23;
  color: white;
}

.makeContentCountAlertButton {
  margin-left: 3%;
  width: 30%;
  border: 1px solid lightgray;
  font-weight: 600;
  font-size: 20px;
  border-radius: 7px;
}

.makeContentCountAlertButton:hover {
  background-color: #ef4c23;
  color: white;
}

.makeContentCountOptionInnerDiv2 {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
}

.makeContentCountCheckoutButton {
  width: 30%;
  height: 40px;
  border: 1px solid lightgray;
  font-size: 20px;
  font-weight: 600;
  border-radius: 7px;
}

.makeContentCountCheckoutButton:hover {
  background-color: #ef4c23;
  color: white;
}

.makeContentCountMoreButton {
  margin-left: 3%;
  width: 30%;
  border: 1px solid lightgray;
  font-weight: 600;
  font-size: 20px;
  border-radius: 7px;
}

.makeContentCountMoreButton:hover {
  background-color: #ef4c23;
  color: white;
}


@media only screen and (min-width:0px) and (max-width:600px){

.makeContentCountParentDiv {
  margin: auto;
  margin-top: 2%;
  display: flex;
 flex-wrap: wrap;
 flex-direction: column-reverse;
 margin-bottom: 5%;
}

.makeContentCountContentMainDiv {
  width: 90%;
  margin-left: 3%;
}

.makeContentCountContentMainDiv h1 {
  margin-top: 3%;
  font-size: 30px;
  margin-left: 3%;
  text-align: center;
}

.makeContentCountContentMainDiv p {
  margin-top: 3%;
  margin-left: 3%;
}

.makeContentCountImageMainDiv {
  width: 100%;
}

.makeContentImageDivBackImage {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  z-index: 1;
}

.makeContentImageDivBackImage img {
  object-fit: cover;
  width: 100%;
}

.makeContentImageDivTopImage {
  position: absolute;
  z-index: 2;
  top: 12%;
  left: 15%;
}

.makeContentImageDivTopImage img {
  width: 90%;
  object-fit: cover;
}

.makeContentCountOptionsDiv {
  margin-top: 6%;
  margin-left: 3%;
}

.makeContentCountOptionInnerDiv1 {
  display: flex;
  flex-wrap: wrap;
}

.makeContentCountPopupButton {
  width: 45%;
  height: 40px;
  border: 1px solid lightgray;
  font-size: 20px;
  font-weight: 600;
  border-radius: 7px;
}

.makeContentCountPopupButton:hover {
  background-color: #ef4c23;
  color: white;
}

.makeContentCountAlertButton {
  margin-left: 3%;
  width: 45%;
  border: 1px solid lightgray;
  font-weight: 600;
  font-size: 20px;
  border-radius: 7px;
}

.makeContentCountAlertButton:hover {
  background-color: #ef4c23;
  color: white;
}

.makeContentCountOptionInnerDiv2 {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
}

.makeContentCountCheckoutButton {
  width: 45%;
  height: fit-content;
  border: 1px solid lightgray;
  font-size: 20px;
  font-weight: 600;
  border-radius: 7px;
}

.makeContentCountCheckoutButton:hover {
  background-color: #ef4c23;
  color: white;
}

.makeContentCountMoreButton {
  margin-left: 3%;
  width: 45%;
  border: 1px solid lightgray;
  font-weight: 600;
  font-size: 20px;
  border-radius: 7px;
}

.makeContentCountMoreButton:hover {
  background-color: #ef4c23;
  color: white;
}
}