.whyChooseKotlinMainDiv {
width: 100%;
display: flex;
flex-direction: row;
}
.whyChooseKotlinIconContainer {
width: 48%;
margin-left: 4%;
margin-top: 2%;
border-right: 1px solid black;
}
.whyChooseKotlinContent {
width: 48%;
/* margin-top: 3%; */

}
.whyChooseKotlinContentHeading {
margin-top: 8%;
margin-left: 5%;
}
.whyChooseKotlinContentText {
margin-top: 3%;
margin-left: 5%;
width: 80%;
 
}
.whyChooseKotlinIconOuterBox {
width: 100%;
margin-top: 5%;
display: flex;
flex-direction: row;
/* border: 2px solid red; */
}
.whyChooseKotlinContainerDiv {
width: 45%;
display: flex;
flex-direction: row;
margin-left: 4%;
/* border: 2px solid green; */
}
.whyChooseKotlinContainerDiv:hover {
cursor: pointer;
transition: all 0.2s linear;
transform: translateY(-15px);
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.whyChooseKotlinIcon {
width: 50px;
height: 50px;
/* border: 2px solid yellow; */
margin-top: 1%;
}
.whyChooseKotlinIconHeading {
width: 75%;
display: flex;
/* border: 2px solid green; */
margin-left: 4%;
flex-direction: column;
}
.whyChooseKotlinIconHeading p{
margin-top: -0%;
text-align: justify;
}
.mobileappactionkotlinbutton{
margin-left: 200px;
font-size: 18px;
border-radius: 15px;
width: 220px;
height: 50px;
font-weight: 550;
background-color: #3380f2;
color: white;
border: 1px solid lightgrey;
}
.mobileappactionkotlinbutton:hover{
background: white;
color: #3380f2;
border: 1px solid #3380f2;
}

@media only screen and (min-width:0px) and (max-width:1024px){
.whyChooseKotlinMainDiv {
width: 100%;
display: flex;
flex-direction: column-reverse;
}
.whyChooseKotlinIconContainer {
width: 100%;
border: none;
}
.whyChooseKotlinContent {
 width: 100%;
margin: auto;
text-align: center;
margin-top: 5%;
}
 .whyChooseKotlinIconOuterBox {
width: 100%;
margin: auto;
display: flex;
flex-direction: column;
}
.whyChooseKotlinContainerDiv {
width: 70%;
display: flex;
flex-direction: column;
margin: auto;
}
.whyChooseKotlinContainerDiv:hover {
cursor: pointer;
transition: all 0.2s linear;
transform: translateY(-15px);
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.whyChooseKotlinIcon {
width: 35%;
margin-top: 5%;
/* border: 2px solid blue; */
}
.whyChooseKotlinIcon img {
width: 60px;
height: 60px;
}
.whyChooseKotlinIconHeading {
width: 95%;
margin: auto;
display: flex;
flex-direction: column;
}
.whyChooseKotlinContentHeading {
margin: auto;
}
.whyChooseKotlinContentText {
 margin: auto;
width: 95%;
text-align: justify;
}
.mobileappactionkotlinbutton{
border: 2px solid green;
font-size: 18px;
border-radius: 15px;
width: 220px;
height: 50px;
font-weight: 550;
background-color: #ef4c23;
color: white;
border: 1px solid lightgrey;
}
.mobileappactionkotlinbutton:hover{
background: white;
color: #ef4c23;
}
.mobileappactionkotlinbuttondiv{
border: 2px solid red;
margin-top: 3%;
 }
}
