.seoEmailFaqheading {
  color: #ef4c23;
  width: 80%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.seoEmailfaq1 {
  margin: auto;
  color: #ef4c23;
  border-radius: 70px;
  box-shadow: 3px 3px 30px rgb(0 0 0 / 15%);
}
.seoEmailfaq2 {
  color: #ef4c23;
}
