.servicesolutionVisible {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  z-index: 100000000;
  height: fit-content;
  position: fixed;
  background-color: white;
  top: 78px;
}

.servicesideNav {
  width: 10%;
  padding: 40px 0;
  background-color: #ef4c23de;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  box-sizing: border-box;
}

.servicesideNav > div {
  width: 100%;
  padding: 10px 5px;
  box-sizing: border-box;
  color: white;
  text-align: center;
  cursor: pointer;
  border-right: 1px solid #ef4c23de;

  height: 40px;
}

.servicesideNav > div:hover {
  color: black;
  background-color: white;
}

.servicesideNav > div > h6 {
  margin: 0;
}

.serviceactivetoggle {
  background-color: white;
}

.serviceactivetoggle > h6 {
  color: black;
  font-size: 18px;
  transition: all 0.2s linear;
}

.servicedropdownSection {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 30px;
  box-sizing: border-box;
}

#serviceDropContent {
  width: 40%;
}

.serviceDropdownContent {
  height: 100%;
  width: 20%;
}

.serviceDropdownContent > h4 {
  color: #ef4c23;
}

.servicenoStyle {
  text-decoration: none;
  color: #ef4c23;
  cursor: pointer;
}

.servicenoStyle:hover {
  text-decoration: none;
  color: #ef4c23;
}

.servicelistItems {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 3px;
}

.servicelistItems > p:hover {
  margin: 0;
  color: #ef4c23;
  cursor: pointer;
}

.serviceimageIconDivSection {
  width: 100%;
  height: 38px;
  column-gap: 3%;
  display: flex;
  padding-left:7px;
  align-items: center;
  box-sizing: border-box;
  border-left: 3px solid white;
  margin-top: 2px;
}

.serviceiconDivSection {
  border-left: 3px solid white;
}

.serviceimageIconDivSection:hover .serviceiconDivSection,
.servicebackendimageIconDivSection:hover .serviceiconDivSection {
  border-left: 3px solid #ef4c23;
}

.serviceimageIconDivSection:hover {
  border-left: 3px solid #ef4c23;
  margin-top: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;

}

.serviceimageIconDivSection > p {
  width: 65%;
  font-size: 14px;
  margin: 0;
}

.serviceimageIconDivSection > div {
  width: 27px;
  border-left: 2px solid white;
  height: 27px;
}

.serviceimageIconDivSection > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.servicelinkP {
  text-decoration: none;
  width: 80%;
  font-size: 14px;
}

.servicelinkP p {
  margin: 0;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.servicelinkP p:hover {
  color: #ef4c23;
}

.nav .servicetrendListItems {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.servicetrendListItems > p {
  margin: 0;
  padding: 4px;
}

.servicetrendListItems {
  width: 50%;
  height: 390px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 3px;
}

.servicebackendlistItems {
  width: 100%;
  height: 400px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.servicetrendImageIconDivSection {
  width: 100%;
  height: 38px;
  column-gap: 3%;
  display: flex;
  align-items: center;
  border-left: 3px solid white;
  margin-top: 2px;
}

.servicetrendImageIconDivSection:hover {
  border-left: 3px solid #ef4c23;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 0;
}

.servicetrendImageIconDivSection:hover .iconDivSection {
  border-left: 3px solid #ef4c23 !important;
}

.servicetrendImageIconDivSection > p {
  width: 80%;
  font-size: 14px;
  margin: 0;
}

.servicetrendImageIconDivSection > p:hover {
  color: #ef4c23;
}

.servicetrendImageIconDivSection > div {
  width: 27px;
  border-left: 2px solid white;
  height: 27px;
}

.servicetrendImageIconDivSection > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.servicediscoverDropdown {
  width: 90%;
  display: flex;
}

.servicediscoverleft {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.servicediscoverlefttop {
  width: 100%;
  height: 85%;
  padding: 20px;
  border-bottom: 0.5px solid #e0dada;
}

.servicediscoverleftbottom {
  width: 100%;
  height: 15%;
  padding: 15px 93px;
}

.servicediscoverleftbottom > h3 {
  margin: 0;
}

.servicediscoverleftbottom span {
  color: #ef4c23;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.servicediscoverleftbottom span:hover {
  padding-left: 10px;
}

.servicediscoverright {
  width: 30%;
  padding: 20px;
  background-color: #fff6f4;
}

.serviceknowmore {
  color: #ef4c23;
  padding: 0 75px;
  cursor: pointer;
}

.serviceskillDropdownContent {
  height: 100%;
  width: 14%;
}

.servicebackendDropdownContent {
  height: 100%;
  width: 38%;
}

.servicebackendimageIconDivSection {
  width: 33%;
  height: 38px;
  column-gap: 3%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-left: 3px solid white;
  margin-top: 2px;
}

.servicebackendimageIconDivSection:hover .iconDivSection {
  border-left: 3px solid #ef4c23;
}

.servicebackendimageIconDivSection:hover {
  border-left: 3px solid #ef4c23;
  cursor: pointer;
  margin-top: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.servicebackendimageIconDivSection > p {
  width: 65%;
  font-size: 14px;
  margin: 0;
}

.servicebackendimageIconDivSection > div {
  width: 45px;
  border-left: 2px solid white;
  height: 30px;
}

.servicebackendimageIconDivSection > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 480px) {
  .servicesolutionVisible {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    z-index: 100000000;

    height: 445px;
    flex-direction: column;
    position: static;
    background-color: white;
  }

  .servicesideNav {
    width: 100%;
    padding: 10px 5px;
    background-color: #ef4c23;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    row-gap: 20px;
  }

  .servicesideNav > h5 {
    font-size: 14px;
  }

  .servicediscoverDropdown {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }

  .servicediscoverleft {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }

  .servicediscoverlefttop {
    width: 100%;
    padding: 20px 0;
    border-bottom: 0.5px solid #e0dada;
  }

  .servicediscoverleftbottom {
    width: 100%;
    height: 15%;
    padding: 15px 5px;
    box-sizing: border-box;
  }

  .servicediscoverleftbottom > h3 {
    font-size: 18px;
    text-align: center;
  }

  .servicediscoverright {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff6f4;
  }

  .servicedropdownSection {
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 60px;
    padding: 0;
  }

  .serviceDropdownContent {
    height: fit-content;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  .serviceDropdownContent {
    height: fit-content;
    width: 100%;
  }

  #serviceDropContent {
    width: 100%;
  }

  .servicetrendListItems {
    width: 100%;
    height: fit-content;
  }

  .serviceimageIconDivSection {
    column-gap: 10px;
  }

  .servicebackendDropdownContent {
    height: 100%;
    width: 100%;
    padding: 10px 0;
  }

  .serviceskillDropdownContent {
    height: 100%;
    width: 50%;
  }
}
@media (min-width: 480px) and (max-width: 1024px) {
  .servicesolutionVisible {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    z-index: 100000000;

    height: 445px;
    flex-direction: column;
    position: static;
    background-color: white;
  }

  .servicesideNav {
    width: 100%;
    padding: 10px 5px;
    background-color: #ef4c23;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    row-gap: 20px;
  }
  .servicesideNav > h5 {
    font-size: 14px;
  }

  .servicediscoverDropdown {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }

  .servicediscoverleft {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }

  .servicediscoverlefttop {
    width: 100%;
    padding: 20px 0;
    border-bottom: 0.5px solid #e0dada;
  }

  .servicediscoverleftbottom {
    width: 100%;
    height: 15%;
    padding: 15px 5px;
    box-sizing: border-box;
  }
  .servicediscoverleftbottom > h3 {
    font-size: 18px;
    text-align: center;
  }

  .servicediscoverright {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff6f4;
  }

  .servicedropdownSection {
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 60px;
    padding: 0;
  }

  .serviceDropdownContent {
    height: fit-content;
    width: 31%;
    padding: 10px;
    box-sizing: border-box;
  }
  .serviceDropdownContent {
    height: fit-content;
    width: 31%;
  }

  #serviceDropContent {
    width: 100%;
  }

  .servicetrendListItems {
    width: 100%;
    flex-wrap: wrap;
  }

  .serviceimageIconDivSection {
    column-gap: 10px;
  }
  .servicebackendDropdownContent {
    height: 100%;
    width: 100%;
    padding: 10px 0;
  }

  .serviceskillDropdownContent {
    height: 100%;
    width: 50%;
  }

  .servicetrendImageIconDivSection {
    width: 50%;
  }
}
