.resourceVisible {
  display: flex;
  background-color: transparent;
  width: 20%;
  height: 350px;
  position: fixed;
  box-sizing: border-box;
  top: 78px;
  left: 47%;
  z-index: 100000000;
  justify-content: center;
}

.resourceListItems {
  width: 100%;
  height: 98%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px ;
  flex-direction: column;
  border: 2px solid white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.resourceListItems > div > p {
  margin: 0;
  width: 49%;
  padding: 5px 5px;
  list-style: none !important;
  text-decoration: none !important;
}

.resourceListItems > p:hover {
  margin: 0;
  color: #ef4c23;
  cursor: pointer;
}

.resourcelinkP {
  text-decoration: none;
  width: 70%;
  margin-left: 15%;
  font-size: 14px;
}

.resourcelinkP > p {
  margin: 0;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.resourcelinkP p:hover {
  color: #ef4c23;
}

@media (max-width: 480px) {
  .resourceVisible {
    position: static;
    box-sizing: border-box;
    width: 100%;
  }
  .resourceVisible>div {

    width: 100%;
  }

  .resourceListItems {
    width: 100%;
    padding: 10px;
   
  }
}
@media (min-width: 480px) and  (max-width: 1024px) {
  .resourceVisible {
    position: static;
    box-sizing: border-box;
    width: 100%;
  }
  .resourceVisible>div {

    width: 100%;
  }

  .resourceListItems {
    width: 100%;
    padding: 10px;
   
  }
}
