.flowerdeliveryservicemainbox {
  height: fit-content;
  margin-top: 5%;
}

.flowerdeliveryservicetextbox {
  width: 60%;
  margin: auto;
}

.flowerdeliveryservicetextbox > h1 {
  text-align: center;
  font-size: 35px;
}

.flowerdeliveryservicetextbox > p {
  text-align: center;
}

.flowerdeliveryservicebackgroundimagebox {
  height: 100%;
  width: 90%;
  margin: auto;
  background-image: url("/Images/Flowerdeliverypage/Rectangle1947.webp");
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
}

.flowerdeliveryserviceboxesmap {
  padding: 1%;
  width: 28%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 1% 1% 1% 2%;
  background-color: white;
  border-radius: 10px;
}

.flowerdeliveryserviceboxesmap:hover {
  transform: scale(1.02);
}

.flowerdeliveryserviceboxesmap > div > h5 {
  margin-top: 0%;
  margin-bottom: 0%;
}

.flowerdeliveryserviceinnerboximagebox {
  height: 200px;
  width: fit-content;
  margin: auto;
}

.flowerdeliveryserviceinnerboximagebox > img {
  height: 100%;
  object-fit: contain;
  margin-bottom: 0%;
}



/* Media query for the Mobile Device */

@media (max-width: 480px) {
  .flowerdeliveryservicemainbox {
    height: fit-content;
    margin-top: 5%;

  }

  .flowerdeliveryservicetextbox {

    width: 100%;
    border: 1px solid transparent;
  
    margin-top: 10%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
  }

  .flowerdeliveryservicetextbox > h1 {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-top: 4%;
    margin-bottom: 0%;
  }

  .flowerdeliveryservicetextbox > p {
    text-align: center;
    font-size: 15px;
    margin-top: 0%;
  }

  .flowerdeliveryservicebackgroundimagebox {
    height: 100%;
    width: 100%;
    margin: auto;
    background-image: url("/Images/Flowerdeliverypage/Rectangle1947.webp");
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    margin-left: 3%;
  }

  .flowerdeliveryserviceboxesmap {
    padding: 2%;
    width: 43%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 1% 1% 1% 2%;
    background-color: white;
    border-radius: 10px;
  }

  .flowerdeliveryserviceboxesmap:hover {
    transform: scale(1.02);
  }

  .flowerdeliveryserviceboxesmap > div > h5 {

    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 13px;
  }

  .flowerdeliveryserviceboxesmap > div > p {
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
  }
  .flowerdeliveryserviceinnerboximagebox {

    height: 45%;
    width: 100%;
    margin: auto;
  }

  .flowerdeliveryserviceinnerboximagebox > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin-bottom: 0%;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .flowerdeliveryservicemainbox {
    height: fit-content;
    margin-top: 5%;
   
  }

  .flowerdeliveryservicetextbox {
    width: 100%;
    border: 1px solid transparent;
    margin-top: 10%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
  }

  .flowerdeliveryservicetextbox > h1 {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-top: 4%;
    margin-bottom: 0%;
  }

  .flowerdeliveryservicetextbox > p {
    text-align: center;
    font-size: 15px;
    margin-top: 0%;
  }

  .flowerdeliveryservicebackgroundimagebox {
    width: 100%;
    margin: auto;
    background-image: url("/Images/Flowerdeliverypage/Rectangle1947.webp");
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    margin-left: 3%;
  }

  .flowerdeliveryserviceboxesmap {
    padding: 1%;
    height: fit-content;
    width: 43%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 1% 1% 1% 2%;
    background-color: white;
    border-radius: 10px;
  }

  .flowerdeliveryserviceboxesmap:hover {
    transform: scale(1.02);
  }

  .flowerdeliveryserviceboxesmap > div > h5 {
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 30px;
    font-weight: 600;
  }

  .flowerdeliveryserviceboxesmap > div > p {
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
  }

  .flowerdeliveryserviceinnerboximagebox {

    height: 45%;
    width: 100%;
    margin: auto;
  }

  .flowerdeliveryserviceinnerboximagebox > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin-bottom: 0%;
  }
}
