.flowerdeliverylastdivstart {
  height: fit-content;
  width: 80%;
  margin-left: 13%;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  
}

.flowerdeliverydisplayflex {
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  margin: 2%;
  margin-left: 50px;
  display: flex;
  border-radius: 10px;
}

.insiderdivflexboxleft {
  height: 100%;
  width: 60%;
}

.insiderdivflexboxleft > h5 {
  margin-bottom: 0%;
  margin-top: 0%;
}

.insiderdivflexboxright {
  height: 100%;
  width: 40%;
}

.flowerdeliverydisplayflex:hover {
  cursor: pointer;
  transition: all 0.2s linear;
  transform: translateY(-10px);
  background-color: #fff8f9;
}

/* Media query for the Mobile Device */

@media (max-width: 480px) {
  .flowerdeliverylastdivstart {
    height: fit-content;
    width: 90%;
    margin: 0;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .flowerdeliverydisplayflex {
    border: 1px solid black;
    height: 220px;
    width: 90%;
    margin-left: 13%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    border-radius: 10px;
    margin-bottom: 10%;
  }

  .insiderdivflexboxleft {
    height: 100%;
    width: 60%;
  }

  .insiderdivflexboxleft > h5 {
    margin-bottom: 0%;
    margin-top: 0%;
    font-weight: 500;
  }

  .insiderdivflexboxleft > p {
    font-weight: 400;
    font-size: 16px;

  }

  .insiderdivflexboxright {
    height: 100%;
    width: 40%;
  }

  .flowerdeliverydisplayflex:hover {
    transform: scale(1.02);
    background-color: #fff8f9;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .flowerdeliverylastdivstart {
    height: fit-content;
    width: 93%;
    margin-left: 6%;
    margin-top: 5%;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .flowerdeliverydisplayflex {
    height: 150px;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    margin: 2%;
    display: flex;
    border-radius: 10px;
  }

  .insiderdivflexboxleft {
    height: 100%;
    width: 60%;
  }

  .insiderdivflexboxleft > h5 {
    margin-bottom: 0%;
    margin-top: 5%;
  }

  .insiderdivflexboxright {
    height: 100%;
    width: 60%;
  }



  .flowerdeliverydisplayflex:hover {
    transform: scale(1.02);
    background-color: #fff8f9;
  }
}
