.flowerdeliveryadminmainbox {
  height: fit-content;
  display: flex;
  margin-top: 5%;
}

.flowerdeliveryadminflexleftbox {
  width: 45%;
  margin-left: 3%;
}

.flowerdeliveryadminflexleftbox > h2 {
  margin-left: 3%;
}
.flowerdeliveryadminmapping{
  width: 100%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 30px;
  gap: 20px;
  justify-content: center;
}
.flowerdeliveryadmingboxmapping {
  padding: 9px 15px 15px 10px;
  height: 250px;
  width: 45%;
  border-radius: 18px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}

.flowerdeliveryadmingboxmapping:hover {
  cursor: pointer;
  transition: all 0.2s linear;
  transform: translateY(-10px);
  background-color: #fee9ec;
}
.flowerdeliveryadmingboxmappingicon{
  height: 22%;
  width: 18%;
  padding: 2.5%;
}
.flowerdeliveryadminflexrightbox {
  position: relative;
  width: 50%;
}

.flowerdeliveryadminrightboxforimageone {
  position: absolute;
  height: 90%;
  width: 93%;
  top: 10%;
  left: 11%;
}

.flowerdeliveryadminrightboxforimageone > img {
  object-fit: cover;
  z-index: 0;
}

.flowerdeliveryadminrightboxforimagetwo {
  position: relative;
  height: fit-content;
  width: 85%;
  top: 20%;
  left: 15%;
}

.flowerdeliveryadminrightboxforimagetwo > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}


/* Media query for the Mobile Device */

@media (max-width: 480px) {
  .flowerdeliveryadminmainbox {
    height: fit-content;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .flowerdeliveryadminflexleftbox {
    width: 100%;
    margin-top: 70%;
    align-items: center;
  }

  .flowerdeliveryadminflexleftbox > h2 {
    font-weight: 500;
    width: 90%;
  }

  .flowerdeliveryadmingboxmapping {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 2%;
    width: 90%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
  }

  .flowerdeliveryadmingboxmapping:hover {
    transform: scale(1.02);
    background-color: #fff8f9;
  }

  .flowerdeliveryadmingboxmapping > h4 {
    margin-top: 0%;
    margin-bottom: 0%;
  }

  .flowerdeliveryadmingboxmapping > p {
    margin-top: 2%;
  }

  .flowerdeliveryadminflexrightbox {
    height: fit-content;
    position: relative;
    width: 90%;
  }

  .flowerdeliveryadminrightboxforimageone {
    position: absolute;
    height: 220px;
    width: 80%;
    margin-top: 3%;
  }

  .flowerdeliveryadminrightboxforimageone > img {
    object-fit: cover;
    z-index: 0;
  }

  .flowerdeliveryadminrightboxforimagetwo {
    position: absolute;
    height: fit-content;
    width: 80%;
  }

  .flowerdeliveryadminrightboxforimagetwo > img {
    object-fit: cover;
    z-index: 1;
    margin-top: 4%;
  }
}


@media (min-width: 481px) and (max-width: 1024px) {
  .flowerdeliveryadminmainbox {
    height: max-content;
    width: 90%;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .flowerdeliveryadminflexleftbox {
    width: 100%;
    margin-top: 60%;
    align-items: center;
  }

  .flowerdeliveryadminflexleftbox > h2 {
    margin-left: 3%;
    font-weight: 500;
    width: 100%;
  }

  .flowerdeliveryadmingboxmapping {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    border-radius: 10px;
  }

  .flowerdeliveryadmingboxmapping:hover {
    transform: scale(1.02);
    background-color: #fff8f9;
  }

  .flowerdeliveryadmingboxmapping > h4 {
    margin-top: 0%;
    margin-bottom: 0%;
  }

  .flowerdeliveryadmingboxmapping > p {
    margin-top: 2%;
  }
  .flowerdeliveryadmingboxmappingicon{
    width: 100px;
    height: 90px;
  }
  .flowerdeliveryadminflexrightbox {
    height: fit-content;
    position: absolute;
    width: 100%;
  }

  .flowerdeliveryadminrightboxforimageone {
    position: absolute;
    width: 90%;
    left: 5%;
  }

  .flowerdeliveryadminrightboxforimageone > img {
    object-fit: cover;
    z-index: 0;
  }

  .flowerdeliveryadminrightboxforimagetwo {
    position: absolute;
    height: 400px;
    width: 80%;
    top: 17%;
    left: 10%;
  }

  .flowerdeliveryadminrightboxforimagetwo > img {
    object-fit: cover;
    z-index: 1;
  }
}
