.flowerdeliverydrivermainboxing {
  height: fit-content;
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content:space-between ;
}

.flowerdeliveryflexboxleft {
  height: fit-content;
  width: 50%;
  position: relative;

}

.flowerdeliveryflexboxright {
  height: fit-content;
  width: 55%;
  margin-right: 4%;
}

.flowerdeliveryflexboxright > h2 {
  margin-left: 2%;
}
.flowerdeliverydrivermapping{
  width: 100%;
height: 100%;
display: flex;
flex-wrap: wrap;
margin: auto;
margin-top: 30px;
gap: 20px;
justify-content: center;
}
.flowerdeliverydrivermappingbox {
  padding: 21px ;
  height: 250px;
  width: 45%;
  border-radius: 18px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}

.flowerdeliverydrivermappingbox:hover {
  cursor: pointer;
  transition: all 0.2s linear;
  transform: translateY(-10px);
  background-color: #FFE9ED;
}
.flowerdeliverydrivermappingboxicon{
  height: 25%;
  width: 18%;
  padding: 1%;
}

.flowerdeliveryflexboxleftimageone {
  position: absolute;
  height: 400px;
  width: 90%;
  top: 220px;
}

.flowerdeliveryflexboxleftimageone > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}

.flowerdeliveryflexboxleftimagetwo {
  position: absolute;
  height: fit-content;
  width: 43%;
  left: 150px;
  top: 60px;
}

.flowerdeliveryflexboxleftimagetwo > img {
  object-fit: cover;
  padding: 5%;
  z-index: 1;
}


/* Media query for the Mobile Device */

@media (max-width: 480px) {
  .flowerdeliverydrivermainboxing {
    height: max-content;
    width: 95%;
    flex-direction: column;
    text-align: center;
  }

  .flowerdeliveryflexboxleft {
    height: 400px;
    width: 70%;
    position: relative;
  }

  .flowerdeliveryflexboxleftimageone {
    position: absolute;
    left: 30%;
    width: 100%;
    top: 60px;
  }

  .flowerdeliveryflexboxleftimageone > img {
    height: 80%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    z-index: 0;
  }

  .flowerdeliveryflexboxleftimagetwo {
    position: absolute;
    height: fit-content;
    width: 80%;
    left: 40%;
  }

  .flowerdeliveryflexboxleftimagetwo > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    z-index: 1;
  }

  .flowerdeliveryflexboxright {
    height: fit-content;
    width: 100%;
    margin-left: 3%;
    margin-top: 15%;
    justify-content: center;
  }

  .flowerdeliveryflexboxright > h2 {
    margin-left: 18%;
    font-weight: 500;
    margin-top: -110%;
    position: absolute;
   
  }

  .flowerdeliverydrivermappingbox {
    height: fit-content;
    width: 95%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 2%;
    border-radius: 10px;
  }

  .flowerdeliverydrivermappingbox:hover {
    transform: scale(1.02);
    background-color: #fff8f9;
  }

  .flowerdeliverydrivermappingbox > h4 {
    margin-top: 0%;
    margin-bottom: 2%;
  }

  .flowerdeliverydrivermappingbox > p {
    margin-top: 0%;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .flowerdeliverydrivermainboxing {
    height: fit-content;
    margin-top: 10%;
    flex-direction: column;
  }

  .flowerdeliveryflexboxleft {
    height: 900px;
    width: 60%;
    position: relative;
  }

  .flowerdeliveryflexboxleftimageone {
    position: absolute;
    left: 45%;
    width: 90%;
    height: 800px;
    top: 50px;
  }

  .flowerdeliveryflexboxleftimageone > img {
    border-radius: 20px;
    object-fit: cover;
    z-index: 0;
  }

  .flowerdeliveryflexboxleftimagetwo {
    position: absolute;
    height: fit-content;
    width: 80%;
    left: 50%;
  }

  .flowerdeliveryflexboxleftimagetwo > img {
    object-fit: cover;
    z-index: 1;
  }

  .flowerdeliveryflexboxright {
    height: fit-content;
    width: 90%;
    margin-left: 5%;
  }

  .flowerdeliveryflexboxright > h2 {
    margin-left: 2%;
    font-weight: 400;
    
  }
  .flowerdeliverydrivermappingboxicon{
    width: 100px;
    height: 90px;
  }

  .flowerdeliverydrivermappingbox {
    padding: 10px 10px 10px 10px;
    height: 230px;
    width: 92%;
    border-radius: 18px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
  }

  .flowerdeliverydrivermappingbox:hover {
    transform: scale(1.02);
    background-color: #fff8f9;
  }
}
