.flowerdeliverybannermaindiv {
  height: 90vh;
  margin-top: 120px;
  display: flex;
  flex-direction: row;
}

.flowerdeliverybannerleftbox {
  height: 50%;
  width: 45%;
  margin-left: 5%;
  margin-top: 12%;
  text-align: justify;
}

.flowerdeliverybannerleftbox > h1 {
  font-weight: 700;
  font-size: 35px;
  /* border: 1px solid red; */
}

.flowerdeliverybannerleftbox > h2 {
  font-weight: 700;
  font-size: 30px;
}

.flowerdeliverybannerrightbox {
  width: 52%;
  margin-left: 8%;
  position: absolute;
  top: 7.5%;
  right: 0%;
}

.flowerDeliveryBannerAnimation {
  /* border: 1px solid red; */
  width: 90%;
}

.flowerdeliverybannerimageone {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 10%;
  z-index: 0;
}

.flowerdeliverybannerimageone > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.flowerdeliverybannerimagetwo {
  position: absolute;
  height: 80%;
  width: 70%;
  left: 25%;
  top: 5%;
}
.flowerdeliverybannerimagetwo > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.flowerdeliverybannerbutton {
  padding: 10px 50px;
  border-radius: 100px;
  width: 220px;
  background-color: #3380f2;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.flowerdeliverybannerbutton:hover {
  background-color: white;
  color: #3380f2;
}

/* Media query for the Mobile Device */
@media (max-width: 480px) {
  .flowerdeliverybannermaindiv {
    height: 80vh;
    width: 100%;
    margin: 0;
    flex-direction: column-reverse;
    position: static;
  }

  .flowerdeliverybannerleftbox {
    height: 50%;
    width: 90%;
    padding-top:  15%;
    text-align: justify;
  }

  .flowerdeliverybannerleftbox > h1 {
    width: 100%;
    font-weight: 700;
    font-size: 23px;
    text-align: center;
    justify-content: center;
    padding-bottom: 5%;

  }

  .flowerdeliverybannerleftbox > h1 > span {
    color: #ef4c23;
  }

  .flowerdeliverybannerleftbox > p {
    font-size: 17px;
    text-align: center;
    padding-bottom: 5%;
  }

  .flowerdeliverybannerbutton {
    padding: 10px 50px;
    border-radius: 100px;
    width: 220px;
    background-color: #3380f2;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 20%;
  }

  .flowerdeliverybannerbutton:hover {
    background-color: white;
    color: #3380f2;
  }

  .flowerdeliverybannerrightbox {
    position: static;
    width: 60%;
    margin-left: 20%;
  }

  .flowerdeliverybannerimageone {
    height: 100%;
    width: 100%;
    z-index: 0;
    top: 10%;

  }

  .flowerdeliverybannerimageone > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin-top: 5%;
  }

  .flowerdeliverybannerimagetwo {
    position: absolute;
    height: 90%;
    width: 80%;
    left: 10%;
  }

  .flowerdeliverybannerimagetwo > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .flowerdeliverybannermaindiv {
    margin: 0;
    flex-direction: column-reverse;
    position: static;
    height: 90vh;
    display: flex;
  }

  .flowerdeliverybannerleftbox {
    width: 100%;
    text-align: justify;
    top: 85%;
    margin: 0;
    align-items: center;
    justify-content: center;
  }

  .flowerdeliverybannerleftbox > h1 {
    width: 100%;
    font-weight: 700;
    font-size: 35px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 5%;

  }

  .flowerdeliverybannerleftbox > h1 > span {
    color: #ef4c23;
  }

  .flowerdeliverybannerleftbox > p {
    font-size: 25px;
    text-align: center;
    margin-bottom: 10%;
  }

  .flowerdeliverybannerbutton {
    padding: 20px 70px;
    border-radius: 100px;
    width: 40%;
    background-color: #3380f2;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 30px;
    font-weight: 600;
    color: white;
    margin-left: 30%;
  }

  .flowerdeliverybannerbutton:hover {
    background-color: white;
    color: #3380f2;
  }

  .flowerdeliverybannerrightbox {
    position: static;
    margin-left: 20%;
  }

  .flowerdeliverybannerimageone {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    top: 10%;
  }

  .flowerdeliverybannerimageone > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin-top: 5%;
  }

  .flowerdeliverybannerimagetwo {
    position: absolute;
    height: 90%;
    width: 80%;
    left: 10%;
  }

  .flowerdeliverybannerimagetwo > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
