.flowerdeliveryadminmainbox {
  height: fit-content;
  display: flex;
  margin-top: 5%;
}

.flowerdeliveryadminflexleftbox {
  width: 45%;
  margin-left: 3%;
}

.flowerdeliveryadminflexleftbox > h2 {
  margin-left: 3%;
}

.flowerdeliveryadmingboxmapping {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 2%;
  height: 140px;
  width: 80%;
  padding: 3%;
  border-radius: 10px;
}

.flowerdeliveryadmingboxmapping:hover {
  transform: scale(1.02);
  background-color: #fee9ec;
}

.flowerdeliveryadminflexrightbox {
  position: relative;
  width: 50%;
}

.flowerdeliveryadminrightboxforimageone {
  position: absolute;
  height: 70%;
  width: 93%;
  top: 15%;
  left: 10%;
}

.flowerdeliveryadminrightboxforimageone > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}

.flowerdeliveryadminrightboxforimagetwo {
  position: absolute;
  height: fit-content;
  width: 90%;

  top: 17%;
  left: 50px;
}

.flowerdeliveryadminrightboxforimagetwo > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}


/* Media query for the Mobile Device */

@media (max-width: 480px) {
  .flowerdeliveryadminmainbox {
    height: fit-content;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .flowerdeliveryadminflexleftbox {
    width: 100%;
    margin-top: 5%;
    align-items: center;
    text-align: center;
  }

  .flowerdeliveryadminflexleftbox > h2 {
    margin-left: 3%;
    font-weight: 500;
    width: 100%;
  }

  .flowerdeliveryadmingboxmapping {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 2%;
    width: 98%;
    margin-left: 5%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
  }

  .flowerdeliveryadmingboxmapping:hover {
    transform: scale(1.02);
    background-color: #fff8f9;
  }

  .flowerdeliveryadmingboxmapping > h4 {
    margin-top: 0%;
    margin-bottom: 0%;
  }

  .flowerdeliveryadmingboxmapping > p {
    margin-top: 2%;
  }

  .flowerdeliveryadminflexrightbox {
    height: fit-content;
    position: relative;
    width: 100%;
  }

  .flowerdeliveryadminrightboxforimageone {
    position: absolute;
    height: 220px;
    width: 93%;
    margin-top: 3%;
  }

  .flowerdeliveryadminrightboxforimageone > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .flowerdeliveryadminrightboxforimagetwo {
    position: absolute;
    height: fit-content;
    width: 90%;
    left: 50px;
  }

  .flowerdeliveryadminrightboxforimagetwo > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
    margin-top: 4%;
  }
}


@media (min-width: 481px) and (max-width: 1024px) {
  .flowerdeliveryadminmainbox {
    height: fit-content;
    flex-direction: column-reverse;
  }

  .flowerdeliveryadminflexleftbox {
    width: 100%;
    margin-top: 5%;
    position: absolute;
    align-items: center;
    text-align: center;
  }

  .flowerdeliveryadminflexleftbox > h2 {
    margin-left: 3%;
    font-weight: 500;
    width: 100%;
  }

  .flowerdeliveryadmingboxmapping {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 2%;
    width: 98%;
    margin-left: 0%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
  }

  .flowerdeliveryadmingboxmapping:hover {
    transform: scale(1.02);
    background-color: #fff8f9;
  }

  .flowerdeliveryadmingboxmapping > h4 {
    margin-top: 0%;
    margin-bottom: 0%;
  }

  .flowerdeliveryadmingboxmapping > p {
    margin-top: 2%;
  }

  .flowerdeliveryadminflexrightbox {
    height: fit-content;
    position: absolute;
    width: 100%;
  }

  .flowerdeliveryadminrightboxforimageone {
    position: absolute;
    width: 100%;
    left: 5%;
  }

  .flowerdeliveryadminrightboxforimageone > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .flowerdeliveryadminrightboxforimagetwo {
    border: 1px solid black;
    position: absolute;
    height: 500px;
    width: 90%;
    top: 17%;
    left: 10%;
  }

  .flowerdeliveryadminrightboxforimagetwo > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
  }
}
