.wearablePageCardsInnerMainDiv4 {
  display: flex;
  flex-direction: row;
  /* border: 2px solid blue; */
  height: 50vh;
  margin-bottom: 5%;
}

.wearableInnerMainDiv4FirstDiv {
  display: flex;
  flex-direction: column;
  /* border: 2px solid yellow; */
  margin-left: 1%;
  width: 40%;
  margin-top: 3%;
}

.wearableInnerMaindiv4FirstDivBox {
  display: flex;
  flex-direction: row;
  /* border: 2px solid green; */
}

.wearableInnerMaindiv4FirstDivBox h3 {
  font-size: 18px;
  margin-left: 10%;
  /* margin-top: 0; */

}

.wearableInnerMaindiv4FirstDivBox p {
  font-size: 14px;
  margin-top: 0%;
  margin-left: 10%;
}

.wearable1stdivbox {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-top: 3%;
  /* width: 45%; */
}

.wearable1stdivbox:hover {
  cursor: pointer;
  /* margin-top: 0; */
  transition: all 0.2s linear;
  /* transform: scale(1.1); */
  transform: translateY(-15px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.wearableinnermaindiv4SecondDiv {
  border-left: 2px solid gray;
  width: 60%;
  margin-left: 2%;
  margin-top: 4%;
  padding-left: 3%;
}

.wearableinnermaindiv4SecondDiv h1 {
  font-size: 40px;
  width: 80%;
}

.wearableinnermaindiv4SecondDiv p {
  font-size: 16px;
  text-align: justify;
  width: 95%;
  /* margin-top: 3%; */
}

.wearablelogo {
  /* border: 2px solid pink ; */
  width: 50px;
  height: 50px;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  /* margin-top: 7%; */
}

.wearablelogoimg {
  /* width: 100%; */
  height: 100%;
}
.wearableinnermaindiv4SecondDivbtns{
  border: 1px solid #3280f2;
  width: 260px;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  color: #3280f2;
  font-size: 18px;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 25%;
  margin-top: 3%;
}
.wearableinnermaindiv4SecondDivbtns:hover{
  background: #3280f2;
  color: white;

}




.wearableInnerMaindiv5BoxDiv {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;

  background: url("/Images/wearable/Rectangle 4559.webp");
  background-size: 100% 50%;
  background-position: center;
  /* margin-top: 5%; */

  border-radius: 5px;
}

.wearableinnermaindiv4Boxdiv1sColum {
  display: flex;
  flex-direction: row;
  width: 90%;
 
  /* height: 43vh; */
  /* border: 2px solid yellow; */
  margin: auto;
  margin-top: 2%;
}

.wearableInnerMaindiv4Row {
  justify-content: left;
  text-align: left;
  /* border: 2px solid red; */
  background-color: white;
  margin: auto;
  width: 30%;
  height: fit-content;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* margin-left: 3%; */
  /* margin-right: 3%; */
padding: 10px;
   /* margin-top: 2%; */
  /* padding: 5px 5px 5px 5px; */
  /* padding-left: 1%; */
  border-radius: 10px;
  /* margin-bottom: 1%; */
}

.wearableInnerMaindiv4Row:hover {
  cursor: pointer;
  /* margin-top: 0; */
  transition: all 0.2s linear;
  /* transform: scale(1.1); */
  transform: translateY(-15px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.wearableInnerMaindiv4Row h4 {
  margin: 0%;
  font-size: 23px;
}

.wearableInnerMaindiv4Row p {
  margin-top: 1%;
  /* border: 2px solid red; */
  /* font-size: 14px; */
  text-align: justify;
}

.reactnativePageCards-innermaindiv5 h2 {
  font-size: 30px;
}

.innermaindiv2box h3 {
  margin-top: 3%;
}

.wearableheading {
  /* border: 2px solid red; */
  justify-content: left;
  text-align: left;
  width: 70%;
 margin: auto;
 margin-left: 5%;
}

.wearableheading>p{
  text-align: justify;
}

.wearablepath {
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: row;
  height: fit-content;
}
.wearablePathImg {
  width: 40%;
  /* border: 2px solid black; */
  object-fit: cover;
  background-size: cover;
}



.wearableheading p {
  /* margin-top: 4%; */
  font-size: 16px;
  /* border: 2px solid red; */
  margin-top: 1%;
}

.wearableheading h1 {
  font-size: 40px;
}
.wearableheading h6 {
  font-size: 20px;
  color: #393939;
  margin: 0%;
}

.wearableimag {
  /* border: 2px solid green; */
  width: 75%;
}

.wearabledivbox {
  /* border: 2px solid yellow; */
  width: 20%;
}

.wearablebannerdiv {
  /* border: 2px solid red; */
  background-image: url("/Images/wearable/bgimage.webp");
  color: white;
  margin-top: 3%;
  height: 300px;
  object-fit: cover;
  background-size: cover;
  justify-content: center;
  text-align: center;
  padding-top:10px;
  padding-bottom: 50px;

}

.wearablebannerdiv h2 {
  font-size: 35px;
  margin-top: 55px;
}
.wearablebannerdiv p {
  font-size: 18px;
  /* margin-top: 3%; */
}
.wearableAppDevelopmentbannerbutton{
border: none;
width: 220px;
font-size: 18px;
color: white;
background-color:#3280f2;
border-radius: 10px;
padding: 5px 5px 5px 5px;
}
.wearableAppDevelopmentbannerbutton:hover{
  background-color: white;
  color: #3280f2;

}
@media only screen and (min-width:0px) and (max-width:1024px){
  .wearablePageCardsInnerMainDiv4 {
    display: flex;
    flex-direction: column-reverse;
    /* border: 2px solid blue; */
    height: fit-content;
  }
  
  .wearableInnerMainDiv4FirstDiv {
    display: flex;
    flex-direction: column;
    /* border: 2px solid yellow; */
   
    width: 70%;
    margin: auto;
    
  }
  
  .wearableInnerMaindiv4FirstDivBox {
    display: flex;
    flex-direction: column;
    /* border: 2px solid green; */
  }
  
  .wearableInnerMaindiv4FirstDivBox h3 {
    font-size: 18px;
    margin-left: 10%;
    /* margin-top: 0; */
  
  }
  
  .wearableInnerMaindiv4FirstDivBox p {
    font-size: 14px;
    margin-top: 0%;
    margin-left: 10%;
  }
  
  .wearable1stdivbox {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 3%;
    border-radius: 10px;
    /* width: 45%; */
  }
  
  .wearable1stdivbox:hover {
    cursor: pointer;
    /* margin-top: 0; */
    transition: all 0.2s linear;
    /* transform: scale(1.1); */
    transform: translateY(-15px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .wearableinnermaindiv4SecondDiv {
    border:none;
    text-align: center;
    width: 95%;
   margin: auto;
  }
  
  .wearableinnermaindiv4SecondDiv h1 {
    font-size: 35px;
    width: 95%;
    /* border: 2px solid yellow; */
  }
  
  .wearableinnermaindiv4SecondDiv p {
    font-size: 16px;
    text-align: justify;
    width: 95%;
    /* margin-top: 3%; */
  }
  
  .wearablelogo {
    /* border: 2px solid pink ; */
    width: 50px;
    height: 50px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    margin-top: 7%;
  }
  
  .wearablelogoimg {
    /* width: 100%; */
    height: 100%;
  }
  
  
  
  
  .wearableInnerMaindiv5BoxDiv {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
  
    background: url("/public/Images/wearable/Rectangle 4559.webp");
    background-size: 100% 50%;
    background-position: center;
    /* margin-top: 5%; */
  
    border-radius: 5px;
  }
  
  .wearableinnermaindiv4Boxdiv1sColum {
    display: flex;
    flex-direction: column;
    width: 90%;
   
    /* height: 43vh; */
    /* border: 2px solid yellow; */
    margin: auto;
    margin-top: 2%;
  }
  
  .wearableInnerMaindiv4Row {
    justify-content: left;
    text-align: left;
    /* border: 2px solid red; */
    background-color: white;
    margin: auto;
    margin-top: 3%;
    width: 70%;
    height: fit-content;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* margin-left: 3%; */
    /* margin-right: 3%; */
  
     /* margin-top: 2%; */
    padding: 5px 5px 5px 5px;
    /* padding-left: 1%; */
    border-radius: 10px;
    /* margin-bottom: 1%; */
  }
  
  .wearableInnerMaindiv4Row:hover {
    cursor: pointer;
    /* margin-top: 0; */
    transition: all 0.2s linear;
    /* transform: scale(1.1); */
    transform: translateY(-15px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  
  
  .wearableInnerMaindiv4Row h4 {
    margin: 0%;
    font-size: 23px;
  }
  
  .wearableInnerMaindiv4Row p {
    margin-top: 1%;
    /* border: 2px solid red; */
    font-size: 14px;
    text-align: justify;
  }
  
  .reactnativePageCards-innermaindiv5 h2 {
    font-size: 30px;
  }
  
  .innermaindiv2box h3 {
    margin-top: 3%;
  }
  
  .wearableheading {
    border: 2px solid red;
    justify-content: left;
    text-align: center;
    width: 95%;
    margin:auto;
  }
  
  .wearablepath {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
  .wearablePathImg {
    width: 80%;
    /* border: 2px solid black; */
    object-fit: cover;
    background-size: cover;
    margin: auto;
  }
  
  .wearablePathImgdiv {
    width: 100%;
    height: 100%;
  }
  
  .wearableheading p {
    /* margin-top: 4%; */
    font-size: 16px;
    text-align: justify;
    border: 2px solid red;
  }
  
  .wearableheading h1 {
    font-size: 35px;
  }
  .wearableheading h6 {
    font-size: 20px;
    color: #393939;
    margin: 0%;
  }
  
  .wearableimag {
    /* border: 2px solid green; */
    width: 75%;
  }
  
  .wearabledivbox {
    /* border: 2px solid yellow; */
    width: 20%;
  }
  
  .wearablebannerdiv {
    /* border: 2px solid red; */
    background-image: url("/Images/wearable/bgimage.webp");
    color: white;
    margin-top: 3%;
    height: fit-content;
    object-fit: cover;
    background-size: cover;
    justify-content: center;
    text-align: center;
    padding-top:10px;
    padding-bottom: 50px;
  }
  
  .wearablebannerdiv h2 {
    font-size: 35px;
  }
  .wearablebannerdiv p {
    font-size: 18px;
    /* margin-top: 3%; */
  }
  .wearableAppDevelopmentbannerbutton{
  border: none;
  width: 220px;
  font-size: 18px;
  color: white;
  background-color:#3280f2;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
  }
  .wearableAppDevelopmentbannerbutton:hover{
    background-color: white;
    color: #3280f2;
  
  }

}