.wearablePageCardsInnerMainDiv4 {
  display: flex;
  flex-direction: row;
  height: 50vh;
  margin-bottom: 5%;
}

.wearableInnerMainDiv4FirstDiv {
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  width: 40%;
  margin-top: 3%;
}

.wearableInnerMaindiv4FirstDivBox {
  display: flex;
  flex-direction: row;
}

.wearableInnerMaindiv4FirstDivBox h3 {
  font-size: 18px;
  margin-left: 10%;

}

.wearableInnerMaindiv4FirstDivBox p {
  font-size: 14px;
  margin-top: 0%;
  margin-left: 10%;
}

.wearable1stdivbox {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-top: 3%;
}

.wearable1stdivbox:hover {
  cursor: pointer;
  transition: all 0.2s linear;
  transform: translateY(-15px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.wearableinnermaindiv4SecondDiv {
  border-left: 2px solid gray;
  width: 60%;
  margin-left: 2%;
  margin-top: 4%;
  padding-left: 3%;
}

.wearableinnermaindiv4SecondDiv h1 {
  font-size: 40px;
  width: 80%;
}

.wearableinnermaindiv4SecondDiv p {
  font-size: 16px;
  text-align: justify;
  width: 95%;
}

.wearablelogo {
  width: 50px;
  height: 50px;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  /* margin-top: 7%; */
}

.wearablelogoimg {
  height: 100%;
}
.wearableinnermaindiv4SecondDivbtns{
  border: 1px solid #3280f2;
  width: 260px;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  color: #3280f2;
  font-size: 18px;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 25%;
  margin-top: 3%;
}
.wearableinnermaindiv4SecondDivbtns:hover{
  background: #3280f2;
  color: white;

}




.wearableInnerMaindiv5BoxDiv {
  display: flex;
  flex-direction: column;

  background: url("/Images/wearable/Rectangle 4559.webp");
  background-size: 100% 50%;
  background-position: center;

  border-radius: 5px;
}

.wearableinnermaindiv4Boxdiv1sColum {
  display: flex;
  flex-direction: row;
  width: 90%;
 
  margin: auto;
  margin-top: 2%;
}

.wearableInnerMaindiv4Row {
  justify-content: left;
  text-align: left;
  background-color: white;
  margin: auto;
  width: 30%;
  height: fit-content;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

padding: 10px;

  border-radius: 10px;
}

.wearableInnerMaindiv4Row:hover {
  cursor: pointer;
  transition: all 0.2s linear;
  transform: translateY(-15px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.wearableInnerMaindiv4Row h4 {
  margin: 0%;
  font-size: 23px;
}

.wearableInnerMaindiv4Row p {
  margin-top: 1%;
  text-align: justify;
}

.reactnativePageCards-innermaindiv5 h2 {
  font-size: 30px;
}

.innermaindiv2box h3 {
  margin-top: 3%;
}

.wearableheading {
  justify-content: left;
  text-align: left;
  width: 70%;
 margin: auto;
 margin-left: 5%;
}

.wearableheading>p{
  text-align: justify;
}

.wearablepath {
  display: flex;
  flex-direction: row;
  height: fit-content;
}
.wearablePathImg {
  width: 40%;
  object-fit: cover;
  background-size: cover;
}



.wearableheading p {
  font-size: 16px;
  margin-top: 1%;
}

.wearableheading h1 {
  font-size: 40px;
}
.wearableheading h6 {
  font-size: 20px;
  color: #393939;
  margin: 0%;
}

.wearableimag {
  width: 75%;
}

.wearabledivbox {
  width: 20%;
}

.wearablebannerdiv {
  background-image: url("/Images/wearable/bgimage.webp");
  color: white;
  margin-top: 3%;
  height: 300px;
  object-fit: cover;
  background-size: cover;
  justify-content: center;
  text-align: center;
  padding-top:10px;
  padding-bottom: 50px;

}

.wearablebannerdiv h2 {
  font-size: 35px;
  margin-top: 55px;
}
.wearablebannerdiv p {
  font-size: 18px;
}
.wearableAppDevelopmentbannerbutton{
border: none;
width: 220px;
font-size: 18px;
color: white;
background-color:#3280f2;
border-radius: 10px;
padding: 5px 5px 5px 5px;
}
.wearableAppDevelopmentbannerbutton:hover{
  background-color: white;
  color: #3280f2;

}
@media only screen and (min-width:0px) and (max-width:1024px){
  .wearablePageCardsInnerMainDiv4 {
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
  }
  
  .wearableInnerMainDiv4FirstDiv {
    display: flex;
    flex-direction: column;
   
    width: 70%;
    margin: auto;
    
  }
  
  .wearableInnerMaindiv4FirstDivBox {
    display: flex;
    flex-direction: column;
  }
  
  .wearableInnerMaindiv4FirstDivBox h3 {
    font-size: 18px;
    margin-left: 10%;
    /* margin-top: 0; */
  
  }
  
  .wearableInnerMaindiv4FirstDivBox p {
    font-size: 14px;
    margin-top: 0%;
    margin-left: 10%;
  }
  
  .wearable1stdivbox {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 3%;
    border-radius: 10px;
    /* width: 45%; */
  }
  
  .wearable1stdivbox:hover {
    cursor: pointer;
    transition: all 0.2s linear;
    transform: translateY(-15px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .wearableinnermaindiv4SecondDiv {
    border:none;
    text-align: center;
    width: 95%;
   margin: auto;
  }
  
  .wearableinnermaindiv4SecondDiv h1 {
    font-size: 35px;
    width: 95%;
  }
  
  .wearableinnermaindiv4SecondDiv p {
    font-size: 16px;
    text-align: justify;
    width: 95%;
  }
  
  .wearablelogo {
    width: 50px;
    height: 50px;
    margin-top: 7%;
  }
  
  .wearablelogoimg {
    /* width: 100%; */
    height: 100%;
  }
  
  
  
  
  .wearableInnerMaindiv5BoxDiv {
    display: flex;
    flex-direction: column;
  
    background: url("/public/Images/wearable/Rectangle 4559.webp");
    background-size: 100% 50%;
    background-position: center;
    /* margin-top: 5%; */
  
    border-radius: 5px;
  }
  
  .wearableinnermaindiv4Boxdiv1sColum {
    display: flex;
    flex-direction: column;
    width: 90%;
   
    margin: auto;
    margin-top: 2%;
  }
  
  .wearableInnerMaindiv4Row {
    justify-content: left;
    text-align: left;
    /* border: 2px solid red; */
    background-color: white;
    margin: auto;
    margin-top: 3%;
    width: 70%;
    height: fit-content;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
  }
  
  .wearableInnerMaindiv4Row:hover {
    cursor: pointer;
    /* margin-top: 0; */
    transition: all 0.2s linear;
    transform: translateY(-15px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  
  
  .wearableInnerMaindiv4Row h4 {
    margin: 0%;
    font-size: 23px;
  }
  
  .wearableInnerMaindiv4Row p {
    margin-top: 1%;
    font-size: 14px;
    text-align: justify;
  }
  
  .reactnativePageCards-innermaindiv5 h2 {
    font-size: 30px;
  }
  
  .innermaindiv2box h3 {
    margin-top: 3%;
  }
  
  .wearableheading {
    justify-content: left;
    text-align: center;
    width: 95%;
    margin:auto;
  }
  
  .wearablepath {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
  .wearablePathImg {
    width: 80%;
    object-fit: cover;
    background-size: cover;
    margin: auto;
  }
  
  .wearablePathImgdiv {
    width: 100%;
    height: 100%;
  }
  
  .wearableheading p {
    font-size: 16px;
    text-align: justify;
  }
  
  .wearableheading h1 {
    font-size: 35px;
  }
  .wearableheading h6 {
    font-size: 20px;
    color: #393939;
    margin: 0%;
  }
  
  .wearableimag {
    width: 75%;
  }
  
  .wearabledivbox {
    width: 20%;
  }
  
  .wearablebannerdiv {
    background-image: url("/Images/wearable/bgimage.webp");
    color: white;
    margin-top: 3%;
    height: fit-content;
    object-fit: cover;
    background-size: cover;
    justify-content: center;
    text-align: center;
    padding-top:10px;
    padding-bottom: 50px;
  }
  
  .wearablebannerdiv h2 {
    font-size: 35px;
  }
  .wearablebannerdiv p {
    font-size: 18px;
  }
  .wearableAppDevelopmentbannerbutton{
  border: none;
  width: 220px;
  font-size: 18px;
  color: white;
  background-color:#3280f2;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
  }
  .wearableAppDevelopmentbannerbutton:hover{
    background-color: white;
    color: #3280f2;
  
  }

}