.marketplacefreelancermainbox {
  height: 550px;
  margin-top: 100px;
}

.freelancerboxflexingmain {
  height: 100%;
  display: flex;
}

.freelancermarketboxleftflexing {
  height: 100%;
  width: 40%;
  position: relative;
  margin-left: 8%;
}

.freelancermarketboxrightflexing {
  height: 100%;
  width: 50%;
}

.freelancerimagebox1 {
  position: absolute;
  height: 80%;
  width: 100%;
  z-index: 0;
  top: 10%;
}

.freelancerimagebox2 {
  height: 95%;
  width: 40%;
  position: absolute;
  z-index: 1;
  left: 20%;
}

.freelancerimagebox3 {
  height: 50%;
  width: 52%;
  position: absolute;
  z-index: 2;
  left: 35%;
  top: 45%;
}

.imagefreelance1 {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.freelancertextboxrightdiv {
  height: 120px;
  width: 100%;
}

.freelancerboxforspecialimagedotted {
  height: 70%;
  width: 100%;
  position: relative;
}

.dottedimage1 {
  position: absolute;
  height: 20%;
  width: 20%;
}

.dottedimage2 {
  position: absolute;
  height: 20%;
  width: 20%;
  bottom: 0;
  right: 0;
}

.specialimg {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.afterdottedinnerflecboxfreelancer {
  height: 100%;
  width: 95%;
  margin-left: 7%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.flexboxdivfreelancer {
  display: flex;
  background-color: white;
  height: 170px;
  width: 40%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 3%;
  margin-top: 3%;
}

.flexboxdivfreelancer:hover {
  cursor: pointer;
  transition: all 0.2s linear;
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.frelancerinsiderlogo {
  height: 35%;
  width: 50%;
  padding: 5px;
}

.imagelogofree {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.frelancerinsidertxt > h5 {
  margin-top: 6%;
  margin-bottom: 5%;
  font-size: 20px;
  font-weight: 500;
  line-height: 21.6px;
  vertical-align: baseline;
}

.frelancerinsidertxt > p {
  font-size: 16px;
  line-height: 20px;
  vertical-align: baseline;
  font-weight: 400;
}

/* Media query for the Mobile Device */

@media (max-width: 480px) {
  .marketplacefreelancermainbox {
    height: 100vh;
  }

  .freelancerboxflexingmain {
    height: 100%;
    flex-direction: column;
  }

  .freelancermarketboxleftflexing {
    height: 70%;
    width: 85%;
    position: relative;
  }

  .freelancermarketboxrightflexing {
    height: 700px;
    width: 100%;
    position: relative;
  }

  .freelancerimagebox1 {
    position: absolute;
    height: 100%;
    width: 90%;
    z-index: 0;
    border: 1px solid transparent;
  }

  .freelancerimagebox2 {
    height: 95%;
    width: 30%;
    position: absolute;
    z-index: 1;
  }

  .freelancerimagebox3 {
    height: 50%;
    width: 45%;
    position: absolute;
    z-index: 2;
    left: 28%;
    top: 40%;
  }

  .imagefreelance1 {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .freelancertextboxrightdiv {
    height: fit-content;
    width: 100%;
    text-align: center;
  }

  .freelancertextboxrightdiv > h2 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 0%;
  }

  .freelancertextboxrightdiv > h6 {
    margin-top: 2%;
    width: 80%;
    margin-left: 10%;
    font-size: 15px;
  }

  .freelancerboxforspecialimagedotted {
    height: 82%;
    width: 100%;
    position: relative;
  }

  .dottedimage1 {
    position: absolute;
    height: 20%;
    width: 20%;
  }

  .dottedimage2 {
    position: absolute;
    height: 20%;
    width: 20%;
    bottom: 0;
    right: 0;
    top: 5;
  }

  .specialimg {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .afterdottedinnerflecboxfreelancer {
    height: fit-content;
    width: 90%;
    margin: 0;
    margin-left: 7%;
    display: flex;
    flex-wrap: wrap;
  }

  .flexboxdivfreelancer {
    display: flex;
    background-color: white;
    height: 120px;
    width: 90%;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 18px;
    margin-top: 3%;
    margin-right: 7%;
  }

  .flexboxdivfreelancer:hover {
    cursor: pointer;
    transition: all 0.2s linear;
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .frelancerinsiderlogo {
    height: 30%;
    width: 30%;
    margin: 6%;
  }

  .imagelogofree {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .frelancerinsidertxt > h5 {
    margin-top: 2%;
    margin-bottom: 0%;
  }

  .frelancerinsidertxt > p {
    margin-top: 2%;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .marketplacefreelancermainbox {
    height: 100vh;
  }

  .freelancerboxflexingmain {
    height: 100%;
    flex-direction: column;
  }

  .freelancermarketboxleftflexing {
    height: 70%;
    width: 85%;
    position: relative;
  }

  .freelancermarketboxrightflexing {
    height: 700px;
    width: 100%;
    position: relative;
  }

  .freelancerimagebox1 {
    position: absolute;
    height: 100%;
    width: 90%;
    z-index: 0;
    border: 1px solid transparent;
  }

  .freelancerimagebox2 {
    height: 95%;
    width: 30%;
    position: absolute;
    z-index: 1;
  }

  .freelancerimagebox3 {
    height: 50%;
    width: 45%;
    position: absolute;
    z-index: 2;
    left: 28%;
    top: 40%;
  }

  .imagefreelance1 {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .freelancertextboxrightdiv {
    height: fit-content;
    width: 100%;
    text-align: center;
  }

  .freelancertextboxrightdiv > h2 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 0%;
  }

  .freelancertextboxrightdiv > h6 {
    margin-top: 2%;
    width: 80%;
    margin-left: 10%;
    font-size: 15px;
  }

  .freelancerboxforspecialimagedotted {
    height: 90%;
    width: 100%;
    position: relative;
  }

  .dottedimage1 {
    position: absolute;
    height: 20%;
    width: 20%;
  }

  .dottedimage2 {
    position: absolute;
    height: 20%;
    width: 20%;
    bottom: 0;
    right: 0;
    top: 5;
  }

  .specialimg {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .afterdottedinnerflecboxfreelancer {
    height: fit-content;
    width: 90%;
    margin: 0;
    margin-left: 7%;
    display: flex;
    flex-wrap: wrap;
  }

  .flexboxdivfreelancer {
    display: flex;
    background-color: white;
    height: 140px;
    width: 100%;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 18px;
    margin-top: 3%;
    margin-right: 7%;
  }

  .flexboxdivfreelancer:hover {
    cursor: pointer;
    transition: all 0.2s linear;
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .frelancerinsiderlogo {
    height:80%;
    width: 30%;
  }

  .imagelogofree {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .frelancerinsidertxt > h5 {
    margin-top: 2%;
    margin-bottom: 0%;
  }

  .frelancerinsidertxt > p {
    margin-top: 2%;
  }
}
