.marketplaceadminmainbox {
  height: fit-content;
  width: 100%;
}

.marketplaceflexboxforadmin {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.marketplaceadminbackgroundimagebanner {
  width: 70%;
  padding: 2%;
  background-image: url("/Images/Marketplaceapp/Bannersandbackgrounds/Component43.png");
  background-repeat: no-repeat;
  background-position: center;
}

.marketplaceadminchangableimagecontent {
  width: 48%;
  margin-left: -10%;
  height: 450px;
  margin-top: 1%;
}

.imageboxmarketplaceadmin {
  object-fit: contain;
  height: 100%;
  width: 90%;
  overflow: hidden;
}

.marketplaceadminbackgroundimagebannertextbox {
  width: 70%;
  height: 30%;
  margin-left: 5%;
}

.marketplaceadminboxingfordoingflex {
  height: 55%;
  width: 80%;
  margin-left: 2%;
}

.marketplaceadminflexboxing {
  display: flex;
  flex-wrap: wrap;
}

.marketplaceadminflexboxingforimageandtxtcontain {
  width: 40%;
  height: 150px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 2%;
  display: flex;
}

.marketplaceadminflexboxingforimageandtxtcontain:hover {
  cursor: pointer;
  transition: all 0.2s linear;
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.marketplaceadminflexboxingforimagecontain {
  width: 15%;
  height: 50px;
  margin: auto;
  margin-top: 3%;
  /* border: 1px solid black; */
}

.marketplaceadminlogo {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.marketplaceadminflexboxingfortxtcontain {
  width: 80%;
  height: auto;
}

.marketplaceadminflexboxingfortxtcontain > h5 {
  margin-top: 5%;
  font-size: 22px;
  font-weight: 600;
  line-height: 21.6px;
  vertical-align: baseline;
}

.marketplaceadminflexboxingfortxtcontain > p {
  margin-top: 0%;
  font-size: 16px;
  line-height: 20px;
  vertical-align: baseline;
  font-weight: 400;
}

/* Media query for the Mobile Device */

@media (max-width: 480px) {
  .marketplaceadminmainbox {
    height: fit-content;
    width: 100%;
  }

  .marketplaceflexboxforadmin {
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .marketplaceadminbackgroundimagebanner {
    width: 95%;
    padding: 2%;
    background-image: url("/Images/Marketplaceapp/Bannersandbackgrounds/Component43.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .marketplaceadminchangableimagecontent {
    width: 80%;
    margin-left: 10%;
    height: 90%;
    margin-top: 1%;
  }

  .imageboxmarketplaceadmin {
    object-fit: contain;
    height: 100%;
    width: 90%;
  }

  .marketplaceadminbackgroundimagebannertextbox {
    width: 95%;
    height: 30%;
  }

  .marketplaceadminbackgroundimagebannertextbox > h2 {
    width: 100%;
    margin-bottom: 0%;
  }

  .marketplaceadminbackgroundimagebannertextbox > p {
    font-size: 15px;
  }

  .marketplaceadminboxingfordoingflex {
    height: 55%;
    width: 100%;
    margin-left: 2%;
  }

  .marketplaceadminflexboxing {
    display: flex;
    flex-wrap: wrap;
  }

  .marketplaceadminflexboxingforimageandtxtcontain {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 2%;
    display: flex;
  }

  .marketplaceadminflexboxingforimagecontain {
    width: 15%;
    height: 50px;
    margin: auto;
  }

  .marketplaceadminflexboxingfortxtcontain {
    width: 80%;
    height: auto;
  }

  .marketplaceadminflexboxingfortxtcontain > h5 {
    margin-top: 2%;
  }

  .marketplaceadminflexboxingfortxtcontain > p {
    margin-top: 2%;
  }

  .marketplaceadminlogo {
    object-fit: contain;
    height: 100%;
    width: 100%;
    margin-top: 0%;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .marketplaceadminmainbox {
    height: fit-content;
    width: 100%;
    margin-top: 18%;
  }

  .marketplaceflexboxforadmin {
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .marketplaceadminbackgroundimagebanner {
    width: 95%;
    padding: 2%;
    background-image: url("/Images/Marketplaceapp/Bannersandbackgrounds/Component43.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .marketplaceadminchangableimagecontent {
    width: 80%;
    margin-left: 10%;
    height: 90%;
    margin-top: 1%;
  }

  .imageboxmarketplaceadmin {
    object-fit: contain;
    height: 100%;
    width: 90%;
  }
  
  .marketplaceadminbackgroundimagebannertextbox {
    width: 95%;
    height: 30%;
  }

  .marketplaceadminbackgroundimagebannertextbox > h2 {
    width: 100%;
    margin-bottom: 0%;
  }

  .marketplaceadminbackgroundimagebannertextbox > p {
    font-size: 15px;
  }

  .marketplaceadminboxingfordoingflex {
    height: 55%;
    width: 100%;
    margin-left: 2%;
  }

  .marketplaceadminflexboxing {
    display: flex;
    flex-wrap: wrap;
  }

  .marketplaceadminflexboxingforimageandtxtcontain {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 2%;
    display: flex;
  }

  .marketplaceadminflexboxingforimagecontain {
    width: 15%;
    height: 50px;
    margin: auto;
  }

  .marketplaceadminflexboxingfortxtcontain {
    width: 80%;
    height: auto;
  }

  .marketplaceadminflexboxingfortxtcontain > h5 {
    margin-top: 2%;
  }

  .marketplaceadminflexboxingfortxtcontain > p {
    margin-top: 2%;
  }

  .marketplaceadminlogo {
    object-fit: contain;
    height: 100%;
    width: 100%;

    margin-top: 0%;
  }
}
