.marketplacebanner {
  height: 85vh;
  width: 99.5%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  margin-top: 120px;
  position: relative;
}

.marketplacebannerinsideboxtext {
  margin: auto;
  width: 40%;
  padding: 10px;
  color: black;
  position: absolute;
  top: 27%;
  left: 5%;
}

.marketplacebannerinsideboxtext > h1 {
  font-size: 35px;
  font-weight: 600;
}

.marketplacebannerinsideboxtext > p {
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
}

.marketplacebutton {
  padding: 10px 50px;
  border-radius: 100px;
  width: 220px;
  background-color: #3380f2;
  color: white;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 18px;
  font-weight: 600;
}

.marketplacebutton:hover {
  background-color: white;
  color: #3380f2;
}

.marketplaceBannerAnimationDiv {
  position: absolute;
  width: 40%;
  right: 0%;
  top: -10%;
}

.marketPlaceBannerAnimation {
  width: 75%;
}

/* Media query for the Mobile Device */

@media (max-width: 480px) {
  .marketplacebanner {
    height: 60vh ;
    width: 100%;
    margin-top: 16%;

  }

  .marketplacebannerinsideboxtext {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 65%;
    left: 0%;

  }
  .marketplaceBannerAnimationDiv{
    margin-top: 20%;
    margin-right: 15%;
    width: 70%;
  }
  .marketplacebannerinsideboxtext > h1 {
    font-size: 19px;
    width: 95%;
    font-weight: 600px;
    margin-bottom: 0%;
  }

  .marketplacebannerinsideboxtext > p {
    font-size: 9px;
    text-align: justify;
    font-weight: 500;
    width: 90%;
    padding-left: 13px;
    margin-top: 2%;
  }

  .marketplacebutton {
    padding: 8px 40px;
    border-radius: 100px;
    width: 140px;
    background-color: #3380f2;
    color: white;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 11px;
    font-weight: 600;
  }

  .marketplacebutton:hover {
    background-color: white;
    color: #3380f2;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .marketplacebanner {
    height: 38vh;
    width: 100%;
    margin-top: 15%;
    position: relative;
  }

  .marketplacebannerinsideboxtext {
    width: 65%;
    position: absolute;
    top: 1%;
    left: 0%;
  }

  .marketplacebannerinsideboxtext > h1 {
    font-size: 26px;
    width: 90%;
    font-weight: 600px;
    margin-bottom: 0%;
  }

  .marketplacebannerinsideboxtext > p {
    font-size: 15px;
    font-weight: 400;
    width: 80%;
    margin-top: 2%;
  }

  .marketplacebutton {
    padding: 10px 50px;
    border-radius: 100px;
    width: 200px;
    background-color: #3380f2;
    color: white;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 15px;
    font-weight: 600;
  }

  .marketplacebutton:hover {
    background-color: white;
    color: #3380f2;
  }
}
