.plantBasedServiesWeOfferHeadingDiv {
width: 70%;
margin: auto;
text-align: center;
justify-content: center;
}
.plantBasedServiesWeOfferHeadingDiv > h1 > span {
color: #ef4c23;
}
.plantBasedServicesBackImageDiv img {
width: 100%;
}
.plantBasedServicesWeOffers {
width: 100%;
display: flex;
flex-wrap: wrap;
align-items: center;
margin-top: 2%;
justify-content: center;
row-gap: 40px;
column-gap: 40px;
}

.plantBasedServicesWeOffers > div {
width: 26%;
height: 420px;
border: 1px solid #d2d2d2e3;
border-radius: 10px;
padding: 2%;
display: flex;
flex-direction: column;
justify-content: center;
background-color: white;
}
.plantBasedServicesWeOffers > div:hover {
    background-color: #fffadc;    
    margin-top: 0; 
    transform: scale(1.02);
}
.plantBasedServicesWeOffers > div > div > img {
width: 100%;
object-fit: cover;
}
/* Media query for the Mobile Device */

@media (max-width: 480px) {
.plantBasedServiesWeOfferHeadingDiv {
width: 100%;
margin: auto;
text-align: center;
justify-content: center;
}

.plantBasedServiesWeOfferHeadingDiv > h1 {
font-size: 20px;
line-height: 30px;
font-weight: 600;
}
.plantBasedServiesWeOfferHeadingDiv > h1 > span {
color: #ef4c23;
}
.plantBasedServicesBackImageDiv img {
width: 100%;
}
.plantBasedServicesWeOffers {
width: 100%;
display: flex;
flex-wrap: wrap;
align-items: center;
margin-top: 2%;
justify-content: center;
row-gap: 40px;
column-gap: 40px;
}
.plantBasedServicesWeOffers > div {
width: 40%;
height: 450px;
border: 1px solid #d6d6d6;
border-radius: 10px;
padding: 1%;
display: flex;
flex-direction: column;
justify-content: center;
background-color: white;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.plantBasedServicesWeOffers > div {
width: 40%;
cursor: pointer;
transition: all 0.2s linear;
transform: translateY(-10px);
}
.plantBasedServicesWeOffers > div > div {
margin-top: 0%;
height: 220px;
}

.plantBasedServicesWeOffers > div > div > img {
width: 100%;
object-fit: cover;
margin-top: 0%;
}

.plantBasedServicesWeOffers > div > h3 {
font-size: 16px;
font-weight: 600;
}

.plantBasedServicesWeOffers > div > p {
font-size: 14px;
font-weight: 400;
}
}

@media (min-width: 481px) and (max-width: 1024px) {

.plantBasedServiesWeOfferHeadingDiv {
 width: 100%;
margin: auto;
text-align: center;
justify-content: center;
}

.plantBasedServiesWeOfferHeadingDiv > h1 {
 
font-size: 20px;
line-height: 30px;
font-weight: 600;
}

.plantBasedServiesWeOfferHeadingDiv > h1 > span {
color: #ef4c23;
}

.plantBasedServicesBackImageDiv img {
width: 100%;
}

.plantBasedServicesWeOffers {
width: 100%;
display: flex;
flex-wrap: wrap;
align-items: center;
margin-top: 2%;
justify-content: center;
row-gap: 40px;
column-gap: 40px;
}

.plantBasedServicesWeOffers > div {
width: 26%;
height: 450px;
border: 1px solid #d6d6d6;
border-radius: 10px;
padding: 1%;
display: flex;
flex-direction: column;
justify-content: center;
background-color: white;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.plantBasedServicesWeOffers > div > div {
margin-top: 0%;
}

.plantBasedServicesWeOffers > div > div > img {
width: 100%;
object-fit: cover;
margin-top: 0%;
}

.plantBasedServicesWeOffers > div > h3 {
font-size: 16px;
font-weight: 600;
}

.plantBasedServicesWeOffers > div > p {
font-size: 14px;
font-weight: 400;
}
}
