.eCommerceCustomerAppMain {
  margin-top: 20px;
  margin-bottom: 20px;
}

.eCommerceCustomerMain {
  margin-top: 20px;
  margin-bottom: 20px;
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.eCommerceCustomerAppMain>h1 {
  font-size: 32px;
  width: 90%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 2%;
}

.eCommerceCustomerAppMain>h1>span {
  color: #ef4c23;
}

.eCommerceCustomerAppCardsMain {
  width: 55%;
}

.eCommerceCustomerAppCardsMain>div {
  width: 90%;
  margin: auto;
}

.eCommerceCustomerAppCardsMain>div>h2 {
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 3%;
}

.eCommerceCustomerAppCardsMain>div>div {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
  row-gap: 30px;
}

.eCommerceCustomerAppCards {
  width: 45%;
}

.eCommerceCustomerAppCardsLogo {
  height: 30px;
  width: fit-content;
  position: relative;
  z-index: 4;
}

.eCommerceCustomerAppCardsLogo>img {
  height: 100%;
}

.eCommerceCustomerAppCardsContent {
  padding: 10px;
  border-radius: 10px;
  z-index: 0;
  height: 90%;
  cursor: pointer;
  transition: transform 200ms linear;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.eCommerceCustomerAppCardsContent:hover {
  background-color: #ffe6df;
  transform: translateY(-5%);
}

.eCommerceCustomerAppCardsContent>div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.eCommerceCustomerAppCardsContent>div>h5 {
  font-size: 18px;
}

.eCommerceCustomerAppCardsContent>p {
  font-size: 16px;
}

.eCommerceCustomerAppCardsLogo>img {
  height: 100%;
}

.eCommerceCustomerImagesMain {
  position: relative;
  width: 40%;
  height: 580px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eCommerceCustomerImagesMain>div {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eCommerceCustomerImagesMain>div:nth-child(1) {
  height: 40%;
  width: 100%;
  margin-bottom: 10%;
  bottom: 0;
  background: linear-gradient(to bottom right, #ef4c23, #fed200);
}

/* media query for mobile and tablet devices */
@media (max-width: 1024px) {
  .eCommerceCustomerAppMain>h1 {
    font-size: 20px;
    text-align: center;
  }

  .eCommerceCustomerMain {
    flex-direction: column;
  }

  .eCommerceCustomerImagesMain {
    width: 100%;
  }

  .eCommerceCustomerAppCardsMain {
    width: 95%;
  }

  .eCommerceCustomerAppCards {
    width: 45%;
  }

  .eCommerceCustomerAppCardsContent {
    height: 85%;
  }

  .eCommerceCustomerAppCardsContent h5 {
    font-size: 16px;
  }

  .eCommerceCustomerAppCardsContent p {
    font-size: 14px;
  }
}