.eCommerceAdminMain {
  height: fit-content;
  margin: 5% auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.eCommerceAdminCardsMain {
  width: 43%;
  margin-left: 3%;
}

.eCommerceAdminCardsMain>div>div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 30px;
  width: 100%;
}

.eCommerceAdminPanelCards {
  width: 45%;
}

.eCommerceAdminPanelCardsLogo {
  height: 30px;
  width: fit-content;
  margin-left: 10px;
  z-index: 4;
}

.eCommerceAdminPanelCardsLogo>img {
  height: 100%;
}

.eCommerceAdminPanelCardsContent {
  padding: 10px;
  border-radius: 10px;
  transition: transform 200ms linear;
  z-index: 0;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.eCommerceAdminPanelCardsContent:hover {
  background-color: #ffe6df;
  transform: translateY(-5%);
}

.eCommerceAdminPanelCardsContent>p {
  font-size: 16px;
}

.eCommerceAdminPanelCardsContent>div {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
}

.eCommerceAdminImagesMain {
  position: relative;
  width: 55%;
  height: 510px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.eCommerceAdminImagesMain>div {
  position: absolute;
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.eCommerceAdminImagesMain>div:nth-child(1) {
  height: 100%;
  width: 80%;
  right: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background: linear-gradient(to bottom right, #ef4c23, #fed200);
}

.eCommerceAdminImagesMain>div:nth-child(2) {
  height: fit-content;
  z-index: 4;
  width: 90%;
}

/* media query for mobile and tablet devices */
@media (max-width: 1024px) {
  .eCommerceAdminPanelMain>h1 {
    font-size: 20px;
    text-align: center;
  }

  .eCommerceAdminMain {
    flex-direction: column-reverse;
  }

  .eCommerceAdminImagesMain {
    width: 90%;
    height: 300px;
  }

  .eCommerceAdminCardsMain {
    width: 95%;
  }

  .eCommerceAdminPanelCards {
    width: 45%;
  }

  .eCommerceAdminPanelCardsContent {
    height: 85%;
  }

  .eCommerceAdminPanelCardsContent h5 {
    font-size: 16px;
  }

  .eCommerceAdminPanelCardsContent p {
    font-size: 14px;
  }
}