.taxibookingdriverappmainboxes {
  height: fit-content;
  background-color: white;
  display: flex;
}

.taxibookingappdriverappleftbox {
  height: fit-content;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 4%;
  margin-top: 1%;
}

.taxibookingappdriverapprightbox {
  height: 480px;
  width: 40%;
  margin-left: 10%;
  background: url("/Images/Taxibooking/Bannersbackgrounds/Rectangle 4866.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: bottom;
}

.taxibookingappdriverrightboxinnermobile {
  height: 90%;
  width: 60%;
  margin: 2% 0% 0% 10%;
}

.taxibookingappdriverrightboxinnermobile > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.taxibookingdriverflexingboxesindi {
  height: fit-content;
  width: 45%;
  height: 230px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 1%;
  text-align: justify;
  border-radius: 10px;
}

.taxibookingdriverflexingboxesindi:hover {
  cursor: pointer;
  transition: all 0.2s linear;
  transform: translateY(-10px);
  background-color: #fff5e5;
}

.taxibookingflexingboxesdriverindiforlogo {
  height: 30%;
  width: 15%;
  padding: 2px;
}

.taxibookingflexingboxesdriverindiforlogo > img {
  object-fit: contain;
}

.driverapptaxibookingboxfortxt > h1 {
  width: 50%;
  margin-left: 5%;
}

.driverapptaxibookingboxfortxt {
  background-color: white;
  margin-top: 3%;
}

.specialcolor {
  color: #ef4c23;
}

.taxibookingflexingboxesindifortxt > h4 {
  /* border: 2px solid red; */
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  vertical-align: baseline;
  margin-bottom: 2%;
}

.taxibookingflexingboxesindifortxt > p {
  /* border: 2px solid red; */
  margin-top: 0%;
  font-size: 15px;
  line-height: 20px;
  vertical-align: baseline;
  font-weight: 400;
}
