/* for any type of laptop and wide range ofd screens responsive */

.taxibookingbannermainboxes {
  height: 100vh;
  border: 1px solid transparent;
  position: relative;

}

.taxibookingappboxfortext {
  height: fit-content;
  width: 45%;
  margin-top: 17% ;
  margin-left: 5%;
}

.taxibookingappboxfortext > h1 {
  font-weight: 700 ;
  font-size: 40px ;
}

.taxibookingappboxfortext > p {
  font-size: 17px;
  text-align: justify;
}

.taxibookingappbannerbutton {
  padding: 10px 50px;
  border-radius: 100px;
  width: 220px;
  background-color: #3380f2;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-top: 5%;
}

.taxibookingappbannerbutton:hover {
  background-color: white;
  color: #3380f2;
}

.specialcolor {
  color: #ef4c23;
}

.taxiBookingBannerAnimationDiv {
  position: absolute;
  top: 14%;
  right: 0%;
  width: 40%;
}

.taxiBookingMainAnimation {
  width: 75%;
}

@media only screen and (max-width:480px) {
  .taxibookingbannermainboxes {
    height: fit-content ;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 5%;
  }

  .taxibookingappboxfortext {
    height: fit-content ;
    width: 90%;
    margin: 10% 5% 0 ;
    text-align: center;

  }

  .taxibookingappboxfortext > h1 {
    font-weight: 500;
    font-size: 40px;
  }

  .taxibookingappboxfortext > p {
    font-size: 17px;
    width: 100%;
    text-align: justify;
  }

  .taxibookingappbannerbutton {
    padding: 10px 50px;
    border-radius: 100px;
    width: 220px;
    background-color: #3380f2;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-top: 4%;
  }

  .taxibookingappbannerbutton:hover {
    background-color: white;
    color: #3380f2;
  }

  .specialcolor {
    color: #ef4c23;
  }
  .taxiBookingBannerAnimationDiv {
    position: static;
    width: 70%;
    margin-left: 15%;
    margin-top: 15%;
  }
  
  .taxiBookingMainAnimation {
    width: 90%;
    top: 15%;

  }
}

/*mobile*/

/* for any type of tablet screen responsive */

@media (max-width: 1024px) {
  .taxibookingbannermainboxes {
    height: fit-content ;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 5%;
  }

  .taxibookingappboxfortext {
    height: fit-content ;
    width: 90%;
    margin: 10% 5% 0 ;
    text-align: center;

  }

  .taxibookingappboxfortext > h1 {
    font-weight: 500;
    font-size: 40px;
  }

  .taxibookingappboxfortext > p {
    font-size: 17px;
    width: 100%;
    text-align: justify;
  }

  .taxibookingappbannerbutton {
    padding: 10px 50px;
    border-radius: 100px;
    width: 220px;
    background-color: #3380f2;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-top: 4%;
  }

  .taxibookingappbannerbutton:hover {
    background-color: white;
    color: #3380f2;
  }

  .specialcolor {
    color: #ef4c23;
  }
  .taxiBookingBannerAnimationDiv {
    position: static;
    width: 70%;
    margin-left: 15%;
    margin-top: 15%;
  }
  
  .taxiBookingMainAnimation {
    width: 90%;
    top: 15%;

  }
}
