.taxibookingcustomerappmainboxes {
  height: fit-content;
  display: flex;
  background-color: white;
}

.taxibookingappcustomerappleftbox {
  height: fit-content;
  width: 55%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-top: 1%;
}

.taxibookingappcustomerapprightbox {
  height: 600px;
  width: 45%;
  background: url("/Images/Taxibooking/Bannersbackgrounds/Ellipse 248.webp");
  background-repeat: no-repeat;
  background-size: 80% 95%;
  background-position-x: right;
}

.taxibookingappcustomerrightboxinnermobile {
  height: 85%;
  width: 50%;

  margin: 4% 0% 0% 30%;
}

.taxibookingappcustomerrightboxinnermobile > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.taxibookingflexingboxesindi {
  height: fit-content;
  width: 45%;
  height: 240px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 1%;
  text-align: justify;
  border-radius: 10px;
}

.taxibookingflexingboxesindi:hover {
  transform: scale(1.02);
  background-color: #f6ebd8;
}

.taxibookingflexingboxesindiforlogo {
  height: 35%;
  width: 20%;
}

.taxibookingflexingboxesindiforlogo > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  /* padding: 10px; */
}

.customerapptaxibookingboxfortxt > h1 {
  width: 50%;
  margin-left: 5.5%;
  padding: 10px;
}

.customerapptaxibookingboxfortxt {
  background-color: white;
}

.specialcolor {
  color: #ef4c23;
}

.taxibookingflexingboxesindifortxt > h4 {
  /* border: 2px solid red; */
  margin-top: 1%;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  vertical-align: baseline;
  margin-bottom: 1%;
  margin-top: 0%;
}

.taxibookingflexingboxesindifortxt > p {
  /* border: 2px solid red; */
  margin-top: 0%;
  font-size: 15px;
  line-height: 20px;
  vertical-align: baseline;
  font-weight: 400;
}
