.applytalentbenifitsmainboxes{
    height: fit-content;
 
}
.applytalentbenifitsmainboxes span{
    color: #ef4c23;
    
}

.applytalentbenifitsmainboxes h1{
    text-align: center;
    border-bottom: 1px solid #ef4c23;
    border-bottom-width:5px;
    margin-bottom: 5%;
}

.applytalentbenifitsflexbox{
    width: 90%;
    height: fit-content;
    margin: auto;
    /* border: 1px solid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.applytalentbenifitsflexbox>div{
    width: 30%;
    margin-top: 2%;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
   padding: 10px;
}

.applytalentbenifitsflexbox>div:hover{
    transition: all 0.5s linear;

  transform: translateY(-10px);
}




.applytalentbenifitsflexbox>div>div{
    text-align: justify;
}

.applytalentbenifitsflexbox>div>div>p{
    margin-top: 10%;
}

.applytalentbenifitsflexbox>div>div>h4{
    margin-top: 5%;
}



.hitretalentbenifitsicon{
    height: 50%;
    width: 50%;
    
}

.hitretalentbenifitsicon>img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}


