.pharmacydrive {
  width: 100%;
  height: 650px;
}

.pharmacydrive > h1 {
  margin-left: 60%;
  color: #5cacb2;
}

.pharmacydrivesub {
  width: 100%;
  height: 500px;
  margin-top: 2%;
  justify-content: space-between;
  display: flex;
}

.pharmacydriveleft {
  width: 50%;
  height: 500px;
  background: url("/Images/pharmacy/lastrectangle.png");
  background-repeat: no-repeat;
  background-size: 100% 450px;
  margin-left: -3%;
  position: relative;
}

.pharmacydriveright {
  width: 45%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.pharmacydriveright > div {
  padding: 10px 10px 10px 10px;
  gap: 10px;
  margin-left: 8%;
  height: 160px;
  width: 35%;
  border-radius: 18px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}

.pharmacydriveright > div:hover {
  background-color: #e1f9f6;
  cursor: pointer;
  transition: all 0.2s linear;
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pharmacyLogo {
  /* border: 1px solid red; */
  width: 100%;
  height: 40px;
}

.pharmacydriveright > div > h3 {
  /* border: 1px solid red; */
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  margin-top: 2%;
  margin-bottom: 0%;
}

.pharmacyDriveImage {
  /* border: 1px solid red; */
  width: 50%;
  height: 500px;
  position: absolute;
  z-index: 2;
  margin-top: 4%;
  margin-left: 20%;
}

.pharmacyDriveImage > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
