.szdeliveryservice {
  width: 100%;
}
.szdeliveryservicesub {
  width: 100%;
}
.szdeliverypara {
  width: 70%;
  margin-left: 15%;
  text-align: center;
}
.szdeliveryservicediv {
  width: 100%;
  background: url("/Images/pharmacy/Rectangle 40.png");
  background-repeat: no-repeat;
  background-size: 100% 500px;
}
.szdeliverytop {
  width: 90%;
  height: 250px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.szdeliverybottom {
  width: 90%;
  margin: auto;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
}
.szdeliverysolution {
  width: 30%;
  height: 200px;
  border-radius: 18px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
  margin: auto;
  margin-top: 2%;
}

.szdeliverysolution:hover {
  cursor: pointer;
  transition: all 0.2s linear;
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.szdeliverysolutionapp {
  display: flex;
}

.szdeliverytraking {
  width: 25%;
  height: 60px;
}
.szdeliverytraking > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.szdeliverysolutionapp > h5 {
  font-size: 17px;
  margin-top: 4%;
  margin-bottom: 0%;
}

.szdeliverysolution > p {
  margin-top: 4%;
}
