.pharmacycustomer {
  width: 100%;
  height: 600px;
}

.pharmacycustomer > h1 {
  margin-left: 5%;
  color: #5cacb2;
}

.pharmacycustomersub {
  width: 100%;
  height: 500px;
  margin-top: 2%;
  display: flex;
}

.pharmacycustomerleft {
  width: 40%;
  height: 490px;
  padding: 10px;
  display: flex;
}

.pharmacycustomerright {
  width: 58%;
  height: 490px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 2%;
}

.pharmacycustomerright > div {
  padding: 10px 10px 10px 10px;
  margin-left: 4%;
  height: 180px;
  width: 25%;
  border-radius: 18px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}

.pharmacycustomerright > div:hover {
  background-color: #e1f9f6;
  cursor: pointer;
  transition: all 0.2s linear;
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pharmacycustomerright > div > h3 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 2%;
}

.pharmacycustomerright > div > p {
  font-size: 15px;
  font-weight: 400;
  margin-top: 2%;
}

.pharmacyCustomerImage {
  /* border: 1px solid red; */
  width: 100%;
  height: 600px;
}

.pharmacyCustomerImage > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
