.szpharmacysneak {
  width: 100%;
  height: 300px;
}

.szpharmacysneaksub {
  width: 90%;
  margin: auto;
  text-align: center;
  height: 290px;
}

.szpharmacysneakheading {
  margin-top: 35px;
}

.szpharmacysneakbttn {
  padding: 10px 60px;
  font-weight: 600;
  font-size: 18px;
  border: none;
  margin-top: 4%;
  background-color: #ef4c23;
  color: white;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.szpharmacysneakbttn:hover {
  color: #ef4c23;
  background-color: white;
}
@media (max-width:480px){
  .szpharmacysneak {
    width: 100%;
    height: 300px;
  }
  
  .szpharmacysneaksub {
    width: 90%;
    margin: auto;
    text-align: center;
    height: 290px;
  }
  
  .szpharmacysneakheading {
    margin-top: 35px;
  }
  
  .szpharmacysneakbttn {
    padding: 10px 60px;
    font-weight: 600;
    font-size: 18px;
    border: none;
    margin-top: 9%;
    background-color: #ef4c23;
    color: white;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .szpharmacysneakbttn:hover {
    color: #ef4c23;
    background-color: white;
  }
}