.xamarinDevelopmentExpertiseMainDiv {
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 2%;
}
.xamarinDevelopmentExpertiseIconContainer {
  /* border: 2px solid red; */
  width: 48%;
  margin-left: 4%;
  border-right: 1px solid black;
}
.xamarinDevelopmentExpertiseContent {
  /* border: 2px solid red; */
  width: 48%;
}
.xamarinDevelopmentExpertiseContentHeading {
  /* border: 2px solid red; */
  margin-top: 8%;
  margin-left: 5%;
}
.xamarinDevelopmentExpertiseContentText {
  margin-top: 3%;
  margin-left: 5%;
  width: 80%;
  text-align: justify;
  /* border: 2px solid red; */
}
.xamarinDevelopmentExpertiseIconOuterBox {
  /* border: 2px solid red; */
  width: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
}
.xamarinDevelopmentExpertiseContainerDiv {
  /* border: 2px solid green; */
  width: 45%;
  display: flex;
  flex-direction: row;
  margin-left: 4%;
}

.xamarinDevelopmentExpertiseContainerDiv:hover {
  cursor: pointer;
  /* margin-top: 0; */
  transition: all 0.2s linear;
  /* transform: scale(1.1); */
  transform: translateY(-15px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.xamarinDevelopmentExpertiseIcon {
  width: 70px;
  height: 70px;
  margin-top: 5%;
  /* border: 2px solid blue; */
}
.xamarinDevelopmentExpertiseIcon > img {
  width: 100%;
  height: 100%;
}
.xamarinDevelopmentExpertiseIconHeading {
  width: 75%;
  /* border: 2px solid salmon; */
  /* padding-top: 4%; */
  margin-left: 4%;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.xamarinDevelopmentExpertiseIconHeading h4{
  /* border: 2px solid yellow; */
  margin: 0%;
}
.xamarinDevelopmentExpertiseIconHeading p{
  margin-top: 0%;
  text-align: justify;
}

.xamarinDevelopmentExpertiseContentbutton{
  border: 2px   solid yellow;
  width: 250px;
  height: 40px;
  border-radius: 10px;
  font-size: 18px;
  color: white;
  background-color: #ef4c23;
  margin-left: 25%;
  margin-top: 5%;

 /* align-items: center; */
}
.xamarinDevelopmentExpertiseContentbutton:hover{
  background-color: white;
  color: #ef4c23;
  border: 1px solid #ef4c23;


}



@media only screen and ( min-width:0px) and (max-width:1020px){
  .xamarinDevelopmentExpertiseMainDiv {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  .xamarinDevelopmentExpertiseIconContainer {
    /* border: 2px solid red; */
    width: 100%;
    /* margin: auto; */
    border:none;
  }
  .xamarinDevelopmentExpertiseContent {
    /* border: 2px solid red; */
    width: 100%;
    text-align: center;
  }
  .xamarinDevelopmentExpertiseContentHeading {
    /* border: 2px solid red; */
    /* margin-top: 8%; */
    /* margin-left: 5%; */
    margin: auto;
    margin-top: 8%;
  }
  .xamarinDevelopmentExpertiseContentText {
    /* margin-top: 3%; */
    /* margin-left: 5%; */
    width: 90%;
    /* border: 2px solid red; */
  }
  .xamarinDevelopmentExpertiseIconOuterBox {
    /* border: 2px solid red; */
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
  }
  .xamarinDevelopmentExpertiseContainerDiv {
    /* border: 2px solid green; */
    width: 45%;
    display: flex;
    flex-direction: row;
    /* margin: auto; */
    margin-left: 4%;
  }
  
  .xamarinDevelopmentExpertiseContainerDiv:hover {
    cursor: pointer;
    /* margin-top: 0; */
    transition: all 0.2s linear;
    /* transform: scale(1.1); */
    transform: translateY(-15px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .xamarinDevelopmentExpertiseIcon {
    width: 70px;
    height: 70px;
    margin-top: 20%;
    /* border: 2px solid blue; */
  }
  .xamarinDevelopmentExpertiseIcon > img {
    width: 100%;
    height: 100%;
  }
  .xamarinDevelopmentExpertiseIconHeading {
    width: 75%;
    /* border: 2px solid salmon; */
    padding-top: 4%;
    margin-left: 4%;
    display: flex;
    flex-direction: column;
  }
  
}
