.agricultureSolutionsHeadingDiv {
  width: 70%;
  margin: auto;
  text-align: center;
  justify-content: center;
}

.agricultureSolutionsHeadingDiv > h1 > span {
  color: #ef4c23;
}


.agricultureSolutionsMainDataCards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2%;
  justify-content: center;
  row-gap: 40px;
  column-gap: 40px;
}

.agricultureSolutionsMainDataCards > div {
  width: 26%;
  height: 450px;
  border: 1px solid #d6d6d6;
  border-radius: 10px;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.agricultureSolutionsMainDataCards > div:hover {
  transition: all 0.2s linear;
  transform: translateY(-10px);
  }
.agricultureSolutionsMainDataCards > div > div > img {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 480px) {
  .agricultureSolutionsHeadingDiv {
    width: 100%;
    margin: auto;
    text-align: center;
    justify-content: center;
  }

  .agricultureSolutionsHeadingDiv > h1 > span {
    color: #ef4c23;
  }

  .plantBasedServicesBackImageDiv img {
    width: 100%;
  }

  .agricultureSolutionsMainDataCards {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2%;
    justify-content: center;
    row-gap: 40px;
    column-gap: 40px;
  }

  .agricultureSolutionsMainDataCards > div {
    width: 100%;
    height: 450px;
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .agricultureSolutionsMainDataCards > div > h3 {
    font-size: 22px;
    margin-bottom: 0%;
  }

  .agricultureSolutionsMainDataCards > div > p {
    font-size: 15px;
  }

  .agricultureSolutionsMainDataCards > div > div {
    width: 95%;
    align-items: center;
    justify-content: center;
  }

  .agricultureSolutionsMainDataCards > div > div > img {
    width: 100%;
    object-fit: contain;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .agricultureSolutionsHeadingDiv {
    width: 100%;
    margin-bottom: 10%;
    text-align: center;
    justify-content: center;
  }

  .agricultureSolutionsHeadingDiv > h1 > span {
    color: #ef4c23;
  }

  .plantBasedServicesBackImageDiv img {
    width: 100%;
  }

  .agricultureSolutionsMainDataCards {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
    column-gap: 40px;
  }

  .agricultureSolutionsMainDataCards > div {
    width: 90%;
    height: 450px;
    border-radius: 10px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .agricultureSolutionsMainDataCards > div > div {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .agricultureSolutionsMainDataCards > div > div > img {
    align-items: center;
    width: 70%;
    object-fit: contain;
  }

  .agricultureSolutionsMainDataCards > div > h3 {
    font-size: 22px;
    margin-bottom: 0%;
    margin-top: 0%;
  }

  .agricultureSolutionsMainDataCards > div > p {
    font-size: 15px;
  }
}
