

.DataScienceMethodsContainer {
  width: 90%;
  margin: 5% auto;
  /* border: 2px solid green; */
}

.DataScienceMethodsContainer > h1 {
  font-size: 32px;
  margin: 1% auto;
}

.DataScienceMethodsContainer > p {
  font-size: 16px;
  margin: 1% auto;
}

.DataScienceMehtodsMain {
  width: 100%;
  /* border: 2px solid yellow; */

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.DataScienceMehtodsMain > div {
  width: 30%;
  height: 320px;
  border: 1px solid #d9d9d9;
}

.DataScienceMehtodsMain > div > h2 {
  text-align: center;
  font-size: 25px;
  margin: 2% auto;
}

.DataScienceMehtodsMain > div > ul > li {
  font-size: 16px;
  margin-bottom: 3%;
}


/* 
  for any type of mobile responsive */

@media only screen and (min-width:0px) and (max-width:1024px){

.DataScienceMethodsContainer {
  width: 90%;
  margin: 5% auto;
}

.DataScienceMethodsContainer > h1 {
  font-size: 32px;

  text-align: center;
}

.DataScienceMethodsContainer > p {
  font-size: 16px;

  text-align: center;
  text-align: justify;
}

.DataScienceMehtodsMain {
  width: 100%;
margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  /* border: 2px solid green; */
}

.DataScienceMehtodsMain > div {
  width:100%;
  /* border: 2px solid red; */
  height: fit-content;
  border: 1px solid #d9d9d9;
  margin-top: 2%;


}

.DataScienceMehtodsMain > div > h2 {
  text-align: center;
  font-size: 25px;
  margin: 2% auto;
}

.DataScienceMehtodsMain > div > ul > li {
  font-size: 18px;
  margin-bottom: 3%;
}
}


