.mobiledevmaincardsmainboxes{
    height: fit-content;
margin-bottom: 5%;
}

.mobiledevmaincardsmainboxesmappingbox{
    width: 90%;

    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.mobiledevboxindivisually{
 width: 31%;
 height: 350px;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 margin: 1%;
 border-radius: 10px;
}

.mobiledevboxindivisuallyimage{
    width: 100%;
    height: 75%;
   border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #294361;

}

.mobiledevboxindivisuallyimage>img{
    height: 100%;
    width: 100%;
    object-fit: 100% 100%;
}


.mobiledevboxindivisuallytxt{
    width: 100%;
    height: 26%;
   margin-top: -4%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: black;
    color: white;
    text-align: justify;
   
}

.mobiledevboxindivisuallytxt>p{
   font-size: small;
   padding: 10px;
}