.volunteerdiv {
  width: 100%;
  background-color: white;
}
.volunteersub {
  width: 92%;
  margin: auto;  
}
.szvolunteer {
  width: 50%;
  display: flex;
  gap: 15px;

text-align: justify;
  padding: 30px;
}
.szvolunteerimage {
  width: 8%;
  height: 55px;
}
.szvolunteerimage > img {
  width: 100%;
  height: 100%;
}
.volunteerhead {
  width: 90%;
}
.volenterpara {
  width: 50%;
  margin-left: 7%;
}
