.szfitfeaturesection {
  width: 100%;
  text-align: center;
}

.szfitfeaturesection>h1 {
  padding: 20px;
}

.fitfeaturemedia {
  width: 90%;
  margin: auto;
  display: flex;
  height: 260px;
  transition: transform 0.2s;
}

.fitfeature {
  width: 70%;
  margin: auto;
}

.fitfeaturdocs {
  width: 30%;
  margin: 10px;
  height: 200px;
  border-radius: 10px;
  padding: 50px 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.fitfeaturdocs:hover {
  transform: scale(1.1);
}

.fitfeaturdocs>p {
  padding: 15px;
}

.fitdocimg {
  width: 55px;
  aspect-ratio: 1/1;
  margin: auto;
}

.fitdocimg>img {
  object-fit: contain;
}