.DreamProjectmaindiv {
    border: 1px solid transparent;
    text-align: center;
    background: url("/Images/Productdiscoveryphotos/kickbanner.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
    color: white;
    margin-top: 4%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.DreamProjectcontain {
    width: 60%;
    margin: 0 auto;
}

.DreamProjectcontain>p {
    margin-bottom: 0;
}

.DreamProjectbutton {
    border: 2px solid #ef4c23;
    border-radius: 10px;
    height: 40px;
    width: 220px;
    background: #ef4c23;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

.DreamProjectbutton:hover {
    background: #fff;
    color: #ef4c23;
}