.kidswearadminpannermainboxes{
height: 80vh;
display: flex;
}

.babyandkidswearleftboxes{
width: 45%;
height: 100%;
background: url("/Images/kidswearappservice/ha/Ellipse 65.webp");
background-repeat: no-repeat;
margin-right: 3%;
}

.babykidswearinnerimagebox{
height: 90%;
width: 90%;
margin: 10% 0% 0% 10%;
}

.babyandkidswearrightboxes{
width: 55%;
}

.babyandkidswearadminheading{
margin-top: 5%;
}

.babyandkidswearadminheading span{
color: #ef4c23;
}

.babyandkidswearadmindatamappingbox{
height: fit-content;
width: 100%;
margin-top: 4%;
display: flex;
flex-wrap: wrap;
}
.babykidswearadmindataindi{
height: 220px;
width: 46%;
margin: 1%;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
padding: 10px;
border-radius: 10px;
}

.babykidswearadmindataindi:hover{
transition: all 0.2s linear;
transform: translateY(-10px);
background-color: #FFF1ED;
}

.babykidsindiconbox{
height: 20%;
width: 15%;
padding: 5px;
margin-left: 2%;
margin-top: 2%;
}

@media  (max-width: 1024px) {
    .kidswearadminpannermainboxes{
        height: fit-content;
        display: flex;
        flex-direction: column;
        }
        
        .babyandkidswearleftboxes{
        width: 100%;
        height: fit-content;
        background: url("/Images/kidswearappservice/ha/Ellipse 65.webp");
        background-repeat: no-repeat;
        margin: auto;
        }
        
        .babykidswearinnerimagebox{
        height: fit-content;
        width: 90%;
        margin: auto;
        }
        
        .babyandkidswearrightboxes{
        width: 90%;
        }
        
        .babyandkidswearadminheading{
        margin-top: 5%;
        }
        
        .babyandkidswearadminheading span{
        color: #ef4c23;
        }
        
        .babyandkidswearadmindatamappingbox{
        height: fit-content;
        width: 100%;
        margin-top: 4%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        }
        .babykidswearadmindataindi{
        height: 220px;
        width: 90%;
        margin: auto;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 10px;
        border-radius: 10px;
        }
        
        .babykidswearadmindataindi:hover{
        transition: all 0.2s linear;
        transform: translateY(-10px);
        background-color: #FFF1ED;
        }
        
        .babykidsindiconbox{
        height: 20%;
        width: 15%;
        padding: 5px;
        margin-left: 2%;
        margin-top: 2%;
        }
        
}