.ProductEmpathymaindiv{
    display: flex ;
    height: fit-content;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background: url("/Images/Productdiscoveryphotos/emptybaground.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.ProductEmpathycontaindiv{
    width: 45%;
    margin-left: 5%;
    color: white;
}
.ProductEmpathyimage{
    width: 40%;
    height: 480px;
    margin: auto;
}
.ProductEmpathyimage img{
    width: 100%;
    height: 100%;
}
.ProductEmpathyheading{
    color: #ef4c23;
    margin-top: 5%;
}
.ProductEmpathyheadingcontain p{
    font-size: 14px;
}
.ProductEmpathyheadingcontain2{
    margin-top: 8%;
}
.ProductEmpathyheadingcontain2 hr{
    width: 50%;
}