.kotlinSolutionsMainDiv {
width: 100%;
display: flex;
flex-direction: column;
}
.kotlinSolutionsheading {
color: black;
width: 60%;
margin: auto;
text-align: center;
margin-top: 2%;
}
.kotlinSolutionsDescription {
color: black;
font-size: 25px;
margin-top: 3%;
margin-left: 3%;
width: 80%;
}
.kotlinSolutionsContainerDiv {
width: 80%;
margin: auto;
margin-top: 2%;
border-radius: 5px;
background-color: #f9f9f9;
}
.kotlinSolutionsBox {
width: 97%;
margin: auto;
display: flex;
flex-direction: row;
}
.kotlinSolutionsContainerBoxes {
width: 25%;
border-radius: 5px;
background-color: white;
margin-left: 2%;
padding: 12px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
display: flex;
flex-direction: column;
}

.kotlinSolutionsContainerBoxes:hover {
cursor: pointer;
transition: all 0.2s linear;
transform: translateY(-15px);
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.kotlinSolutionsBoxIcon {
width: 50px;
/* height: 50px; */
padding-left: 6px;
border-radius: 5px;
margin-top: 2%;
object-fit: cover;
background-size: cover;
color: white;
}
.kotlinSolutionsBoxIcon:hover {
filter: invert(0.5) !important;
}
.KotlinSolutionImage {
width: 60px;
height: 60px;
padding: 2%;
}
.kotlinSolutionsBoxHeading {
width: 100%;
}
.kotlinSolutionsBoxHeading h6{
 margin-top: 0%;
}
.kotlinSolutionsBoxContent {
width: 100%;
font-size: 13px;
}
.kotlinSolutionsBoxContent p{
margin-top: -6%;
}

@media only screen and (min-width:0px) and (max-width:1024px){
.kotlinSolutionsMainDiv {
width: 100%;
display: flex;
flex-direction: column;
}
.kotlinSolutionsheading {
color: black;
width: 95%;
margin: auto;
text-align: center;
margin-top: 5%;
}

.kotlinSolutionsDescription {
color: black;
font-size: 25px;
margin-top: 3%;
margin-left: 3%;
width: 95%;
}
.kotlinSolutionsContainerDiv {
width: 100%;
margin: auto;
margin-top: 2%;
border-radius: 5px;
background-color: #f9f9f9;
}
.kotlinSolutionsBox {
width: 100%;
 margin: auto;
display: flex;
flex-direction: column;
}
.kotlinSolutionsContainerBoxes {
width: 70%;
border-radius: 5px;
margin: auto;
margin-top: 2%;
background-color: white;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
display: flex;
flex-direction: column;
}
.kotlinSolutionsContainerBoxes:hover {
cursor: pointer;
transition: all 0.2s linear;
transform: translateY(-15px);
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.kotlinSolutionsBoxIcon {
width: 30%;
padding-left: 6px;
border-radius: 5px;
margin-top: 2%;
object-fit: cover;
background-size: cover;
color: white;
}
.kotlinSolutionsBoxIcon:hover {
filter: invert(0.5) !important;
}
.KotlinSolutionImage {
width: 60px;
height: 60px;
padding: 2%;
}
.kotlinSolutionsBoxHeading {
width: 100%;
}
.kotlinSolutionsBoxHeading h6{
 margin-top: 0%;
}
.kotlinSolutionsBoxContent {
width: 100%;
font-size: 13px;
}
.kotlinSolutionsBoxContent p{
margin-top: -6%;
}
}