/* for any type of laptop and big size of screen responsive */
@media only screen and (min-width:900px){
.mernpopularservices {
  width: 100%;
  /* background-color: green;    */
  text-align: center;
  /* padding: 40px 20px; */
}

.mernServices {
  width: 60%;
  margin: 20px auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
}

.mernPopular {
  display: flex;
  justify-content: center;
}

.serviceContent {
  width: 25%;
  height: 70px;
  padding: 5px;
  border: none;
  padding: 10px 25px;
  position: relative;
  
}

.serviceContent:hover {
  background-color: red;

}

.h4Content{
    margin: 0;
    width: 90%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
 
}

.serviceDescription{
    width: 94%;
    padding: 20px;

}

.descriptionImage{
    width: 100%;
    height: 400px;
    
}
.descriptionImage>img{
    height: 100%;

}
.stackContent{
    width: 100%;
}
}

/* for any type of mobile screen responsive */

@media only screen and (min-width:0px) and (max-width:480px){
  .mernpopularservices {
    width: 100%;
    /* background-color: green;    */
    text-align: center;
    /* padding: 40px 20px; */
  }
  
  .mernServices {
    width: 100%;
    margin: 10px auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
  }
  
  .mernPopular {
    display: flex;
    justify-content: center;
   
  }
  
  .serviceContent {
    width: 25%;
    height: 70px;
    padding: 5px;
    border: none;
    padding: 10px 25px;
    position: relative;
 
    overflow: scroll;
   
  
    
  }
  
  .serviceContent:hover {
    background-color: red;
  
  }
  
  .h4Content{
      margin: 0;
      width: 90%;
      position: absolute;
      transform: translate(-50%,-50%);
      top: 50%;
      left: 50%;
    
   
  }
  
  .serviceDescription{
      width: 90%;
      padding: 20px;
      text-align: justify;
  
  }
  
  .descriptionImage{
      width: 100%;
      height: 400px;
      
  }
  .descriptionImage>img{
      height: 100%;
      width: 100%;
      object-fit: contain;
  
  }
  .stackContent{
      width: 100%;
  }
}

/* for any type of tablet screen responsive */

@media only screen and ( min-width:481px) and (max-width:900px){
.mernpopularservices {
  width: 100%;
  /* background-color: green;    */
  text-align: center;
  /* padding: 40px 20px; */
}

.mernServices {
  width: 95%;
  margin: 20px auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
}

.mernPopular {
  display: flex;
  justify-content: center;
}

.serviceContent {
  width: 25%;
  height: 70px;
  padding: 5px;
  border: none;
  padding: 10px 25px;
  position: relative;
  
}

.serviceContent:hover {
  background-color: red;

}

.h4Content{
    margin: 0;
    width: 90%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
 
}

.serviceDescription{
    width: 94%;
    padding: 20px;

}

.descriptionImage{
    width: 100%;
    height: 400px;
    
}
.descriptionImage>img{
    height: 100%;

}
.stackContent{
    width: 100%;
}

}

