/* for any type of laptop and wide range of screen responsive */
@media only screen and (min-width:900px){

.techgetstarted {
  width: 100%;
  height: 250px;
  color: white;
  /* padding: 30px; */
  text-align: center;
  position: relative;
}

.techgetstarted > div {
  color: white;
  width: 90%;
  margin: auto;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.techgetstarted > div > button {
  color: white;
  padding: 10px 30px;
  background: transparent;
  font-size: 18px;
  border: 2px solid white;
  font-weight: 600;
  border-radius: 10px;
}
}

/* for any type of mobile screen responsive */
@media only screen and (min-width:0px) and (max-width:480px){
  .techgetstarted {
    width: 100%;
    height: 320px;
    color: white;
    /* padding: 30px; */
    background-size: 100% 100% !important;
    text-align: center;
    position: relative;
 
  }
  
  .techgetstarted > div {
    color: white;
    width: 90%;
    margin: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  .techgetstarted > div > button {
    color: white;
    padding: 10px 30px;
    background: transparent;
    font-size: 18px;
    border: 2px solid white;
    font-weight: 600;
    border-radius: 10px;
  }
  
  .techgetptagstarted>p{
    text-align: justify;
  }
}

/* for any type of tablet screen responsive */

@media only screen and ( min-width:481px) and (max-width:900px){

.techgetstarted {
  width: 100%;
  height: 250px;
  color: white;
  /* padding: 30px; */
  text-align: center;
  position: relative;
  background-size: 100% 100% !important;
}

.techgetstarted > div {
  color: white;
  width: 90%;
  margin: auto;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.techgetstarted > div > button {
  color: white;
  padding: 10px 30px;
  background: transparent;
  font-size: 18px;
  border: 2px solid white;
  font-weight: 600;
  border-radius: 10px;
}




}
