.icecreambannermainboxes {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
  position: relative;
  background-color: white;
}

.icreambannersometextbox {
  height: fit-content;
  width: 50%;
  margin-left: 5%;
  position: absolute;
  margin-top: 13%;
  text-align: justify;
}

.icreambannersometextbox > h1 {
  font-weight: 500;
  font-size: 40px;
}

.icreambannersometextbox > h2 {
  font-weight: 500;
  font-size: 40px;
}

.icreambannersometextbox > p {
  text-align: justify;
  width: 70%;
  margin-top: 2%;
}

.icecreambannerbutton {
  padding: 10px 50px;
  border-radius: 100px;
  width: 220px;
  background-color: #ef4c23;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-top: 4%;
}

.icecreambannerbutton:hover {
  background-color: white;
  color: #ef4c23;
}

.specialcolr {
  color: #ef4c23;
}

.iceCreamBannerMainAnimation {
  width: 75%;
}

.iceCreamBannerAnimationDiv {
  position: absolute;
  width: 50%;
  right: 0%;
  top: 12%;
}
