.icecreamdriverappmainboxes {
  height: fit-content;
  background-color: white;
  margin-bottom: 5%;
}

.icecreamdriverappmainboxes > h2 {
  margin-left: 43.5%;
  font-size: 30px;
}

.icecreamdriverappflexingbox {
  height: fit-content;
  display: flex;
}

.icecreamdriverappflexingboxleftbox {
  height: 480px;
  width: 50%;
  background: url("/Images/icecreamchanges/Ellipse 247.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.icecreamdeliveryappleftboxinsiderupperimage {
  height: 90%;
  width: 35%;
  margin: 5% 0% 5% 30%;
}

.icecreamdeliveryappleftboxinsiderupperimage > img {
  object-fit: contain;
}

.icecreamdriverappflexingboxrightbox {
  height: fit-content;
  width: 60%;
  margin: 2% 2% 0% 3%;
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
}

.icecreamcustomerappmainboxes > h2 {
  text-align: center;
  margin-top: 3%;
}

.icecreamdriverappindivisualbox {
  height: fit-content;
  width: 45%;
  height: 210px;
  margin: 1%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.icecreamdriverappindivisualbox:hover {
  transform: scale(1.02);
  background-color: #fbe1e5;
}

.icecreamdeliveryappindivisualboxforlogo {

  height: 23%;
  width: 12%;
}

.icecreamdeliveryappindivisualboxforlogo > img {
  object-fit: contain;
}

.icecreamdeliveryappindivisualboxfortext > h4 {
  padding-top: 5px;
  margin-top: 2%;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  vertical-align: baseline;
  margin-bottom: 1%;
}

.icecreamdeliveryappindivisualboxfortext > p {
  padding-top: 1%;
  font-size: 14px;
  line-height: 20px;
  vertical-align: baseline;
  font-weight: 400;
}
