.icecreamadminpannelmainboxes {
  height: fit-content;
  background-color: white;
  padding-bottom: 5%;
}
.icecreamadminpannelmainboxsometextupper {
  height: fit-content;
  margin-left: 4%;
}
.icecreamadminpannelmainboxsometextupper > h2 {
  font-weight: 700;
  font-size: 30px;
}
.icecreamadminpannelmainflexboxclass {
  height: 500px;
  display: flex;
}
.icecreamadminpannelleftbox {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  width: 55%;
  margin-left: 3%;
}
.icecreamadminpannelmapperboxindivisyal {
  height: fit-content;
  width: 45%;
  height: 180px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 1%;
  text-align: justify;
  padding: 10px;
  border-radius: 10px;
}
.icecreamadminpannelmapperboxindivisyal:hover {
  transform: scale(1.02);
  background-color: #f9f5f5;
}

.icecreamadminpannelrightbox {
  width: 45%;
  margin-left: 1%;
  margin-top: 1%;
  background-color: #ffe7e8;
}

.icecreamadminpannelrightboxinnerimage {
  height: 80%;
  width: 80%;
  margin: 8% 3% 3% 10%;
}

.icecreamadminpannelrightboxinnerimage > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.icecreamadminpannelmapperboxindivisyalicon {
  height: 25%;
  width: 18%;
}

.icecreamadminpannelmapperboxindivisyalicon > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.icecreamadminpannelmapperboxindivisyaltxt > h4 {
  margin-top: 1%;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  vertical-align: baseline;
  margin-bottom: 1%;
  margin-top: 0%;
}

.icecreamadminpannelmapperboxindivisyaltxt > p {
  margin-top: 0%;
  font-size: 15px;
  line-height: 20px;
  vertical-align: baseline;
  font-weight: 400;
}
