.saleSmarterDiv {
  /* border: 2px solid red; */
  display: flex;
  align-items: stretch;

  /* width: 100%; */
  margin-top: 5%;
  /* margin: auto; */
}

.saleSmarterInnerdiv {
  width: 20%;
  height: fit-content;
  text-align: center;
  margin: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* margin-top: 2%; */
}

.saleSmarterInnerdiv:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.saleSmarterHeading {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 2%;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.saleSmarterHeading > h2 {
  margin: 0;
}

.saleSmarterParagrafdiv {
  border-bottom: 1px solid #ef4c23;
  margin-top: 2%;
  height: 80px;
}

.saleSmarterParagrafdiv > p {
  font-size: 14px;
  width: 95%;
  margin: auto;
}

.saleSmarterPricediv {
  margin-top: 5%;
  /* border: 2px solid green; */
}

.saleSmarterPricediv h1 {
  font-size: 42px;
  color: #ef4c23;
}

.saleSmarterButton {
  border: none;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  background-color: #ef4c23;
  color: white;
  font-size: 18px;
  margin-top: 5%;
}

.saleSmarterButton:hover {
  background-color: white;
  color: #ef4c23;
  border: 1px solid #ef4c23;
}

.saleSmarterListdiv {
  /* border: 2px solid yellow; */
  text-align: left;
  margin-top: 5%;
  margin-bottom: 5%;
}

.saleSmarterListdiv ul li {
  margin-top: 5%;
}

.saleSmarterListdiv h6 {
  margin-left: 5%;
}

.saleSmarterDivupperheading {
  /* border: 2px solid yellow; */
  text-align: center;
  margin-top: 6%;
}

.saleSmartertext {
  text-decoration: underline;
  text-align: right;
  margin-top: 2%;
  margin-right: 3%;
  /* font-weight: bold; */
}
