.eyewearcustomerappmainboxes {
  height: 100vh;
}

.eyewearcustomerappuppertextbox {
  text-align: center;
  margin-top: 2%;
  height: fit-content;
}

.eyewearappcustomerappboxflextype {
  height: 80%;
  display: flex;
}

.eyewearappcustomerappboxflextypeleftbox {
  width: 60%;
  height: 100%;
}

.eyewearappcustomerappboxflextypeleftboxinsidertext {
  height: fit-content;
  width: 70%;
 margin-left: 7%;
 
  

}



.eyewearcustomermappingdatabox {
  display: flex;
  flex-wrap: wrap;
  margin: 3% 0% 0% 5%;

}

.eyewearcustomeraftermap1box {
  height: auto;
  width: 44%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 margin: 1%;
  display: flex;
  padding: 13px;
  border-radius: 10px;
}

.eyewearcustomeraftermap1box > div > h4 {
  margin-top: 1%;
  margin-left: 1%;
}

.eyewearcustomeraftermap1box > div > p {
  margin-top: 1%;
  font-size: 14px;
}

.eyewearcustomeraftermap1box:hover {
  transform: scale(1.02);
  background-color: #ffebef;
}

.flexingeyewearcustomerforlogo {
  width: 100%;
  height: 25%;
  padding: 5px;
}



.eyewearappcustomerappboxflextyperightbox {
  height: 100%;
  width: 40%;
  margin-top: 5%;
  background: url("/Images/EyewearDeliveryapp/bannersBackgrounds/Ellipse\ 240.webp");
  background-size: contain;
  position: relative;
}

.eyewearmobileforcustomerappdelivery {
  position: absolute;
  height: 80%;
  width: 50%;
  left: 25%;
  top: 10%;
}

.eyewearmobileforcustomerappdelivery > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
