.eyeweardeliveryadminpannelmainbox {
  height: 80vh;
  margin-top: 100px;
  display: flex;
}

.eyeweardeliveryadminpannelleftbox {
  height: fit-content;
  width: 65%;
}

.eyeweardeliveryadminpannelrightbox {
  height: 85%;
  width: 50%;

  position: relative;

background: url("/Images/EyewearDeliveryapp/Adminpanelscreens/Rectangle 4787.webp");
background-repeat: no-repeat;
background-size: 100% 50%;
background-position-y:bottom ;
}



.eyeweardeliveryadmintextboxleftside {
  height: fit-content;
  width: 55%;
  position: absolute;
  text-align: justify;
  left: 3%;

}

.eyeweardeliveryadmintextboxleftside > h2 {
  margin-left: 2%;
}

.eyeweardeliveryadminpannelwheremap {
  display: flex;
  flex-wrap: wrap;

}

.eyewearmappingdataboxadminpannel {
  width: 44%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 220px;
  border-radius: 10px;
  margin: 1%;
  display: flex;
  padding: 10px;
}

.eyewearmappingdataboxadminpannel > div > p {
  margin-top: 1%;
  font-size: 14px;
}

.eyewearmappingdataboxadminpannel > div > h4 {
  margin-top: 1%;
}

.eyewearmappingdataboxadminpannel:hover {
  transform: scale(1.02);
  background-color: #ffebef;
}

.eyeadminlogo {
  padding: 10px;
  width: 40%;
}

.eyeadminlogo > img {
  height: 40px;
  width: 40px;
}
