.eyeweardeliverydrivermainbox {
  margin-top: 3%;
  position: relative;
}

.eyeweardeliverydriverappboxfortxt {
  position: absolute;
  right: 16%;
  width: 40%;
}

.eyeweardeliverydriverappflexingintonew {
  display: flex;
}

.eyeweardeliverydriverappflexingintonewleft {
  height: 500px;
  width: 40%;
  margin-top: 4%;
  margin-left: 3%;
  background: url("/public/Images/EyewearDeliveryapp/bannersBackgrounds/Component87.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.eyeweardeliverydriverappflexingintonewleftinsiderboxformobile {
  position: absolute;
  height: 100%;
  width: 40%;
  left: 22%;
}

.eyeweardeliverydriverappflexingintonewleftinsiderboxformobile > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.eyeweardeliverydriverappflexingintonewright {
  height: 500px;
  width: 60%;
  margin-top: 4%;
  display: flex;
  flex-wrap: wrap;
}

.eyeweardriveraftermappingnewboxes {
  height: auto;
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 3%;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  text-align: justify;
}
.txteyeweardriver > h4 {
  margin-top: 2%;
}
.txteyeweardriver > p {
  font-size: 14px;
  margin-top: 1%;
}
.eyeweardriveraftermappingnewboxes:hover {
  transform: scale(1.02);
  background-color: #ffebef;
}

.logoeyeweardriver {
  margin: 2%;
  width: 40%;
}

.logoeyeweardriver > img {
  height: 40px;
  width: 40px;
}
