.andriodAppDevbannermainbox {
    height: 100vh;
    width: 100%;
    border: 1px solid white;
    justify-content: space-around;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .andriodAppDevbannermainboxinnertextdiv {
   
    width: 40%;
   margin-top: 12%;
   margin-left: 5%;
    text-align: left;
    
  }
  
  .andriodAppDevbannermainboxinnertextdiv > h1 {
    color: black;
    font-size: 40px;
    font-weight: 600;
  }

    .andriodAppDevbannermainboxinnertextdiv > h1> span {
        color: #ef4c23;
    }
  .andriodAppDevbannermainboxinnertextdiv > p {
    color: black;
    margin-top: 2%;
    font-size: 16px;
    text-align: justify;
  }
  
  .andriodAppDevbannerbutton {
    padding: 10px 50px;
    border-radius: 10px;
    width: 220px;
    background-color: #ef4c23;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin-top: 2%;
    
  }
  
  .andriodAppDevbannerbutton:hover {
    background-color: white;
    color: #ef4c23;
  }

  .androidIcon{

    margin: auto;

  }
  


@media only screen and ( min-width:0px) and (max-width:1024px){
  .andriodAppDevbannermainbox {
    height: fit-content;
    width: 100%;
    border: 1px solid white;
    display: flex;
    flex-direction: column-reverse;
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .androidIcon{
   width: fit-content;
   width: 100%;
  }
  .andriodAppDevbannermainboxinnertextdiv {
    width: 70%;
   margin: auto;
    text-align: center;
    padding-bottom: 50px;
  }
  
  .andriodAppDevbannermainboxinnertextdiv > h1 {
    color: black;
    font-size: 25px;
  }
  .andriodAppDevbannermainboxinnertextdiv > h1> span {
    color: #ef4c23;
}
.andriodAppDevbannermainboxinnertextdiv > p {
color: black;
margin-top: 2%;
font-size: 14px;
text-align: justify;
}

.andriodAppDevbannerbutton {
padding: 10px 50px;
border-radius: 10px;
width: 220px;
background-color: #ef4c23;
border: none;
outline: none;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
font-size: 12px;
font-weight: 600;
color: white;
margin-top: 2%;
}

.andriodAppDevbannerbutton:hover {
background-color: white;
color: #ef4c23;
}

}