.kidswearcustomermainboxes{
    height: fit-content;
   
    margin-top: 5%;
    display: flex;
}

.kidswearcustomerleftbox{
    width:55%;
    height: fit-content;
    margin-left: 5%;
}


.kidswearcustomerdatamapping{
    display: flex;
    flex-wrap: wrap;
  
}

.kidswearcustomerleftbox h2>span{
    color: #ef4c23;
    margin-left: 3%;
}

.kidswearcustomerdatamapping>div{
    width: 45%;
   max-height: max-content;
 margin: 1%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
   border-radius: 10px;
}

.kidswearcustomerdatamapping>div:hover{
    transition: all 0.2s linear;
    transform: translateY(-10px);
    background-color: #FFF1ED;
}


.kidswearicon{
    height: 25%;
    width: 25%;
    padding: 12px;
}

.kidswearcustomerapptextdata{
    margin-top: 2%;
}


.kidswearcustomerrightbox{
    margin-left: 2%;
    width: 40%;
    background: url("/Images/kidswearappservice/ha/Rectangle 4787.webp");
    background-repeat: no-repeat;
    background-size: 100% 40%;
    background-position-y: bottom;
    background-position-x: right;

}

@media  (max-width: 1024px) {
    .kidswearcustomermainboxes{
        height: fit-content;
       
        margin-top: 5%;
        display: flex;
        flex-direction: column-reverse;
    }
    
    .kidswearcustomerleftbox{
        width:100%;
        height: fit-content;
        margin: auto;
        /* margin-left: 5%; */
    }
    
    
    .kidswearcustomerdatamapping{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      
    }
    
    .kidswearcustomerleftbox h2>span{
        color: #ef4c23;
        margin: auto;
        /* margin-left: 3%; */
    }
    
    .kidswearcustomerdatamapping>div{
        width: 90%;
       max-height: max-content;
     margin: auto;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 10px;
       border-radius: 10px;
    }
    
    .kidswearcustomerdatamapping>div:hover{
        transition: all 0.2s linear;
        transform: translateY(-10px);
        background-color: #FFF1ED;
    }
    
    
    .kidswearicon{
        height: 25%;
        width: 25%;
        padding: 12px;
    }
    
    .kidswearcustomerapptextdata{
        margin-top: 2%;
    }
    
    
    .kidswearcustomerrightbox{
        margin: auto;
        width: 90%;
        background: url("/Images/kidswearappservice/ha/Rectangle 4787.webp");
        background-repeat: no-repeat;
        background-size: 100% 40%;
        background-position-y: bottom;
        background-position-x: right;
    
    }
    
}