.fintechsolutionadminpannelmainbox {
  height: 80vh;
margin-top: 50px;
  display: flex;
}

.fintechsolutionadminpannelleftbox {
  height: fit-content;
  width: 65%;
}

.fintechsolutionadminpannelrightboxes {
  height: 400px;
  width: 45%;
  background: url("/Images/fintechsolutionpage/Rectangle 4788.webp");
  background-repeat: no-repeat;
  background-size: cover;
background-size: 100% 70%;
background-position-y: bottom;
margin-top: 9%;
}

.fintechsolutionadminpannelrightboxes > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.fintechsolutionadminpannelleftboxfortext {
  height: fit-content;
  width: 55%;

  position: absolute;
  text-align: justify;
  left: 5%;
}

.fintechsolutionadminpannelleftboxfortext span{
  color: #ef4c23;
}

.adminpannelfintechsolutionwheremap {
  display: flex;
  flex-wrap: wrap;
}

.fintechsolutionmappingdataadminpannel {
  width: 44%;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  margin: 1%;
  display: flex;
  padding: 10px;
}

.fintechsolutionmappingdataadminpannel:hover {
  transition: all 0.2s linear;
  transform: translateY(-10px);
    background-color: #bed0f1;
}

.fintechsolutionmappingadmindata > h4 {
  margin-top: 1%;
  margin-left: 1%;
}

.fintechsolutionmappingadmindata > p {
  margin-top: 0%;
}

.fintechadminlogo {
  margin: 1%;
  padding: 1%;
  width: 40%;
  /* border: 1px solid red; */
}
