.fintechappsolutionmainboxes{
height: fit-content;
margin-bottom: 5%;
}

.fintechappsolutiontextboxes{
  height: fit-content;
  width: 46%;
  margin-left: 4%;
  
}
.fintechappsolutiontextboxes>h2>span{
  color: #ef4c23;
}

.fintechappsolutiondataboxes{
  display: flex;
}
.fintechappsolutionleftboxes{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 3%;

}

.fintechdatamappingindi{
  width: 48%;
  margin: 1%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  padding: 10px;
}

.fintechdatamappingindi:hover{
  transition: all 0.2s linear;
transform: translateY(-10px);
  background-color: #bed0f1;
}

.fintechdatamappinginditxtandicon{
  display: flex;
}

.fintechdataiconmappingindi{
  height: 15%;
  width: 15%;
}

.fintechdatahtxtmappingindi{
  padding: 10px;
}

.fintechappsolutionrightboxes{
  width: 47%;
  margin-left: 1%;
  background: url("/Images/fintechsolutionpage/Rectangle 4788.webp");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;
  background-size: contain;
}

.fintechappsolutionadminpannelimage{
  height: 90%;
  width: 90%;
  margin: auto;
}


@media only screen and (min-width:0px) and (max-width:600px){

  .fintechappsolutionmainboxes{
    height: fit-content;
    margin-bottom: 5%;
    margin-top: 5%;
    }
    
    .fintechappsolutiontextboxes{
      height: fit-content;
      width: 90%;
    margin: auto;
      
    }

.fintechappsolutiontextboxes>h2{
  text-align: center;
}

.fintechappsolutiontextboxes>p{
  text-align: justify;
}

    .fintechappsolutiontextboxes>h2>span{
      color: #ef4c23;
    }
    
    .fintechappsolutiondataboxes{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }
    .fintechappsolutionleftboxes{
      width: 95%;
      display: flex;
      flex-wrap: wrap;
  height: 350px;
  overflow-y: scroll;
    margin-top: 3%;
    
    }
    
    .fintechdatamappingindi{
      width: 95%;
      margin: 1%;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 10px;
      padding: 10px;
    }
    
    .fintechdatamappingindi:hover{
      transition: all 0.2s linear;
    transform: translateY(-10px);
      background-color: #bed0f1;
    }
    
    .fintechdatamappinginditxtandicon{
      display: flex;
    }
    
    .fintechdataiconmappingindi{
      height: 15%;
      width: 15%;
    }
    
    .fintechdatahtxtmappingindi{
      padding: 10px;
    }
    
    .fintechappsolutionrightboxes{
      width: 98%;
  
      background: url("/Images/fintechsolutionpage/Rectangle 4788.webp");
      background-repeat: no-repeat;
      background-position-y: bottom;
      background-position-x: right;
      background-size: contain;
    }
    
    .fintechappsolutionadminpannelimage{
      height: 90%;
      width: 90%;
      margin: auto;
    }


  }
