.fintechsolutioncustomerappmainbox {
  height: fit-content;
  position: relative;
}

.fintechcustomerappboxfortext {
  position: absolute;
  height: fit-content;
  right: 17%;
  width: 40%;
  top: 10%;
}

.fintecustomerappfelxingboxupper {
  display: flex;
}

.fintecustomerappfelxingboxupperleft {
  height: 500px;
  width: 50%;
  margin-top: 8%;
  background: url("/Images/fintechsolutionpage/Component187.webp");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.fintechcustomerappleftsectionformobile {
  position: absolute;
  height: 90%;
  width: 40%;
  top: 5%;
  left: 20%;
}

.fintechcustomerappleftsectionformobile > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.fintechcustomerappflexright {
  height: 400px;
  width: 70%;
  margin-top: 12%;
  display: flex;
  flex-wrap: wrap;
}

.fintechcustomerappboxesaftermapping {
  height: auto;
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 1%;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  text-align: justify;
}

.fintechcustomerappboxesaftermapping:hover {
  transform: scale(1.02);
  background-color: #bed0f1;
}

.logofintechcustomerapp {
  margin: 2%;
  width: 40%;
  height: 22%;
  /* border: 1px solid red; */
}

.logofintechcustomerapp > img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.specialtxt {
  color: #ef4c23;
  text-decoration: none;
}

.txtcustomerappfintech > h4 {
  margin-top: 2%;
}

.txtcustomerappfintech > p {
  margin-top: 1%;
  font-size: 14px;
}
