.onlinepaymentmobileapplicationmainbox {
height: 70vh;
display: flex;
padding-top: 5%;
background-color: white;
}
.onlinepaymentmobileapplicationleftbox {
height: 80%;
width: 45%;
background: url("/Images/onlinepaymentpage/ha/banner & backgrounds/Rectangle 18529.webp");
background-size: contain;
background-repeat: no-repeat;
background-position-y: left;

}
.specialcolor {
color: #ef4c23;
}
.onlinepaymentmobileapplicationleftboxformobileimage {
height: 100%;
width: 45%;
margin: 0% 0% 3% 15%;
}
.onlinepaymentmobileapplicationleftboxformobileimage > img {
height: 100%;
width: 100%;
object-fit: contain;
}
.onlinepaymentmobileapplicationrightbox {
height: 100%;
width: 40%;
margin: 2% 0% 0% 10%;
}
.onlinepaymentmobileapplicationmappingbox {
height: fit-content;
width: 90%;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
margin: 2%;
display: flex;
border-radius: 10px;
padding: 10px;

position: relative;
}

.onlinepaymentmobileapplicationmappingbox:hover {
transform: scale(1.02);
background-color: #F9EDF9;
}

.onlinepaymentmobileapplicationtetxtupperheadline {
height: fit-content;
width: 100%;


}
.onlinepaymentmobileapplicationtetxtupperheadline>h2{
    margin-top: -5%;
    position: absolute;
}


.onlinepaymentmobileapplicationmappingbox > h5 {
margin-left: 2%;
font-size: 17px;
margin-top: 1.5%;
}

.onlinepaymentmobileapplicationmappingbox > svg {
color: #cdfcf6;
margin-top: 2%;
margin-left: 3%;
}

/* Media query for the Mobile Device */

@media (max-width: 480px) {
.onlinepaymentmobileapplicationmainbox {
height: fit-content;
flex-direction: column;
padding-top: 5%;
margin-top: 35%;
background-color: white;
}

.onlinepaymentmobileapplicationleftbox {
height: 80%;
width: 100%;
background: url("/Images/onlinepaymentpage/Rectangle 18529.webp");
background-size: 100% 80%;
background-repeat: no-repeat;
background-position-y: center;
}

.specialcolor {
color: #ef4c23;
}

.onlinepaymentmobileapplicationleftboxformobileimage {
height: 100%;
width: 45%;
margin: 0% 0% 3% 25%;
}

.onlinepaymentmobileapplicationleftboxformobileimage > img {
height: 100%;
width: 100%;
object-fit: contain;
}

.onlinepaymentmobileapplicationrightbox {
height: 80%;
width: 93%;
}

.onlinepaymentmobileapplicationmappingbox {
height: 40px;
width: 90%;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
margin: 2%;
display: flex;
border-radius: 10px;
}

.onlinepaymentmobileapplicationmappingbox:hover {
transform: scale(1.02);
background-color: #cdfcf6;
}

.onlinepaymentmobileapplicationtetxtupperheadline {
height: 50px;
width: 100%;
}

.onlinepaymentmobileapplicationtetxtupperheadline > h1 {
font-size: 20px;
}

.onlinepaymentmobileapplicationmappingbox > h4 {
margin-left: 2%;
font-size: 20px;
margin-top: 2%;
}

.onlinepaymentmobileapplicationmappingbox > svg {
color: #cdfcf6;
margin-top: 2%;
margin-left: 3%;
}
}

@media (min-width: 481px) and (max-width: 1024px) {
.onlinepaymentmobileapplicationmainbox {
height: 300px;
display: flex;
padding-top: 5%;
background-color: white;
}

.onlinepaymentmobileapplicationleftbox {
height: 80%;
width: 50%;
background: url("/Images/onlinepaymentpage/Rectangle 18529.webp");
background-size: 100% 80%;
background-repeat: no-repeat;
background-position-y: center;
}

.specialcolor {
color: #ef4c23;
}

.onlinepaymentmobileapplicationleftboxformobileimage {
height: 100%;
width: 45%;
margin: 0% 0% 3% 10%;
}

.onlinepaymentmobileapplicationleftboxformobileimage > img {
height: 100%;
width: 100%;
object-fit: contain;
}

.onlinepaymentmobileapplicationrightbox {
height: 80%;
width: 40%;

margin: 2% 0% 0% 5%;
}

.onlinepaymentmobileapplicationmappingbox {
height: 60px;
width: 100%;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
margin: 2%;
display: flex;
border-radius: 10px;
}

.onlinepaymentmobileapplicationmappingbox:hover {
transform: scale(1.02);
background-color: #cdfcf6;
}

.onlinepaymentmobileapplicationtetxtupperheadline {
height: 50px;
width: 100%;
}

.onlinepaymentmobileapplicationtetxtupperheadline > h1 {
width: 100%;
font-size: 22px;
}

.onlinepaymentmobileapplicationmappingbox > h4 {
margin-left: 2%;
font-size: 19px;
margin-top: 1.5%;
}

.onlinepaymentmobileapplicationmappingbox > svg {
color: #cdfcf6;
margin-top: 2%;
margin-left: 3%;
}
}
