.aviationCustomerMain {
    margin-bottom: 5%;
    width: 100%;
    background-color: #fac1b2;
  }
  
  .aviationCustomerMain > h1 {
    margin-left: 3.5%;
    font-size: 40px;
    padding-top: 1%;
  }
  
  .aviationCustomerbox {
    height: fit-content;
    display: flex;
  }
  
  .aviationCustomerleftbox {
    height: 480px;
    width: 50%;
    
  }
  
  .aviationCustomerleftboxinsider {
    height: 90%;
    width: 35%;
    margin: 3% 0% 5% 30%;
  }
  
  .aviationCustomerleftboxinsider > img {
    object-fit: contain;
  }
  
  .aviationCustomerrightbox {
    height: fit-content;
    width: 60%;
    margin: 2% 2% 4% 3%;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
  }
  
  .aviationCustomerMain > h2 {
    text-align: center;
    margin-top: 3%;
  }
  
  .aviationCustomerindivisual {
    height: fit-content;
    width: 45%;
    height: 210px;
    margin: 1%;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .aviationCustomerindivisual:hover {
    cursor: pointer;
    transition: all 0.2s linear;
    transform: translateY(-10px);
    background-color: #f9e8eb;
  }
  
  .aviationCustomerindivisualicon {
    height: 23%;
    width: 12%;
  }
  
  .aviationCustomerindivisualicon > img {
    object-fit: contain;
  }
  
  .aviationCustomerindivisualtext > h4 {
    padding-top: 5px;
    margin-top: 2%;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    vertical-align: baseline;
    margin-bottom: 1%;
  }
  
  .aviationCustomerindivisualtext > p {
    padding-top: 1%;
    font-size: 14px;
    line-height: 20px;
    vertical-align: baseline;
    font-weight: 400;
  }

@media (max-width: 480px) {
  .aviationCustomerMain {
    width: 100%;
    height: max-content;
    background-color: #fac1b2;
  }
  .aviationCustomerMain > h1 {
    margin-left: 15.5%;
    font-size: 30px;
    padding-top: 1%;
  }
  .aviationCustomerbox {
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .aviationCustomerleftbox{
    width: 50%;
    height: 50px;
  }
  .aviationCustomerrightbox{
    width: 90%;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 10%;
  }
  .aviationCustomerindivisual{
    padding: 10px 10px 10px 10px;
    height: 200px;
    width: 90%;
    border-radius: 18px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
  }
  .aviationCustomerindivisual:hover {
  background-color: #e1f9f6;
  cursor: pointer;
  transition: all 0.2s linear;
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

@media (max-width: 1024px) {
  .aviationCustomerMain {
    height: max-content;
    background-color: #fac1b2;
  }
  .aviationCustomerMain > h1 {
    margin-left: 20.5%;
    font-size: 30px;
    padding-top: 1%;
  }
  .aviationCustomerbox {
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .aviationCustomerleftbox{
    width: 70%;
    height: 200px;
  }
  .aviationCustomerrightbox{
    width: 90%;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 10%;
  }
  .aviationCustomerindivisual{
    padding: 10px 10px 10px 10px;
    height: 200px;
    width: 90%;
    border-radius: 18px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
  }
  .aviationCustomerindivisual:hover {
  background-color: #e1f9f6;
  cursor: pointer;
  transition: all 0.2s linear;
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
} 
  