
.AviationServicetext{
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 1%;
}
.servicesFeatures {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
  }
  
  .serviceCards {
    width: 20%;
    height: 320px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.24);
  }
  
  .serviceCards:hover {
    cursor: pointer;
    transition: all 0.2s linear;
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .servicecardIcon {
    width: 50px;
    height: 50px;
    padding: 2px 0;
  }
  
  .servicecardIcon > img {
    object-fit: contain;
  }
  
  .serviceContent {
    width: 100%;
    margin-top: 6px;
  }
  
  .serviceContent > h5 {
    margin-top: 0%;
    margin-bottom: 0%;
  }