.mobiledevmainbannermainboxes{
  height: 100vh;
  border: 1px solid white;
  background: url("/Images/MobileDevMain/banner.png");
  background-size: 100% 100%;
}

.mobiledevmaininsidebannertxt{
  height: fit-content;
  width: 50%;
 
  margin-top: 14%;
  margin-left: 5%;
}

.mobileDevHeading{
  color: #ef4c23;
}

.mobileDevHeading{
  font-weight: 700;
  font-size:50px ;
}

.mobiledevmaininsidebannertxt>h1{
  font-weight: 700;
  font-size:40px ;
}

.mobiledevmaininsidebannertxt>p{
  text-align: justify;
  width: 70%;
}

.mobileDevMainbannerbutton{
  padding: 10px 50px;
  border-radius: 100px;
  width: 220px;
  background-color: #ef4c23;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 18px;
  font-weight: 600;
  color: white;


}

.mobileDevMainbannerbutton:hover {

  background-color:white;
  color:  #ef4c23;

}