/* For big size screen and laptop screens */
@media only screen and (min-width:900px){

  .whytechData {
    width: 100%;
    /* height: 500px; */
    /* background-color: green; */
    /* padding: 20px; */
    margin-bottom: 5%;
  
  }
  .techHeader {
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 20px;
  }
  .techHeader span {
    color: #ef4c23;
  }
  
  .whyTechFeaturesCard {
    width: 80%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    column-gap: 40px;
    row-gap: 40px;
    flex-wrap: wrap;
    margin: auto;
  
  }
  
  .whyTechFeaturesCardBox {
    width: 30%;
    /* background-color: red; */
    padding: 30px 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
  }
  
  .whyTechFeaturesCardBox:hover {
    cursor: pointer;
    /* margin-top: 0; */
    transition: all 0.2s linear;
    /* transform: scale(1.1); */
    transform: translateY(-15px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  }
  
  /* for any type of mobile screen responsive */
  
  @media only screen and (min-width:0px) and (max-width:480px){
  
  
  .whytechData {
    width: 100%;
    /* height: 500px; */
    /* background-color: green; */
    /* padding: 20px; */
  
  }
  .techHeader {
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 20px;
  }
  .techHeader span {
    color: #ef4c23;
  }
  
  .techHeader>p{
    text-align: justify;
  }
  
  
  .whyTechFeaturesCard {
    width: 80%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    column-gap: 40px;
    row-gap: 40px;
    flex-wrap: wrap;
    margin: auto;
  
  }
  
  .whyTechFeaturesCardBox {
    width: 100%;
    /* background-color: red; */
    padding: 30px 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
  }
  
  
  
  
  
  .whyTechFeaturesCardBox:hover {
    cursor: pointer;
    /* margin-top: 0; */
    transition: all 0.2s linear;
    /* transform: scale(1.1); */
    transform: translateY(-15px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  }
  
  
  /* for any type of tablte screen responsive */
  
  @media only screen and ( min-width:481px) and (max-width:900px){
  
    .whytechData {
      width: 100%;
      /* height: 500px; */
      /* background-color: green; */
      /* padding: 20px; */
    }
    .techHeader {
      width: 90%;
      margin: auto;
      text-align: center;
      padding: 20px;
    }
  
  .techHeader>p{
  
    text-align: justify;
  }
  
  
    .techHeader span {
      color: #ef4c23;
    }
    
    .whyTechFeaturesCard {
      width: 90%;
      display: flex;
      align-items: stretch;
      justify-content: center;
      column-gap: 40px;
      row-gap: 40px;
      flex-wrap: wrap;
      margin: auto;
    
    }
    
    .whyTechFeaturesCardBox {
      width: 42%;
      /* background-color: red; */
      padding: 30px 15px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 10px;
    }
    
    .whyTechFeaturesCardBox:hover {
      cursor: pointer;
      /* margin-top: 0; */
      transition: all 0.2s linear;
      /* transform: scale(1.1); */
      transform: translateY(-15px);
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  
  
  
  }