.ottAdminPannelContainer {
  display: flex;
}

.ottAdminPannelRightDiv {
  height: 600px;
  width: 60%;
  background: url("/Images/ott-app/Rectangle182362.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.ottAdminPannelRightDivFrameForImages {
  width: 90%;
  height: 500px;
}

.ottAdminPannelRightDivFrameForImages > img {
  width: 100%;
  height: 380px;
}

.ottAdminPannelLeftDiv {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-around;
  width: 40%;
  margin: auto;
  align-items: center;
  margin-bottom: 100px;
}

.ottAdminPannelLeftDivForCards {
  height: fit-content;
  width: 35%;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
}

.ottAdminPannelLeftDivForCards:hover {
  transform: scale(1.02);
  background-color: #ffebef;
}

.ottAdminPannelLeftDivForCards > h3 {
  color: red;
  margin: 0% auto;
}

.ottAdminPannelLeftDivForCards > p {
  font-size: 18px;
  margin: 2% auto;
}

.ottAdminPannelLeftDivHeading {
  color: white;
  text-align: center;
}

.ottAdminPannelLeftDivHeading > p {
  font-size: 18px;
}
