.ionicBottomFunnelMainContainer {
width: 100%;
margin-bottom: 1%;
margin-top: 3%;
}
.ionicBottomFunnelHeadingContainer {
width: 80%;
margin: auto;
text-align: center;
}
.ionicBottomFunnelHeadingContainer>p{
text-align: justify;
}
.ionicBottomFunnelContainer {
width: 98%;
display: flex;
flex-direction: column;
}
.ionicBottomFunnelBox {
width: 100%;
display: flex;
flex-direction: row;
margin-top: 2%;
}
.ionicBottomFunnelDetails {
  /* border: 2px solid gold; */
  width: 30%;
  /* height: auto; */
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 1%;
  margin-left: 3%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.ionicBottomFunnelDetails>p{
text-align: justify;
}
.ionicBottomFunnelDetails:hover {
cursor: pointer;
transition: all 0.2s linear;
transform: translateY(-15px);
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.ionicBottomFunnelDetailsImage {
width: 50px;
height: 50px;
margin: 2%;
object-fit: contain;
}
@media only screen and (min-width:0px) and (max-width:1024px){
.ionicBottomFunnelMainContainer {
width: 100%;
margin-bottom: 1%;
}
.ionicBottomFunnelHeadingContainer {
width: 95%;
text-align: center;
margin: auto;
}
.ionicBottomFunnelHeadingContainer p{
text-align: justify;
}
.ionicBottomFunnelContainer {
width: 100%;
display: flex;
flex-direction: column;
}
.ionicBottomFunnelBox {
width: 100%;
display: flex;
flex-direction: column;
margin-top: 2%;
}
.ionicBottomFunnelDetails {
width: 70%;
display: flex;
flex-direction: column;
background-color: white;
border-radius: 10px;
padding: 2%;
 margin: auto;
 margin-top: 3%;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.ionicBottomFunnelDetails:hover {
cursor: pointer;
transition: all 0.2s linear;
transform: translateY(-15px);
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
background-color: #81b0f6;
color: white;
}
.ionicBottomFunnelDetailsImage {
width: 50px;
height: 50px;
margin: 2%;
object-fit: contain;
}
}
