.groceryservicemainboxes {
  height: fit-content;
  border: 1px solid white;
  margin-top: 5%;
}

.groceryservicemainboxes > h2 {
  text-align: center;
}

.groceryserviceflexingbox {
  height: fit-content;
  display: flex;
}

.groceryserviceflexingboxleftbox {
  height: 480px;
  width: 45%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: bottom;
}

.groceryseryserviceleftboxinsiderupperimage {
  height: 450px;
  width: 70%;
  margin: 0% 0% 0% 5%;
}

.groceryseryserviceleftboxinsiderupperimage > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.groceryserviceflexingboxrightbox {
  height: fit-content;
  width: 60%;
  margin-left: 1%;
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
}
/* .icecreamcustomerappmainboxes >h2{
    text-align: center;
    margin-top: 3%;
} */

.groceryserviceindivisualbox {
  height: 185px;
  width: 42%;
  margin: 1%;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.groceryserviceindivisualbox:hover {
  transform: scale(1.02);
}

.canabisdeliveryappindivisualboxforlogo > img {
  /* border: 1px solid red; */
  height: 100%;
  width: 100%;
  object-fit: contain;
  padding: 5px;
}

.groceryserviceindivisualboxfortext > h4 {
  /* border: 2px solid red; */
  margin-top: 1%;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  vertical-align: baseline;
  margin-bottom: 1%;
  margin-top: 0%;
}

.groceryserviceindivisualboxfortext > p {
  /* border: 2px solid red; */
  margin-top: 0%;
  font-size: 15px;
  line-height: 20px;
  vertical-align: baseline;
  font-weight: 400;
}
