.grocerycustomerappmainboxes {
  height: fit-content;
  border: 1px solid white;
}

.grocerycustomerappmainboxes > h1 {
  text-align: center;
}

.grocerydeliveryappflexingbox {
  height: fit-content;
  display: flex;
}

.grocerydeliveryappflexingboxleftbox {
  height: 480px;
  width: 40%;
}

.grocerydeliveryappleftboxinsiderupperimage {
  /* border: 1px solid red; */
  height: 470px;
  width: 75%;
  margin: 0% 0% 0% 10%;
}

.grocerydeliveryappleftboxinsiderupperimage > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.grocerydeliveryappflexingboxrightbox {
  height: fit-content;
  width: 60%;
  margin-left: 1%;
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
}

.grocerycustomerappmainboxes > h2 {
  text-align: center;
  margin-top: 3%;
}

.grocerydeliveryappindivisualbox {
  height: 220px;
  width: 42%;
  margin: 1%;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.grocerydeliveryappindivisualbox:hover {
  transform: scale(1.02);
  color: white;
  background-color: #ef4c00;
}

.grocerydeliveryappindivisualbox > div > h4 {
  margin-top: 1%;
  font-size: 25px;
  font-weight: 600;
  line-height: 21.6px;
  vertical-align: baseline;
  margin-bottom: 1%;
  margin-top: 3%;
}

.grocerydeliveryappindivisualbox > div > p {
  /* border: 1px solid red; */
  margin-top: 3%;
  font-size: 16px;
  line-height: 20px;
  vertical-align: baseline;
  font-weight: 400;
}
