.groceryadminpannelmainboxes {
  height: fit-content;
  margin-top: 5%;
}

.groceryadminpannelmainboxsometextupper {
  height: fit-content;
  margin-left: 4%;
}

.groceryadminpannelmainflexboxclass {
  height: fit-content;
  display: flex;
}

.groceryadminpannelleftbox {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  width: 55%;
  margin-left: 3%;
  margin-top: 2%;
}

.groceryadminpannelmapperboxindivisyal {
  height: 250px;
  width: 42%;
  margin: 1%;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.groceryadminpannelmapperboxindivisyal:hover {
  background-color: #f7ab97;
  color: white;
  /* margin-top: 0; */
  transition: all 0.2s linear;
  /* transform: scale(1.1); */
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.groceryamadminpannelrightbox {
  width: 45%;
  margin-left: 1%;
  margin-top: 3%;
  height: 480px;
  background: url("/Images/grocery/backgrounds/Background2.png");
}

.groceryamadminpannelrightboxinnerimage {
  height: 400px;
  width: 90%;
  margin: 5% 3% 3% 5%;
}

.groceryadminpannelmapperboxindivisyal > div > h4 {
  font-size: 25px;
  font-weight: 600;
  line-height: 21.6px;
  vertical-align: baseline;
  margin-top: 3%;
  margin-bottom: 1%;
}

.groceryadminpannelmapperboxindivisyal > div > p {
  margin-top: 3%;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  vertical-align: baseline;
}

.groceruyCustomerappindivisualboxforlogo {
  /* border: 1px solid red; */
  height: 23%;
  width: 18%;
}

.groceruyCustomerappindivisualboxforlogo > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  padding: 5px;
}

@media (max-width: 480px) {
  .groceryadminpannelmainboxes {
    height: fit-content;
    margin-top: 5%;
    padding: 10px;
    box-sizing: border-box  ;
  }

  .groceryadminpannelmainboxsometextupper {
    height: fit-content;
    margin-left: 0%;
    text-align: center;
    box-sizing: border-box;
  }

  .groceryadminpannelmainflexboxclass {
    flex-direction: column-reverse;
  }

  .groceryamadminpannelrightbox {
    width: 100%;
    margin: 0;
    height: 250px;
    padding: 10px;
    box-sizing: border-box;
  }

  .groceryamadminpannelrightboxinnerimage {
    height: 230px;
    width: 100%;
    margin: 0;
  }
  .groceryamadminpannelrightboxinnerimage > img {
    object-fit: contain;
  }

  .groceryadminpannelleftbox {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    margin: 0;
    row-gap: 20px;
  }

  .groceryadminpannelmapperboxindivisyal {
    height: fit-content;
    width: 100%;
    margin: 0%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
  }
  
  .groceryadminpannelmapperboxindivisyal:hover {
    background-color: #f7ab97;
    color: white;
    /* margin-top: 0; */
    transition: all 0.2s linear;
    /* transform: scale(1.1); */
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
