.groceryservicemainboxes {
  height: fit-content;
  border: 1px solid white;
  margin-top: 5%;
}

.groceryservicemainboxes > h2 {
  text-align: center;
}

.groceryserviceflexingbox {
  height: fit-content;
  display: flex;
}

.groceryserviceflexingboxleftbox {
  height: 480px;
  width: 45%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: bottom;
}

.groceryseryserviceleftboxinsiderupperimage {
  height: 450px;
  width: 38%;
  margin: 0% 0% 0% 25%;
}

/* .groceryseryserviceleftboxinsiderupperimage > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
} */

.groceryserviceflexingboxrightbox {
  height: fit-content;
  width: 60%;
  margin-left: 1%;
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
}

.groceryserviceindivisualbox {
  height: 220px;
  width: 42%;
  margin: 1%;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.groceryserviceindivisualbox:hover {
  transform: scale(1.02);
  background-color: #ef3c00;
  color: white;
}

.groceryserviceindivisualboxfortext > h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 21.6px;
  vertical-align: baseline;
  margin-top: 3%;
  margin-bottom: 1%;
}

.groceryserviceindivisualboxfortext > p {
  margin-top: 3%;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  vertical-align: baseline;
}
