.groceryadminpannelmainboxes {
  height: fit-content;
  margin-top: 5%;
}

.groceryadminpannelmainboxsometextupper {
  height: fit-content;
  margin-left: 4%;
}

.groceryadminpannelmainflexboxclass {
  height: fit-content;
  display: flex;
}

.groceryadminpannelleftbox {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  width: 55%;
  margin-left: 3%;
  margin-top: 2%;
}

.groceryadminpannelmapperboxindivisyal {
  height: 170px;
  width: 42%;
  margin: 1%;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.groceryadminpannelmapperboxindivisyal:hover {
  transform: scale(1.02);
}

.groceryamadminpannelrightbox {
  width: 45%;
  margin-left: 1%;
  margin-top: 3%;
  height: 480px;
}

.groceryamadminpannelrightboxinnerimage {
  height: 450px;
  width: 95%;
  margin: 0% 3% 3% 2%;
}

.groceryamadminpannelrightboxinnerimage > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.groceryadminpannelmapperboxindivisyal > div > h4 {
  margin-top: 1%;
  font-size: 22px;
  font-weight: 600;
  line-height: 21.6px;
  vertical-align: baseline;
  margin-bottom: 1%;
  margin-top: 0%;
}

.groceryadminpannelmapperboxindivisyal > div > p {
  margin-top: 2%;
  font-size: 15px;
  line-height: 20px;
  vertical-align: baseline;
  font-weight: 400;
}
