.nextholidaymainboxes{
 
    height: 90vh;
     display: flex;
     background: url("/Images/portfolio/Portfolio banners/Group 770961.png");
     background-size: 100% 100%;
     background-repeat: no-repeat;
     margin-top: 0%;
     color: white;
}

.nextholidayleftbox{
    height: 100%;
    width: 55%;

}

.nextholidayrighttbox{
    height: fit-content;
    width: 45%;
    margin-right: 2%;
    margin-top: 5%;
    
}

.nextholidayrighttbox>p{
    font-size: smaller;
}

.nextholidayrightinsideflexbox{
    /* border: 1px solid red; */
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.nextholidaywrapbox1{
/* border: 1px solid green; */
width: 40%;
margin: 3%;
padding: 5px;
}

.nextholidaywrapbox1>h5{
    font-weight: 900;
    font-size: 15px;
    text-align: center;
  
}

.nextholidaywrapbox1>p{
    font-size: 12px;
    text-align: center;
    margin-top: -0%;

}

.portfolioavailableonicon{
    display: flex;
     margin: auto;
     width: 60%;

}

.porfolionextholidayicon{
    margin: 5% ;
    height: 15%;
    width: 20%;
    border-right: 1px solid white;

}

.porfolionextholidayicon:nth-child(2){
    width: 25%;
}


.porfolionextholidayicon:last-child{
    border-right: none;
}

.androidappicon>img{
    height: 50%;
    width: 50%;
    object-fit: contain;
}



.porfolionextholidayicon>img{
    height: 50%;
    width: 50%;
    object-fit: contain;
}

.nextholidaywrapboximages{
    width: 40%;
    height: 5%;
    margin-left: 8%;
  

}
.nextholidaywrapboximages>img{
    height: 100%;
    width: 70%;
    object-fit: contain;
}

.nextholidayviewcasebutton{
    padding: 10px 50px;
  border-radius: 100px;
  width: 220px;
  background-color: transparent;
  border: #ef4c23;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  margin-left: 25%;
  margin-top: 20%;
}

.nextholidayviewcasebutton:hover{
    background-color: white;
    color: black;
}