.websiteBuilderBannerImageDiv {
  position: relative;
  height: 100vh;
  z-index: 1;
  background: url("/Images/WebsiteBuilderApp/BannerBackground.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.websiteBuilderBannerImageDiv img {
  width: 100%;
  height: 100vh;
}

.websiteBuilderBannerTopComp {
  display: flex;
  flex-direction: row;
  margin-top: 4%;
}

.websiteBuilderBannerTopImageComp {
  position: absolute;
  top: 9%;
  right: 0%;
  left: 40%;
}

.websiteBuilderBannerAnimation {
  width: 85%;
}

.websiteBuilderBannerTopImageComp img {
  height: 600px;
  width: 100%;
}

.websiteBuilderBannerContentDiv {
  position: absolute;
  z-index: 2;
  top: 35%;
  left: 5%;
  width: 45%;
}

.websiteBuilderBannerContentDiv h1 {
  color: white;
  font-size: 35px;
}

.websiteBuilderBannerContentDiv p {
  color: white;
  margin-top: 3%;
}

.websiteBuilderBannerContentDiv button {
  padding: 10px 40px;
  border-radius: 10px;
  background-color: #ef4c23;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.websiteBuilderBannerContentDiv button:hover {
  color: #ef4c23;
  background-color: white;
}



@media only screen and (min-width:0px) and (max-width:600px){

  .websiteBuilderBannerImageDiv {
    position: relative;
    height: 100vh;
   background-color: #6E5FD4;
  }
  

  .websiteBuilderBannerTopComp {
    display: flex;
   flex-wrap: wrap;
    margin-top: 4%;
  }
  
  .websiteBuilderBannerTopImageComp {
    margin-left: -40%;

  }
  
  .websiteBuilderBannerAnimation {
    width: 85%;
  }
  
  .websiteBuilderBannerContentDiv {
    position: absolute;
    z-index: 2;
    top: 60%;
    left: 5%;
    width: 90%;
   
  }
  
  .websiteBuilderBannerContentDiv h1 {
    color: white;
    font-size: 30px;
    text-align: center;
  }
  
  .websiteBuilderBannerContentDiv p {
    color: white;
    margin-top: 3%;
    text-align: justify;
  }
  
  .websiteBuilderBannerContentDiv button {
    padding: 10px 40px;
    border-radius: 10px;
    background-color: #ef4c23;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .websiteBuilderBannerContentDiv button:hover {
    color: #ef4c23;
    background-color: white;
  }
}