.StartHeremaindiv{
background: url("/Images/fullappdevelopmentcyclephotos/bg2.png");
background-size: 100% 100%;
background-repeat: no-repeat;
background-position: center;
height: 85vh;
margin-top: 4%;
}
.StartHeremaindivcontain{
width: 40%;
margin-left: 9%;
}
.StartHeremaindivcontain p{
width: 50%;
}

.StartHerelogocontain{
display: flex;
flex-direction: row;
width: 30%;
margin-left: 10.5%;
margin-top: 3%;
}

.StartHerelogoinnercontain{
margin-left: 1%;
}
.StartHerelogoinnercontain h5{
margin: 0%;
}
.StartHerelogoinnercontain p{
margin: 0%;
}
.StartHerelogocontain1{
display: flex;
flex-direction: row;
width: 30%;
margin-left: 10.5%;
margin-top: 3%;
}
.StartHerelogocontain2{
display: flex;
flex-direction: row;
width: 30%;
margin-left: 10.5%;
margin-top: 3%;
}
.StartHerelogocontain3{
display: flex;
flex-direction: row;
width: 30%;
margin-left: 10.5%;
margin-top: 3%;
}