.alcoholAdmin {
  width: 100%;
  height: max-content;
  margin: 60px 0;
}

.alcoholAdmin > h1 {
  margin-left: 7%;
  color: #9a4c72;
}

.alcoholAdminsub {
  width: 100%;
  justify-content: space-between;
  margin: auto;
  display: flex;
  align-items: center;
}

.alcoholAdminleft {
  width: 45%;
  height: 500px;
  padding: 10px;
  display: flex;
  background: url("/Images/AlcoholDelivery/backgrounds/Background2.png");
  /* background: url("/public/Images/alcohol/rectanglebase.png"); */
  /* border: 2px solid red; */
  background-position: center;
  position: relative;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.alcoholAdminleft > div {
  width: 95%;
  height: 80%;
  margin: auto;
}

.alcoholAdminright {
  width: 45%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 30px;
  gap: 20px;
  justify-content: center;
}

.alcoholAdminright > div {
  padding: 10px 10px 10px 10px;
  height: 220px;
  width: 45%;
  border-radius: 18px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}

.alcoholAdminright > div:hover {
  background-color: #9a4c72;
  color: white;
  cursor: pointer;
  /* margin-top: 0; */
  transition: all 0.2s linear;
  /* transform: scale(1.1); */
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.alcoholAdminright > div > h3 {
  font-size: 18px;
  font-weight: 600;
  vertical-align: baseline;
  margin-top: 3%;
}

.alcohol-customer-image {
  width: 45%;
  height: 500px;
  text-align: right;
  margin: auto;
  margin-top: -10px;
}

.alcohol-customer-image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width:480px) {
  
  .alcoholAdmin {
    width: 100%;
    height: max-content;
    margin: 0;
    padding: 10px;
  }

  .alcoholAdmin > h1 {
    margin-left: 0%;
    color: #9a4c72;
    margin-bottom: 5%;
    text-align: center;
  }

  .alcoholAdminsub {
   flex-direction: column-reverse;
  }

  .alcoholAdminleft {
    width: 100%;
    height: 300px;
    padding: 10px;
  border-radius: 10px;
 
  }
  
  .alcoholAdminleft > div {
    width: 95%;
    height: 80%;
    margin: auto;
  }

  .alcoholAdminright {
    width: 100%;
    height: fit-content;
    align-items: stretch;

  }
  
  .alcoholAdminright > div {
    padding: 10px;
    height: fit-content;
    width: 100%;
  
  }
  
  .alcoholAdminright > div:hover {
   transform: none;
  }




}