.pickupcustomer {
  width: 97%;
  height: max-content;
  padding: 20px;
}

.pickupcustomerright {
  width: 60%;
  position: relative;
  text-align: center;
}

.pickupcustomerright h1 {
  text-align: left;
  margin-left: 4%;
  color: #5cacb2;
}

.pickupcustomerSols {
  width: 100%;
  display: flex;
  padding: 10px;
}

.pickupcustomerImage {
  width: 40%;
  height: 574px;
  position: relative;
  background: url("/Images/pickup/backgrounds/customerappbg.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 5%;
}

.variableImg {
  width: 70%;
  height: 480px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 43%;
  left: 52%;
}

.variableImg > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pickupcustomerText {
  width: 100%;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  padding: 25px 10px;
  row-gap: 24px;
}

.pickupcustomercard {
  /* border: 1px solid red; */
  width: 30%;
  height: 180px;
  padding: 20px 10px;
  border-radius: 10px;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pickupcustomercard:hover {
  cursor: pointer;
  transition: all 0.2s linear;
  transform: translateY(-15px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #f2daaf;
}

.pickupcustomercard > h6 {
  /* border: 1px solid red; */
  margin-top: 1%;
  text-align: left;
  font-size: 18px;
  line-height: 21.5px;
  vertical-align: baseline;
  font-weight: 500;
  margin-bottom: 0%;
}

.pickupcustomercard > p {
  /* border: 1px solid red; */
  margin-top: 1%;
  text-align: left;
  font-size: 16px;
  line-height: 16px;
  vertical-align: baseline;
  font-weight: 400;
  margin-bottom: 0%;
}

.pickupcustomerIcon {
  width: 60px;
  height: 60px;
  /* border: 1px solid green; */
  margin-top: 0%;
  margin-bottom: 0%;
}

.pickupcustomerIcon > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-top: 0%;
  margin-bottom: 0%;
}

.dummy {
  width: 30%;
}
