.pickupbannermaiboxes {
  height: 100vh;
  border: 1px solid white;
  background-repeat: no-repeat;
  background-size: 60% 100%;
  background-position-x: right;
  background-color: #fbdddd;
  object-fit: cover;
}

.pickupbannersometextbox {
  height: fit-content;
  width: 45%;
  margin-top: 20%;
  margin-left: 3%;
  padding: 5px;
}

.pickupbannerbutton {
  padding: 10px 50px;
  border-radius: 100px;
  width: 220px;
  background-color: #ef4c23;
  color: white;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 18px;
  font-weight: 600;
}

.pickupbannerbutton:hover {
  background-color: white;
  color: #ef4c23;
}

.pickupDeliveryBannerAimationDiv {
  position: absolute;
  width: 50%;
  right: 0%;
  top: 15%;
}

.pickupDeliveryBannerAnimation {
  /* border: 1px solid red; */
  width: 85%;
}
