.whyChooseIonicMainDiv {
width: 100%;
display: flex;
flex-direction: row-reverse;

/* border: 2px solid green; */
}
.whyChooseIonicContentText {
width: 60%;
margin-left: 5%;
margin-right: 5%;
margin-top: 8%;
/* border: 2px solid; */
align-self: flex-start;
}
.whyChooseIonicContentImage {
width: 32%;
object-fit: cover;
background-size: cover;
margin-left: 2%;
}
.whyChooseIonicContentImage > img {
width: 100%;
height: 100%;
}
@media only screen and (min-width:0px) and (max-width:1024px){
.whyChooseIonicMainDiv {
width: 100%;
display: flex;
flex-direction: column;
}
.whyChooseIonicContentText {
width: 95%;
margin: auto;
text-align: center;
}
.whyChooseIonicContentImage {
width: 80%;
height: fit-content;
object-fit: cover;
background-size: cover;
margin: auto;
}
.whyChooseIonicContentImage > img {
width: 100%;
height: 100%;
}
.whyChooseIonicContentText p{
text-align: justify;
}
}
