.mobiledevmainsolutionmainbox{
  height: fit-content;

}

.mobiledevmainsolutionmappingbox{
  width: 90%;

  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.mobiledevmainsolutionmappingboxindivisually{
  width: 22%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 5px;
  padding: 15px;
}

.mobilesolutionindivisuallyimagbox{
  height: 60px;
  width: 20%;

  padding: 10px;
}
.mobilesolutionindivisuallyimagbox>img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.mobilesolutionindivisualtxtbox>p{
  text-align: justify;
}