.flutterServicesMainDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.flutterServicesheading {
  color: black;
  width: 90%;
  margin: auto;
  font-weight: 500;
  margin-top: 2%;
  text-align: center;
}
.flutterServicesDescription {
  color: black;
  font-size: 16px;
  margin: auto;
  text-align: center;
  width: 80%;
}
.flutterServicesDescription p {
margin: 0%;
}
.flutterServicesContainerDiv {
  width: 80%;
  margin: auto;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.flutterServiceBox {
  width: 100%;
  margin: auto;
  margin-top: 4%;
  display: flex;
  flex-direction: row;
}
.flutterServicesContainerBoxes {
  width: 30%;
  border-radius: 5px;
  border: 1px solid lightgrey;
  background-color: white;
  margin-left: 2%;
  padding-left: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  flex-direction: column;
}

.flutterServicesContainerBoxes:hover {
  cursor: pointer;
  transition: all 0.2s linear;
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.flutterServiceBoxIcon {
  width: 30%;
  padding-left: 6px;
  border-radius: 5px;
  margin-top: 2%;
  object-fit: cover;
  background-size: cover;
}
.flutterServiceBoxHeading {
  width: 100%;
  font-weight: 500;
}
.flutterServiceBoxHeading h6{
  margin: 0%;
  font-size: 23px;
}
.flutterServiceBoxContent {
  font-size: 13px;
  padding: 15px;
}
.flutterServiceBoxContent>p{
  font-size: 16px;
  text-align: justify;

}
@media only screen and (min-width:0px) and (max-width:1024px){
  .flutterServicesMainDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .flutterServicesheading {
    color: black;
    width: 95%;
   margin: auto;
    font-weight: 500;
    
    text-align: center;
  }
  .flutterServicesDescription {
    color: black;
    font-size: 16px;
    margin: auto;
 
    width: 95%;
    text-align: justify;
  }
  .flutterServicesDescription p {
  margin: 0%;
  }
  .flutterServicesContainerDiv {
    width: 100%;
    margin: auto;

    border-radius: 5px;
    background-color: #f9f9f9;
  }
  .flutterServiceBox {
    width: 100%;
    margin: auto;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
  }
  .flutterServicesContainerBoxes {
    width: 70%;
    border-radius: 5px;
    background-color: white;
    margin: auto;
    margin-top: 2%;
    padding-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    flex-direction: column;
  }
  
  .flutterServicesContainerBoxes:hover {
    cursor: pointer;
    transition: all 0.2s linear;
    transform: scale(1.1);
  
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .flutterServiceBoxIcon {
    width: 30%;
    padding-left: 6px;
    border-radius: 5px;
    margin-top: 2%;
    object-fit: cover;
    background-size: cover;
  }
  .flutterServiceBoxHeading {
    width: 100%;
    font-weight: 600;
  }
  .flutterServiceBoxHeading h6{
    margin: 0%;
    font-size: 5px;
    text-align: center;
  }
  .flutterServiceBoxContent {
    padding: 5px 5px 5px 5px;
    font-size: 13px;
  }
  .flutterServiceBoxContent p{
    font-size: 16px;
    text-align: justify;
  
  }
}


