.businessanalysisbannermainbox {
height: 95vh;
margin-top: 90px;
display: flex;
background: #f5f5f5;
justify-content: space-between;
}
.businessanalysisbannerleftbox {
height: fit-content;
width: 35%;
margin: auto;
}
.businessanalysisbannerrightbox {
height: fit-content;
width: 55%;
}
.specialcolor {
color: #ef4c23;
text-decoration: none;
}
.businessanalysisbannerleftbox>h1 {
font-size: 40px;
text-align: justify;
}
.businessanalysisbannerbutton {
padding: 10px 50px;
border-radius: 10px;
width: 220px;
background-color: black;
border: none;
outline: none;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
font-size: 18px;
font-weight: 600;
color: white;
margin-top: 5%;
}
.businessanalysisbannerbutton:hover {
background-color: white;
color: black;
border: 1px solid black;
}