.realestatecustomerboxmain{
    height: fit-content;
    display: flex;
    background-color: white;
}

.realestatecustomerleftbox{
    width: 55%;
    margin-left: 3%;
    margin-top: 5%;
}

.realstatecustomerappleftboxsometextupper{
    height: fit-content;
    width: fit-content;
    margin-left: 2%;
  
}

.realestatecustomermappingmainbox{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
   
}

.realestatecustomericonind{
    height: 20%;
    width: 15%;
 
}

.realstatemapperindivisuallybox{
    width: 48%;
   height: 250px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 1%;
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
}

.realstatemapperindivisuallybox:hover{
  transition: all 0.2s linear;

  transform: translateY(-10px);
    background-color: #f4edcb;
}


.realestatecustomerrightbox{
    height: 550px;
    width: 45%;
  margin-top: 5%;
   
    margin-left: 3%;
    background: url("/Images/RealEstate/Backgrounds/Rectangle 144.webp");
    background-repeat: no-repeat;
    background-size: 95% 60%;
    background-position-y: bottom;
    background-position-x: right;
}

.realestatecustomerapprightboxformobile{
    height: 85%;
    width: 40%;
   
    margin: 5% 0% 3% 25%;
}

.realestatecustomerapprightboxformobile >img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}


@media only screen and (min-width:0px) and (max-width:480px){

.realestatecustomerboxmain{
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    background-color: white;
    position: relative;
    margin-top: 2%;
}

.realestatecustomerleftbox{
    width: 95%;
    margin-left: 3%;
 
}

.realstatecustomerappleftboxsometextupper{
    height: fit-content;
    width: fit-content;
   text-align: center;
    position: absolute;
    top: -0%;
    left: 15%;
    color: black;

}

.realstatecustomerappleftboxsometextupper h2{
  font-weight: 600;
  font-size: 25px;

}

.realestatecustomermappingmainbox{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
   
}

.realstatemapperindivisuallybox{
    width: 100%;
   max-height: max-content;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 1%;
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
}

.realstatemapperindivisuallybox:hover{
  transition: all 0.2s linear;
  transform: translateY(-10px);
    background-color: #f4edcb;
}


.realestatecustomerrightbox{
    height: fit-content;
    width: 100%;
  margin-top: 10%;
    margin-left: 3%;
    background: url("/Images/RealEstate/Backgrounds/Rectangle 144.webp");
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position-y: bottom;
    background-position-x: right;
}

.realestatecustomerapprightboxformobile{
    height: 85%;
    width: 40%;
   
    margin: 5% 0% 3% 25%;
}

.realestatecustomerapprightboxformobile >img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}


}