.plantBasedAdminPanel {
  width: 100%;
  height: max-content;
  margin: 60px 0;
}

.plantBasedAdminPanel > h1 {
  margin-left: 5%;
}

.plantBasedAdminPanelsub {
  width: 100%;
  justify-content: space-between;
  margin: auto;
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.plantBasedAdminPanelleft {
  width: 45%;
  height: 500px;
  display: flex;
  background-repeat: no-repeat;
  background-size: 100% 500px;
  position: relative;
}

.plantBasedAdminPanelright {
  width: 45%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  gap: 20px;
}

.plantBasedAdminPanelright > div {
  padding: 10px 10px 10px 10px;
  height: 200px;
  width: 45%;
  border-radius: 18px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}

.plantBasedAdminPanelright > div:hover {
  background-color: #e1f9f6;
}
.logisticLogo {
  height: 20%;
  width: 15%;
}
.logisticLogo > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.plantBasedAdminPanelright > div > h3 {
  margin-top: 1%;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  vertical-align: baseline;
  margin-bottom: 1%;
  margin-top: 0%;
}

.plantBasedAdminPanelright > div > p {
  margin-top: 0%;
  font-size: 14px;
  line-height: 20px;
  vertical-align: baseline;
  font-weight: 400;
}

.plantBasedAdminPanelmage {
  width: 80%;
  height: 500px;
  text-align: right;
  padding-bottom: 40px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 54%;
  left: 50%;
}

.plantBasedAdminPanelmage > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Media query for the Mobile Device */
@media (max-width: 480px) {
  .plantBasedAdminPanel {
    width: 100%;
    height: max-content;
  }

  .plantBasedAdminPanel > h1 {
    margin-left: 5%;
  }

  .plantBasedAdminPanelsub {
    width: 100%;
    margin: auto;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .plantBasedAdminPanelleft {
    width: 100%;
    height: 300px;
    display: flex;
    background-repeat: no-repeat;
    background-size: 100% 500px;
    position: relative;
  }
  .plantBasedAdminPanelright {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .plantBasedAdminPanelright > div {
    padding: 10px 10px 10px 10px;
    height: 250px;
    width: 100%;
    border-radius: 18px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    margin-left: 5%;
  }
  .plantBasedAdminPanelright > div:hover {
    background-color: #e1f9f6;
  }

  .plantBasedAdminPanelright > div > h3 {
    font-size: 18px;
  }
  .plantBasedAdminPanelmage {
    width: 80%;
    height: 250px;
    text-align: right;
    padding-bottom: 40px;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  .plantBasedAdminPanelmage > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .plantBasedAdminPanel {
    width: 100%;
    height: max-content;
    margin: 60px 0;
  }

  .plantBasedAdminPanel > h1 {
    margin-left: 5%;
  }

  .plantBasedAdminPanelsub {
    width: 100%;
    margin: auto;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .plantBasedAdminPanelleft {
    width: 100%;
    height: 350px;
    display: flex;
    background-repeat: no-repeat;
    background-size: 100% 500px;
    position: relative;
  }

  .plantBasedAdminPanelright {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .plantBasedAdminPanelright > div {
    padding: 10px 10px 10px 10px;
    height: 170px;
    width: 100%;
    border-radius: 18px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    margin-left: 5%;
  }

  .plantBasedAdminPanelright > div:hover {
    background-color: #e1f9f6;
  }

  .plantBasedAdminPanelright > div > h3 {
    font-size: 18px;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .plantBasedAdminPanelmage {
    width: 80%;
    height: 250px;
    text-align: right;
    padding-bottom: 40px;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  .plantBasedAdminPanelmage > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
