.szlogisticcontainer {
width: 100%;
height: 85vh;
margin-top: 120px;
}
.szlogisticsubcontainer {
width: 100%;
height: 85vh;
background: url("/Images/logistic/Rectangle.webp");
background-repeat: no-repeat;
background-size: 100% 110px;
background-position-y: center;
display: flex;
}

.szlogisticright {
width: 50%;
position: relative;
padding-top: 40px;
}

.szlogisticleft {
width: 50%;
position: relative;
padding: 100px 30px;
}

.szlogisticleft > div {
width: 90%;
padding: 35px 20px;
position: absolute;
transform: translate(-50%, -50%);
top: 45%;
left: 52%;
}

.szlogisticleft > div > p {
padding-top: 10px;
color: white;
}
.szrecpurple {
width: 100%;
/* border: 2px solid red; */
height: 550px;
position: absolute;
z-index: 0;
}
.szchoclatecream {
width: 30%;
height: 350px;
position: absolute;
z-index: 1;
margin-left: 23%;
margin-top: 3%;
}
.szchoclatecream > img {
width: 100%;
height: 100%;
object-fit: contain;
}
.szbowllogistic {
width: 50%;
height: 385px;
position: absolute;
z-index: 2;
margin-left: 38%;
margin-top: 30%;
}
.szbowllogistic > img {
width: 100%;
height: 100%;
object-fit: contain;
}
.szlogisticbtn {
padding: 10px 60px;
font-weight: 600;
font-size: 18px;
border: none;
margin-top: 5%;
background-color: #ef4c23;
color: white;
border-radius: 25px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.szlogisticbtn:hover {
color: #ef4c23;
background-color: white;
}
