.logicadmin {
width: 100%;
height: max-content;
margin: 60px 0;

}

.logicadmin > h1 {
margin-left: 5%;
}

.logicadminsub {
width: 100%;
justify-content: space-between;
margin: auto;
margin-top: 2%;
display: flex;
flex-wrap: wrap;
align-items: center;
}

.logicadminleft {
width: 45%;
height: 500px;
display: flex;
 background-repeat: no-repeat;
background-size: 100% 500px;
position: relative;
}

.logicadminright {
width: 45%;
height: 100%;
display: flex;
flex-wrap: wrap;
margin: auto;
gap: 20px;
}

.logicadminright > div {
padding: 10px 10px 10px 10px;
height: 250px;
width: 45%;
border-radius: 18px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
border-radius: 10px;
background-color: white;
cursor: pointer;
}

.logicadminright > div:hover {
background-color: #e1f9f6;
cursor: pointer;
transition: all 0.2s linear;
transform: translateY(-10px);
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logicadminright > div > h3 {
font-size: 18px;
margin-top: 0%;
margin-bottom: 3%;
}

.logisticAdminImage {
width: 80%;
height: 500px;
text-align: right;
padding-bottom: 40px;
position: absolute;
transform: translate(-50%, -50%);
top: 54%;
left: 50%;
}

.logisticAdminImage > img {
width: 100%;
height: 100%;
object-fit: contain;
}

/* Media query for the Mobile Device */

@media (max-width: 480px) {
.logicadmin {
width: 100%;
height: max-content;
margin: 60px 0;
}

.logicadmin > h1 {
margin-left: 5%;
font-size: 30px;
margin-left: 30%;
}

.logicadminsub {
width: 100%;
justify-content: space-between;
margin: auto;
margin-top: 2%;
flex-direction: column-reverse;
flex-wrap: wrap;
align-items: center;
}

.logicadminleft {
width: 90%;
height: 230px;
flex-direction: column-reverse;
background-repeat: no-repeat;
background-size: 100% 500px;
position: relative;
}

.logicadminright {
width: 100%;
height: fit-content;
flex-direction: column;
flex-wrap: wrap;
margin: auto;
gap: 20px;
margin-top: 3%;
}

.logicadminright > div {
padding: 10px 10px 10px 10px;
height: 220px;
width: 90%;
margin-left: 5%;
border-radius: 18px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
border-radius: 10px;
background-color: white;
cursor: pointer;
}

.logicadminright > div:hover {
background-color: #e1f9f6;
cursor: pointer;
transition: all 0.2s linear;
transform: translateY(-10px);
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logicadminright > div > h3 {
font-size: 18px;
margin-top: 0%;
margin-bottom: 3%;
}

.logicadminright > div > p {
margin-top: 0%;
}

.logisticAdminImage {
width: 80%;
height: 500px;
text-align: right;
padding-bottom: 40px;
position: absolute;
transform: translate(-50%, -50%);
top: 54%;
left: 50%;
}

.logisticAdminImage > img {
width: 100%;
height: 100%;
object-fit: contain;
margin-top: 4%;
}
}

@media (min-width: 481px) and (max-width: 1024px) {
.logicadmin {
width: 100%;
height: max-content;
margin: 60px 0;
}

.logicadmin > h1 {
font-size: 37px;
font-weight: 600;
margin-left: 35%;
}

.logicadminsub {
width: 100%;
justify-content: space-between;
margin: auto;
margin-top: 2%;
flex-direction: column-reverse;
flex-wrap: wrap;
align-items: center;
}

.logicadminleft {
width: 90%;
height: 500px;
flex-direction: column-reverse;
background-repeat: no-repeat;
background-size: 100% 500px;
position: relative;
}

.logicadminright {
width: 100%;
height: fit-content;
flex-direction: column;
flex-wrap: wrap;
margin: auto;
gap: 20px;
margin-top: 3%;
}

.logicadminright > div {
padding: 10px 10px 10px 10px;
height: 190px;
width: 90%;
margin-left: 4.5%;
border-radius: 18px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
border-radius: 10px;
background-color: white;
cursor: pointer;
}

.logicadminright > div:hover {
background-color: #e1f9f6;
cursor: pointer;
transition: all 0.2s linear;
transform: translateY(-10px);
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logicadminright > div > h3 {
font-size: 25px;
margin-top: 0%;
margin-bottom: 3%;
}

.logicadminright > div > p {
margin-top: 0%;
}

.logisticAdminImage {
width: 80%;
height: 500px;
text-align: right;
padding-bottom: 40px;
position: absolute;
transform: translate(-50%, -50%);
}

.logisticAdminImage > img {
width: 100%;
height: 100%;
object-fit: contain;
}
}
