.applybanner {
  width: 100%;
  height: 100vh;
  background-color: #ef4c23;
  display: flex;
  justify-content: center;
}
.bannerContent {
  width: 55%;
  position: relative;
  color: white;
}
.bannerContent > div {
  width: 70%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.bannerContent > div > h1 {
  font-size: 45px;
}
.bannerImage {
  width: 45%;
}
.bannerImage > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.search {
  width: 100%;
}
.search > input {
  width: 100%;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  border: none;
}
.searchbtn {
  padding: 12px 10px;
  width: 220px;
  background-color: white;
  margin: auto;
  color: black;
  margin-top: 4%;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 18px;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
}
.searchbtn:hover {
  color: white;
  background-color: black;
}
