.exclusiveFeatureMaindiv {
display: flex;
flex-direction: column;
margin-top: 5%;
}
.exclusiveFeatureInnermaindiv {
display: flex;
flex-direction: row;
justify-content: center;
}
.exclusiveFeatureInnerdivcontain {
text-align: center;
width: 18%;
padding-left: 3%;
padding-right: 3%;
padding-top: 2%;
margin-top: 3%;
margin-left: 1%;
margin-right: 1%;
}
.exclusiveFeatureInnerdivcontain:hover {
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.exclusiveFeatureInnerdivcontain1 {
text-align: center;
width: 25%;
padding-left: 3%;
padding-right: 3%;
padding-top: 2%;
margin-top: 3%;
margin-left: 1%;
margin-right: 1%;
background-color: #fff1ed;
}
.exclusiveFeatureInnerdivcontain1:hover {
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.exclusiveFeatureInnerdivcontain p {
font-size: 18px;
}
.exclusiveFeatureInnerdivcontain1 p {
font-size: 18px;
}
.exclusiveFeatureMaindiv h1 {
text-align: center;
font-size: 40px;
}
