.cannbiescustomerappmainboxes {
  height: fit-content;
}

.cannbiescustomerappmainboxes > h1 {
  text-align: center;
}

.cannbiesdeliveryappflexingbox {
  height: fit-content;
  margin-top: 2%;
  display: flex;
}

.cannabiesdeliveryappflexingboxleftbox {
  height: 480px;
  width: 45%;
  background: url("/Images/newcannabispage/bannesbackgrounds/Rectangle 4861.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: contain;
}

.cannabiesdeliveryappleftboxinsiderupperimage {
  height: 500px;
  width: 55%;
  margin: 5% 0% 0% 10%;
}

.cannabiesdeliveryappleftboxinsiderupperimage > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.cannbiesdeliveryappflexingboxrightbox {
  height: fit-content;
  width: 60%;
  margin-left: 1%;
  margin-right: 3%;
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
}

.cannbiescustomerappmainboxes > h2 {
  text-align: center;
  margin-top: 3%;
}

.cannabiesdeliveryappindivisualbox {
  height: 220px;
  width: 45%;
  margin: 1%;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.cannabiesdeliveryappindivisualbox:hover {
  transform: scale(1.02);
  background-color: #abd96b;
  /* margin-top: 0; */
  transition: all 0.2s linear;
  /* transform: scale(1.1); */
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cannabisDeliveryTextDiv > h4 {
  font-size: 26px;
  font-weight: 600;
  line-height: 21.6px;
  vertical-align: baseline;
  margin-bottom: 1%;
  margin-top: 2%;
}

.cannabisDeliveryTextDiv > p {
  margin-top: 4%;
  font-size: 15px;
  line-height: 20px;
  vertical-align: baseline;
  font-weight: 400;
}

.cannbiesdeliveryappindivisualboxforlogo {
  height: 25%;
  width: 18%;
}

.cannbiesdeliveryappindivisualboxforlogo > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  padding: 5px;
}

@media (max-width: 480px) {
  .cannbiescustomerappmainboxes {
    height: fit-content;
    padding: 10px;
  }
  .cannbiescustomerappmainboxes > h2 {
    text-align: center;
    margin: 5%;
  }

  .cannbiesdeliveryappflexingbox {
    height: fit-content;
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }
  .cannabiesdeliveryappflexingboxleftbox {
    height: 220px;
    width: 100%;
    background-position-y: center;
    background-size: 100% 100%;
  }

  .cannabiesdeliveryappleftboxinsiderupperimage {
    height: 220px;
    width: 100%;
    margin: 0;
  }

  .cannbiesdeliveryappflexingboxrightbox {
    height: fit-content;
    width: 100%;
    margin: 3% 0;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
  }

  .cannabiesdeliveryappindivisualbox {
    height: fit-content;
    width: 100%;
    margin: 0%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
  }
  
  .cannabiesdeliveryappindivisualbox:hover {
    transform: scale(1.02);
    background-color: #abd96b;
    /* margin-top: 0; */
    transition: all 0.2s linear;
    /* transform: scale(1.1); */
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
