.cannabisdriverappmainboxes {
  height: fit-content;
  border: 1px solid white;
  margin-top: 5%;
  margin-bottom: 5%;
}

.cannabisdriverappmainboxes > h2 {
  margin-left: 44%;
}

.canabisdriverappflexingbox {
  height: fit-content;
  display: flex;
}

.canabisdriverappflexingboxleftbox {
  /* border: 1px solid red; */
  height: 500px;
  width: 45%;
  background: url("/Images/newcannabispage/bannesbackgrounds/Rectangle 4912.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: bottom;
}

.canabisdeliveryappleftboxinsiderupperimage {
  height: 500px;
  width: 100%;
  margin: 0% 0% 5% 0%;
}

.canabisdeliveryappleftboxinsiderupperimage > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.canabisdriverappflexingboxrightbox {
  height: fit-content;
  width: 60%;
  margin-left: 1%;
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
}

.icecreamcustomerappmainboxes > h2 {
  text-align: center;
  margin-top: 3%;
}

.canabisdriverappindivisualbox {
  height: 250px;
  width: 45%;
  margin: 1%;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.canabisdriverappindivisualbox:hover {
  transform: scale(1.02);
  background-color: #abd96b;
  /* margin-top: 0; */
  transition: all 0.2s linear;
  /* transform: scale(1.1); */
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.canabisdeliveryappindivisualboxforlogo {
  height: 25%;
  width: 15%;
}

.canabisdeliveryappindivisualboxforlogo > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  padding: 5px;
}

.icecreamdeliveryappindivisualboxfortext > h4 {
  font-size: 25px;
  font-weight: 600;
  line-height: 21.6px;
  vertical-align: baseline;
  margin-top: 2%;
  margin-bottom: 1%;
}

.icecreamdeliveryappindivisualboxfortext > p {
  margin-top: 3%;
  font-size: 17px;
  line-height: 20px;
  vertical-align: baseline;
  font-weight: 400;
}
