/* Banner Css */

.tdtooldeliverycontainer {
  width: 100%;
  height: 100vh;
}

.txtooldeliverysubcontainer {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: black;
  display: flex;
  justify-content: space-between;
}

.tdtooldeliverysometxtbox > h1 {
  font-size: 40px;
  font-weight: 500;
}


.tdtooldeliverysometxtbox > p {
  text-align: justify;
  color: black;
}

.tdtooldeliveryleft {
  width: 50%;
  top: 7%;
  position: relative;
  padding: 100px 30px;
}

.tdtooldeliveryleft > div {
  width: 90%;
  padding: 30px 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 52%;
}

.tdtooldeliveryleft > div > h1 {
  margin-top: -8%;
}

.tdtooldeliveryleft > div > p {
  margin-top: 5%;
  color: black;
}

.tdtooldeliverybtn {
  padding: 10px 60px;
  font-weight: 600;
  font-size: 18px;
  border: none;
  margin-top: 5%;
  background-color: #3380f2;
  color: white;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.tdtooldeliverybtn:hover {
  color: #3380f2;
  background-color: white;
}

.toolDeliveryAnimationDiv {
  position: absolute;
  top: 12%;
  right: 0%;
  left: 55%;
  width: 40%;
}

.toolDeliveryMainAnimation {
  width: 65%;
}

/* Media query for the Mobile Device */
@media only screen and (max-width:600px){
  .tdtooldeliverycontainer {
    width: 100%;
    height: 90vh;
  }
  
  .txtooldeliverysubcontainer {
    width: 100%;
    color: black;
    display: flex;
    flex-wrap:wrap ;
    flex-direction: column-reverse;
    justify-content: center;
    margin: 0;
    height: 90vh;

  }
  
  .tdtooldeliverysometxtbox > h1 {
    font-size: 40px;
    font-weight: 500;
  }
  
  
  .tdtooldeliverysometxtbox > p {
    text-align: justify;
    color: black;
  }
  
  .tdtooldeliveryleft {
    width: 100%;
    height: 50%;
    margin-top: 70%;
  }
  
  .tdtooldeliveryleft > div {
    width: 90%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
  }
  
  
  .tdtooldeliveryleft > div > p {
    margin-top: 5%;
    color: black;
  }
  
  .tdtooldeliverybtn {
    padding: 10px 60px;
    font-weight: 600;
    font-size: 18px;
    border: none;
    margin-top: 5%;
    margin-left: 15%;
    background-color: #3380f2;
    color: white;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .tdtooldeliverybtn:hover {
    color: #3380f2;
    background-color: white;
  }
  
  .toolDeliveryAnimationDiv {
    position: absolute;
    top: 12%;
    right: 0%;
    left: 15%;
    width: 70%;
  }
  
  .toolDeliveryMainAnimation {
    width: 65%;
  }
  
  }