/* Tool Delivery Admin */

.Tooladmin {
  width: 100%;
  height: 600px;
}

.Tooladmin > h1 {
  margin-left: 5%;
  color: #5cacb2;
}

.tooladminsub {
  width: 100%;
  height: 500px;
  justify-content: space-between;
  margin: auto;
  margin-top: 2%;
  display: flex;
}

.tooladminright {
  width: 100%;
  margin-left: 1%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  margin-left: 3%;
}

.tooladminright > div {
  padding: 10px;
  margin: 1%;
  height: 240;
  width: 45%;
  border-radius: 18px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}

.tooladminright > div:hover {
  background-color: #e1f9f6;
  cursor: pointer;
  transition: all 0.2s linear;
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.tooladminright > div > h3 {
  font-size: 18px;
  margin-top: 0%;
}

.toolcustomerpannelleft{
  width: 50%;
  margin-top: -30px;
  background: url("/Images/tooldeliveryapp/Component19.webp");
  background-repeat: no-repeat;
  background-size: 100%;
}

.toolCustomerImage {
  width: 100%;
  height: 550px;
}

.toolCustomerImage > img {
  object-fit: contain;
}
