/* Tool Delivery Admin */

.tooldeliveryadmin {
  width: 100%;
  height: 600px;
}

.tooldeliveryadmin > h1 {
  margin-left: 5%;
  color: #5cacb2;
}

.tooldeliveryadminsub {
  width: 100%;
  height: 500px;
  justify-content: space-between;
  margin: auto;
  margin-top: 2%;
  display: flex;
}

.tooldeliveryadminleft {
  width: 50%;
  height: 500px;
  display: flex;
  background-repeat: no-repeat;
  background-size: 100% 500px;
}

.tooldeliveryadminright {
  width: 50%;
  margin-left: 1%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  margin-left: 3%;
}

.tooldeliveryadminright > div {
  padding: 10px;
  margin: 1%;
  height: fit-content;
  width: 45%;
  border-radius: 18px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}

.tooldeliveryadminright > div:hover {
  background-color: #e1f9f6;
  cursor: pointer;
  transition: all 0.2s linear;
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.tooldeliveryadminright > div > h3 {
  font-size: 18px;
  margin-top: 0%;
}

.tooldeliveryAdminImage {
  width: 100%;
  height: 500px;
  text-align: right;
}

.tooldeliveryAdminImage > img {
  object-fit: contain;
}
