/* TolDeliveryLowerBanner CSS */

.ToolDeliveryLowerBanner {
  background-image: url("/Images/tooldeliveryapp/Component\ 21.webp");
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: 100% 500px;
  background-position-x: center;
}

.tooldeliverylowerbannertxt {
  text-align: center;
  padding: 30px;
}

.tdtooldeliverybtn {
  padding: 10px 60px;
  font-weight: 600;
  font-size: 18px;
  border: none;
  margin-top: 5%;
  background-color: #3380f2;
  color: white;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.tdtooldeliverybtn:hover {
  color: #3380f2;
  background-color: white;
}

@media (max-width:480px){
  .ToolDeliveryLowerBanner {
    background-image: url("/Images/tooldeliveryapp/Component\ 21.webp");
    width: 100%;
    height: 250px;
    margin-top: 10%;
    background-repeat: no-repeat;
    background-size: 100% 500px;
    background-position-x: center;
  }
  
  .tooldeliverylowerbannertxt {
    text-align: center;
    padding: 30px;
  }
  
  .tdtooldeliverybtn {
    padding: 10px 60px;
    font-weight: 600;
    font-size: 18px;
    border: none;
    margin-top: 5%;
    background-color: #3380f2;
    color: white;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .tdtooldeliverybtn:hover {
    color: #3380f2;
    background-color: white;
  }
}