.mobileuxuib2csolutionmainboxes{
    height: fit-content;
    background-color: white;
    /* border: 2px solid red; */
    padding-top: 5%;
}

.mobileuxuib2csolutionmainboxes >h1{
    margin-left: 5%;
}

.mobileuxuib2csolutionmainboxes >p {
    margin-left: 5%;
    width: 60%;
    text-align: justify;
    padding-bottom: 1%;
    /* border: 2px solid  red; */
}


.mobilesolutionuxuib2bb2cbanner {
    height: 550px;
    width: 100%;
    border: 1px solid white;

    background: url("/Images/MobileUIUXDesign/BannerBackgrounds/Component 65.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
   
}


.mobilesoulutionb2bb2cbannermiddlediv {

margin-top: 10%;
display: flex;
justify-content: center;
color: white;
}

.mobilesoulutionb2bb2cbannermiddlediv >h1{
  font-size: 50px;
  
}


.mobileb2bb2cuibox{
    height: 10%;
    width: 20%;

    text-align: center;
}




.mobileb2bb2cuxbox{
    height: 10%;
    width: 20%;
    text-align: center;
    
    margin-left: 2%;
}


.mobiledatapublishb2bb2c{
    height: 50%;
    width: 60%;
    
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 2%;
}

.mobiledatapublishb2bb2caftermappingbox{
    width:120px;
    /* border: 2px solid green; */
    height: 120px;
    margin: 1%;
    padding: 5px;
}
.mobiledatapublishb2bb2caftermappingbox>p{
    /* border: 2px solid red; */
    text-align: center;
}