.meatdeliveryadminpannelmainboxes {
  height: fit-content;
  padding-top: 50px;
  display: flex;
  background-color: white;
}

.meatdeliveryadminleftbox {
  height: 600px;
  width: 55%;
  margin-left: 5%;
  
}

.meatdeliveryadminuppertextbox {
  height: fit-content;
  margin-left: 1.5%;
  font-size: 17px;
}

.meateliverymappingboxforadminpannel {

  height: 70%;
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
 
}

.meatdeliveryadminboxindivisually {
  height: 220px;
  width: 44%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 1%;
  padding: 15px;
  border-radius: 10px;
}

.meatdeliveryadminboxindivisually:hover {
  transform: scale(1.02);
  background-color: #FFEBE7;
}

.meatdeliveryadminboxindivisually > h4 {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 2%;
}

.meatdeliveryadminboxindivisually > p {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.meatdeliveryadminrightboxes {
  height: 450px;
  width: 45%;
  margin: 3% 0% 0% 2%;
  background: url("/Images/meatdelieveryapp/Rectangle 4793.webp");
}



.specialcolor {
  color: #ef4c23;
}
