.meatdeliverybannermainboxes {
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  position: relative;
  background-color: white;
}

.meatdeliverybannerfortextboxes {
  height: fit-content;
  width: 40%;
  position: absolute;
  top: 32%;
  left: 5%;

}

.meatdeliverybannerfortextboxes p{
  text-align: justify;
}

.meatdeliverybannerfortextboxes > h1 {
  font-weight: 700;
  font-size: 40px;
}



.meatdeliverybanner {
  padding: 10px 50px;
  border-radius: 100px;
  width: 220px;
  background-color: #ef4c23;
  color: white;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 5%;
}

.meatdeliverybanner:hover {
  background-color: white;
  color: #ef4c23;
}

.marketplacefreelancermaindivnewbanner {
  margin-top: 30px;
}

.meatDeliveryBannerAnimationDiv {
  /* border: 1px solid red; */
  width: 43%;
  position: absolute;
  right: 0%;
  top: 17%;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .meatdeliverybannermainboxes {
  height: 90vh;
 
}

.meatdeliverybannerfortextboxes {
  height: fit-content;
  width: 90%;
  position: absolute;
  top: 45%;
  left: 5%;

}

.meatdeliverybannerfortextboxes p{
  text-align: justify;
}

.meatdeliverybannerfortextboxes > h1 {
  font-weight: 700;
  font-size: 20px;
}



.meatdeliverybanner {
  padding: 10px 50px;
  border-radius: 100px;
  width: 220px;
  background-color: #ef4c23;
  color: white;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 5%;
  margin-left: 17%;
}

.meatdeliverybanner:hover {
  background-color: white;
  color: #ef4c23;
}

.marketplacefreelancermaindivnewbanner {
  margin-top: 30px;
}

.meatDeliveryBannerAnimationDiv {
  /* border: 1px solid red; */
  width: 43%;
  position: absolute;
  right: 0%;
  top: 17%;
}

}